<div fxLayoutWrap="wrap">
    <div fxLayoutAlign="end start">
        <div style="font-size: 18px;cursor: pointer;" (click)="close()">X</div>
    </div>
    <div style="padding: 5px;">
        <form nz-form [formGroup]="addForm">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="bankName" nzRequired>开户行名称 </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入开户行 ！">
                    <input nz-input formControlName="bankName" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="bankAccount" nzRequired>银行卡号</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入银行卡号！">
                    <input nz-input formControlName="bankAccount" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="accountAddress" nzRequired>开户行地址</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入开户行地址！">
                    <input nz-input formControlName="accountAddress" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="isCorporate" nzRequired>账号类型</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-radio-group formControlName="isCorporate" ngModel={{dataDetailResponseModel.is_corporate}}>
                        <label nz-radio nzValue=1>对公 </label>
                        <label nz-radio nzValue=2>对私</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contacts" nzRequired> 联系人</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入联系人姓名！">
                    <input nz-input formControlName="contacts" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contactsPhone" nzRequired>联系方式</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入联系人电话！">
                    <input nz-input formControlName="contactsPhone" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="11">
                    <button nz-button nzType="primary" (click)="update()">更新</button>
                </nz-form-control>
            </nz-form-item>
        </form>

    </div>
</div>