<div fxLayoutWrap="wrap">
    <div fxLayoutAlign="end start">
        <div style="font-size: 18px;cursor: pointer;" (click)="close()">X</div>
    </div>
    <div style="padding: 5px;">

        <form nz-form [formGroup]="addForm">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title" nzRequired>标题</nz-form-label>
                <nz-form-control [nzSm]="15" [nzXs]="24">
                    <input nz-input formControlName="title" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="status">状态</nz-form-label>
                <nz-form-control [nzSm]="15" [nzXs]="24">
                    <nz-radio-group ngModel={{status}} formControlName="status">
                        <label nz-radio nzValue=0 [nzDisabled]="status===0">禁用</label>
                        <label nz-radio nzValue=1 [nzDisabled]="status===1">启用</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>


            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="11">
                    <button nz-button nzType="primary" (click)="update()" *ngIf="status===1">下架</button>
                    <button nz-button nzType="primary" (click)="update()" *ngIf="status===0">上架</button>
                </nz-form-control>
            </nz-form-item>
        </form>

    </div>
</div>