<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="100px">
            <app-store-banner></app-store-banner>


            <div class="textContain">
                <div style="width: 1200px;margin: auto;">
                    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                        <div>
                            <img src="http://cdn.bigline.com.cn/static/images/success.png">
                        </div>
                        <div>
                            <p style="font-size: 16px;font-weight: bold;color: #000;">您的店铺（供应商）账户注册成功!</p>
                        </div>
                        <div>
                            <p>为了保障您在本平台的相关权益,请登录店铺（供应商）后台进行账户认证,感谢您的支持!</p>
                        </div>
                        <div>
                            <a routerLink="/store/login">我要去认证，马上登录</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>