<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <div>
                        <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="add()">添加</button>
                    </div>

                    <form [formGroup]="searchForm">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                            <div fxFlex=10>
                                <mat-form-field>
                                    <mat-select placeholder="选择状态" formControlName="status">
                                        <mat-option value=''>全部</mat-option>
                                        <mat-option value=0>暂停</mat-option>
                                        <mat-option value=1>正常</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex=50>
                                <mat-form-field>
                                    <mat-label>商户名/联系人/联系人手机号/座机号</mat-label>
                                    <input matInput value="" formControlName="storeName" placeholder="请输入商户名/联系人/联系人手机号/座机号">
                                </mat-form-field>

                            </div>
                            <div fxFlex=20>
                                <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="search()">搜索</button>
                            </div>

                        </div>
                    </form>


                    <div class="mat-elevation-z8">
                        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
                            (nzPageSizeChange)="changePageSize($event)">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">商铺id</th>
                                    <th style="text-align: center;">商铺编码</th>
                                    <th style="text-align: center;">商户名 </th>
                                    <th style="text-align: center;">区域</th>
                                    <th style="text-align: center;">商户详细地址</th>
                                    <th style="text-align: center;">联系人</th>
                                    <th style="text-align: center;">联系人手机号</th>
                                    <th style="text-align: center;">座机号码</th>
                                    <th style="text-align: center;">传真</th>
                                    <th style="text-align: center;">状态</th>
                                    <th style="text-align: center;">店铺账号管理</th>
                                    <th style="text-align: center;">店铺银行账号管理</th>
                                    <th style="text-align: center;">操作</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <td>{{data.store_id}}</td>
                                    <td>{{data.code}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.region_full_name}}</td>
                                    <td>{{data.address}}</td>
                                    <td>{{data.contact}}</td>
                                    <td>{{data.mobile}}</td>
                                    <td>{{data.phone}}</td>
                                    <td>{{data.fax}}</td>
                                    <td>
                                        <div *ngIf="data.status===0">
                                            暂停
                                        </div>
                                        <div *ngIf="data.status===1">
                                            正常
                                        </div>
                                    </td>
                                    <td>
                                        <div style="cursor: pointer;" (click)="account(data)" title="账号详情">
                                            <!-- <mat-icon>assignment</mat-icon> -->
                                            <img src="http://cdn.bigline.com.cn/static/images/account.png">
                                        </div>
                                    </td>
                                    <td>
                                        <div style="cursor: pointer;" (click)="bankAccount(data)" title="银行账号详情">
                                            <!-- <mat-icon>assignment</mat-icon> -->
                                            <img src="http://cdn.bigline.com.cn/static/images/account.png">
                                        </div>
                                    </td>

                                    <td>
                                        <div style="cursor: pointer;" (click)="edit(data)" title="更新">
                                            <!-- <mat-icon>edit</mat-icon> -->
                                            <img src="http://cdn.bigline.com.cn/static/images/edit.png">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>

                    </div>
                </div>

            </div>
        </mat-card>
    </div>
</div>