<div class="steps-content">

    <div class="steps-content">
        <div class="lev3" *ngIf="is_approve===1">
            <div style="padding: 90px">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">

                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="120px">
                        <div style="font-weight: bold;">当前审核进度：<span style="color: red;">等待审核</span></div>
                        <div><a (click)="history()">查看审核历史记录</a></div>
                    </div>

                </div>
            </div>
        </div>


        <div class="lev3" *ngIf="is_approve===2">
            <div style="padding: 90px">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                        <img src="http://cdn.bigline.com.cn/static/images/success.png">
                        <h4>店铺名为：{{detailModel?.name}}&nbsp;&nbsp;认证资料已通过审核</h4>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
                        <p style="margin-left: 100px;">认证成功</p>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="120px">
                        <div>当前审核进度：<span style="color: blue;">已通过</span></div>
                        <div><a (click)="history()">查看审核历史记录</a></div>
                    </div>

                </div>
            </div>
        </div>


        <div class="lev3" *ngIf="is_approve===3">
            <div style="padding: 90px">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                        <img src="http://cdn.bigline.com.cn/static/images/smile.png">
                        <h4>店铺名为：{{detailModel?.name}}&nbsp;&nbsp;认证资料未通过审核</h4>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
                        <p style="margin-left: 100px;">认证未通过审核原因：{{reason}}</p>
                        <p style="margin-left: 100px;">认证失败</p>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="120px">
                        <div>当前审核进度：<span style="color: blue;">未通过</span></div>
                        <div><a (click)="history()">查看审核历史记录</a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>