<div fxLayoutWrap="wrap">
    <div style="padding: 5px;">
        <form nz-form [formGroup]="addForm">
            <!-- <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="shop_id" nzRequired>门店</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择门店">
                    <nz-select nzPlaceHolder="请选择" formControlName="shop_id" [(ngModel)]="statussss">
                        <nz-option *ngFor="let store of listDataMap" [nzLabel]="store.shop_name" [nzValue]="store.id">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item> -->

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="account" nzRequired>用户名</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input formControlName="account" ngModel={{data?.account}} [disabled]="true" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>真实姓名</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input formControlName="name" ngModel={{data.real_name}}/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>手机号</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input formControlName="phoneNumber" ngModel={{data.mobile}}/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="status" nzRequired>状态</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-radio-group formControlName="status" ngModel={{data.status}}>
                        <label nz-radio nzValue=0>暂停 </label>
                        <label nz-radio nzValue=1>正常</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="staff_type" nzRequired>门店员工</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-radio-group ngModel={{data.staff_type}} formControlName="staff_type">
                        <label nz-radio nzValue='0'>否</label>
                        <label nz-radio nzValue='1'>是</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>


        </form>

    </div>
</div>