
<div fxLayoutWrap="wrap">
    <div class="h3-img" fxLayout="row" fxLayoutAlign="space-between center">
        <h4>从图库导入资源</h4>
        <i nz-icon style="font-size: 18px;cursor: pointer;"  [nzType]="'close'" (click)="close()"></i>
    </div>
    <div style="padding: 5px;">
        <form nz-form [formGroup]="addForm" nz-row>

            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="keyword">关键字</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input formControlName="keyword" />
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="region_code">区域</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-cascader nzChangeOnSelect [nzOptions]="nzOptions" [(ngModel)]="region_codes" formControlName="region_code"></nz-cascader>
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                <div nz-row [nzJustify]="'end'">
                    <button nz-button nzType="primary" nzShape="round">查询</button>
                </div>
            </nz-form-item>
        </form>
        <div class="border"></div>
        <nz-table #basicTable [nzData]="listOfData" [nzPageSize] = "20" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
            <tr style="display: flex;justify-content: flex-start;">
                <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)" style="display:flex;">全选</th>
            </tr>
            <tbody  style="display: flex;flex-wrap: wrap;justify-content:flex-start;align-content: space-between;">
              <div class="tr" *ngFor="let data of basicTable.data">
                <td
                [nzChecked]="setOfCheckedId.has(data)"
                (nzCheckedChange)="onItemChecked(data, $event)"
                class="checked"
                ></td>
                <td class="item">{{ data }}</td>
              </div>
            </tbody>
        </nz-table>
        <div class="border"></div>
        <div style="display: flex;justify-content: flex-end;">
            <button nz-button nzType="primary">导入图片</button>
        </div>
    </div>
</div>