<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <form [formGroup]="searchForm">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                            <div fxFlex=10>
                                <mat-form-field>
                                    <mat-select placeholder="选择状态" formControlName="status">
                                        <mat-option value=''>全部</mat-option>
                                        <mat-option value=0>禁用</mat-option>
                                        <mat-option value=1>启用</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex=10>
                                <mat-form-field>
                                    <mat-select placeholder="选择店铺" formControlName="storeId">
                                        <mat-option value=''>全部</mat-option>
                                        <mat-option *ngFor="let store of storeList" [value]="store.id">
                                            {{store.value}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxFlex=50>
                                <mat-form-field>
                                    <mat-label>条款标题</mat-label>
                                    <input matInput value="" formControlName="title" placeholder="请输入条款标题">
                                </mat-form-field>
                            </div>
                            <div fxFlex=20>
                                <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="search()">搜索</button>
                            </div>

                        </div>
                    </form>


                    <div class="mat-elevation-z8">
                        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
                            (nzPageSizeChange)="changePageSize($event)">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">店铺名称</th>
                                    <th style="text-align: center;">标题</th>
                                    <th style="text-align: center;">状态</th>
                                    <th style="text-align: center;">审核状态</th>
                                    <th style="text-align: center;">审核操作</th>
                                    <!-- <th style="text-align: center;">状态操作</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <td>{{data?.store?.name}}</td>
                                    <td>{{data.title}}</td>
                                    <td>
                                        <div *ngIf="data.status===0">
                                            禁用
                                        </div>
                                        <div *ngIf="data.status===1">
                                            启用
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="data.check_status===0">
                                            未提交审核
                                        </div>
                                        <div *ngIf="data.check_status===1">
                                            审核中
                                        </div>
                                        <div *ngIf="data.check_status===2">
                                            已通过
                                        </div>
                                        <div *ngIf="data.check_status===3">
                                            未通过
                                        </div>
                                    </td>
                                    <td>
                                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                                            <div style="cursor: pointer;" *ngIf="data.check_status===1" (click)="review(data)" title="审核">
                                                <mat-icon>assignment_ind</mat-icon>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- <td>
                                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                                            <div style="cursor: pointer;" *ngIf="data.status===1" (click)="down(data)" title="禁用">
                                                <mat-icon>arrow_circle_down</mat-icon>
                                            </div>
                                            <div style="cursor: pointer;" *ngIf="data.status===0" (click)="up(data)" title="开启">
                                                <mat-icon>arrow_circle_up</mat-icon>
                                            </div>
                                        </div>
                                    </td> -->
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>

            </div>
        </mat-card>
    </div>
</div>