<div class="box">
    <div class="header">
        <h4><strong>授权协议</strong></h4>
        <i class="icon" nz-icon nzType="exclamation-circle" nzTheme="outline"></i>
    </div>
    <div class="outer-container">
        <div class="inner-container">
            <div class="content">
               
                <p class="p"> 我公司同意并接受本电子协议并默认其具备合法有效性且对我公司具有法律约束力。
                    我公司特授权深圳启航机器人服务有限公司（以下简称“启航机器人”）及其关联公司（包括但不限于深圳大航假期旅游有限公司等）在“XXXX网”网站及相关附属产品、其关联公司旗下各营销渠道、启航机器人指定的其他第三方平台中，我司产品使用的图片、漫画、视频、影像素材等均由我司永久免费提供。
                    本授权协议系统确认后即刻生效。</p>
                <p class="p">我公司承诺：</p>
                <p class="p">1，我公司提供的图片、漫画、视频、影像素材等均由我公司独立完成创作，并拥有完整版权，且不存在任何瑕疵，不侵犯任何第三方的合法权益，包括但不限于，版权、商标权肖像权、隐私权等，如其中涉及第三方的肖像权的，我公司承诺已获得该第三方的授权许可，且有权提供给贵公司及贵公司关联公司使用；</p>
                <p class="p">2，我公司承诺所提供的文字、图片、漫画、视频、影像素材等不会以诋毁供应商/竞争对手产品/资源的方式宣传自身产品，不会出现具体公司名称/公司logo/其他具有明显指向性的说明（包括图片等）。如因此引发法律纠纷， 贵公司及贵公司关联公司有权追责我司,并要求承担对贵公司及贵公司关联公司造成的全部损失。</p>
                <p class="p">3，我公司提供的图片、漫画、视频、影像素材等（含文字信息）均不存在违反国家有关法律法规，包括但不限于《中华人民共和国广告法》的相关规定，若我公司以图片形式提供地图类信息，则该地图类信息应坚决维护中华人民共和国国家主权和领土完整。我公司承诺严格遵守贵公司不时制定的对图片、漫画、视频、影像素材等的各项要求，否则，贵公司及贵公司关联公司有权对涉及的图片、漫画、视频、影像素材等进行自行处理，包括但不限于修改、编辑及删除等。</p>
                <p class="p">4，我公司以邮件或光盘的形式向贵公司提供图片、漫画、视频、影像素材，贵公司及贵公司关联公司有权对我公司提供的图片、漫画、视频、影像素材等作出复制、剪辑、修改、编辑、删除等；</p>
                <p class="p">5，如贵公司或贵公司关联公司因该资料受到投诉、举报或诉讼等，我公司应积极主动介入处理纠纷，做不侵权抗辩，并且根据贵公司要求提供权利证明、授权文件等不侵权证据材料。贵公司有权对我公司提供的上述资料进行例行检查，一经发现产品图片或其他资料侵权或乙方提供虚假授权文件或如因所提供的图片、漫画、视频、影像素材等内容中含有违反相关规定的文字信息的，贵公司有权按照3000元/张（个）向我公司收取罚金，该罚金可直接在贵公司或贵公司关联公司与我公司的业务往来款项中直接予以扣除，如贵公司及贵公司关联公司 因此产生损失的，贵公司及贵公司关联公司有权单方面与我公司终止合作并要求我公司承担除罚金外贵公司及贵公司关联公司因此产生的全部损失，包括但不限于行政处罚金、赔偿金、许可费、调查费、差旅费、公证费、评估费、诉讼费、律师费、与投诉人达成的和解费等；</p>
                <p class="p">6，对该协议内容予以保密；</p>
                <p class="p">7，因本授权协议产生的任何争议，如协商未成的，应提交深圳市福田区人民法院解决</p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <button nz-button nzType="primary" (click)="agreeHandle()">已阅读</button>
    </div>
</div>