<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <div fxLayout="row" fxLayoutGap="20px">
                        <button mat-raised-button color="primary" style="width: 100px;letter-spacing: 2px;" (click)="addProduct()">添加产品</button>
                    </div>
                    <form [formGroup]="nameForm">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                            <div fxFlex=50>
                                <mat-form-field>
                                    <mat-label>请输入关键字:</mat-label>
                                    <input matInput value="" formControlName="storeId">
                                </mat-form-field>

                            </div>
                            <div fxFlex=20>
                                <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;">搜索</button>
                            </div>
                        </div>
                    </form>

                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" style="width: 100%;">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> id </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                            <ng-container matColumnDef="title">
                                <th mat-header-cell *matHeaderCellDef> 标题 </th>
                                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                            </ng-container>

                            <ng-container matColumnDef="few_days">
                                <th mat-header-cell *matHeaderCellDef>几天 </th>
                                <td mat-cell *matCellDef="let element">
                                    <div style="cursor: pointer;">{{element.few_days}}</div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="few_nights">
                                <th mat-header-cell *matHeaderCellDef>几晚</th>
                                <td mat-cell *matCellDef="let element">
                                    <div style="cursor: pointer;">{{element.few_nights}}</div>
                                </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="adult_price">
                                <th mat-header-cell *matHeaderCellDef>成人价格</th>
                                <td mat-cell *matCellDef="let element">
                                    <div style="cursor: pointer;">{{element.adult_price}}</div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="child_price">
                                <th mat-header-cell *matHeaderCellDef>儿童价格 </th>
                                <td mat-cell *matCellDef="let element">
                                    <div style="cursor: pointer;">{{element.child_price}}</div>
                                </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>状态</th>
                                <td mat-cell *matCellDef="let element">
                                    <div style="cursor: pointer;">{{element.status}}</div>
                                </td>
                            </ng-container>                          
                            
                            <ng-container matColumnDef="updated_at">
                                <th mat-header-cell *matHeaderCellDef>修改时间</th>
                                <td mat-cell *matCellDef="let element">
                                    <div style="cursor: pointer;">{{element.updated_at|date:'yyyy-MM-dd hh:mm:ss'}}</div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> 操作 </th>
                                <td mat-cell *matCellDef="let element">
                                    <div style="cursor: pointer;" (click)="edit(element)">
                                        <mat-icon>edit</mat-icon>
                                    </div>
                                </td>
                            </ng-container>



                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [length]="resultsLength" #paginator [pageSizeOptions]="[1,10, 15, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>

            </div>
        </mat-card>
    </div>
</div>