<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <form [formGroup]="searchForm">
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="status">状态</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-select nzPlaceHolder="请选择状态" formControlName="status" nzAllowClear nzShowSearch>
                                        <nz-option [nzLabel]="'全部'" [nzValue]=""></nz-option>
                                        <nz-option [nzLabel]="'禁用'" [nzValue]="0"></nz-option>
                                        <nz-option [nzLabel]="'开启'" [nzValue]="1"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="name">搜索关键字</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="name" placeholder="昵称/真实姓名/手机号码" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <div fxFlex=5>
                            <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="search()">搜索</button>
                        </div>
                        <div fxFlex=5>
                            <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="reset()">重置</button>
                        </div>

                    </form>
                    <div class="mat-elevation-z8 ListBox">
                        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
                            (nzPageSizeChange)="changePageSize($event)" [nzLoading]="loading">
                            <thead>
                                <tr>
                                    <th>用户id</th>
                                    <th>昵称</th>
                                    <th>真实姓名</th>
                                    <th>性别</th>
                                    <th>电话</th>
                                    <th>账户余额</th>
                                    <th>头像</th>
                                    <th>状态</th>
                                    <th>修改状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <td>{{data.user_id}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.real_name}}</td>
                                    <td>{{data.gender}}</td>
                                    <td>{{data.phone}}</td>
                                    <td><a (click)="routeIt(data)" title="跳转到用户记录">{{data.money}}元</a></td>
                                    <td>
                                        <img [src]="data?.avatar_url" alt="" style="width: 50px;">
                                    </td>
                                    <td>
                                        <div *ngIf="data.status===0">
                                            禁用
                                        </div>
                                        <div *ngIf="data.status===1">
                                            开启
                                        </div>
                                    </td>
                                    <td>
                                        <div style="cursor: pointer;" (click)="up(data)">
                                            <div *ngIf="data.status===0">

                                                <img src="http://cdn.bigline.com.cn/static/images/up.png" title="开启">

                                            </div>
                                            <div *ngIf="data.status===1">
                                                <img src="http://cdn.bigline.com.cn/static/images/down.png" title="禁用">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                                            <div style="cursor: pointer;" (click)="edit(data)" title="编辑">
                                                <img src="http://cdn.bigline.com.cn/static/images/edit.png">
                                            </div>

                                            <div style="cursor: pointer;" (click)="detail(data)" title="查看详情">
                                                <i nz-icon nzType="eye" nzTheme="fill"> </i>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>