<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <form [formGroup]="searchForm">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                            <div fxFlex=10>
                                <mat-form-field>
                                    <mat-select placeholder="选择状态" formControlName="status">
                                        <mat-option value=''>全部</mat-option>
                                        <mat-option value=0>禁用</mat-option>
                                        <mat-option value=1>开启</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex=50>
                                <mat-form-field>
                                    <mat-label>昵称/真实姓名</mat-label>
                                    <input matInput value="" formControlName="name" placeholder="请输入关键字">
                                </mat-form-field>

                            </div>
                            <div fxFlex=20>
                                <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="search()">搜索</button>
                            </div>

                        </div>
                    </form>
                    <div class="mat-elevation-z8 ListBox">
                        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
                            (nzPageSizeChange)="changePageSize($event)" [nzLoading]="loading">
                            <thead>
                                <tr>
                                    <th>昵称</th>
                                    <th>真实姓名</th>
                                    <th>性别</th>
                                    <th>电话</th>
                                    <th>状态</th>
                                    <th>修改状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <td>{{data.name}}</td>
                                    <td>{{data.real_name}}</td>
                                    <td>{{data.gender}}</td>
                                    <td>{{data.phone}}</td>
                                    <td>
                                        <div *ngIf="data.status===0">
                                            禁用
                                        </div>
                                        <div *ngIf="data.status===1">
                                            开启
                                        </div>
                                    </td>
                                    <td>
                                        <div style="cursor: pointer;" (click)="up(data)">
                                            <div *ngIf="data.status===0">

                                                <img src="http://cdn.bigline.com.cn/static/images/up.png" title="开启">

                                            </div>
                                            <div *ngIf="data.status===1">

                                                <img src="http://cdn.bigline.com.cn/static/images/down.png" title="禁用">

                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="cursor: pointer;" (click)="edit(data)" title="编辑">

                                            <img src="http://cdn.bigline.com.cn/static/images/edit.png">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>