<div fxLayoutWrap="wrap">
    <div style="padding: 5px;">
        <form nz-form [formGroup]="addForm">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="member_min">最小成团人数为</nz-form-label>
                <nz-form-control [nzSm]="13" [nzXs]="24">
                    <nz-input-number style="width:132px" [ngModel]="data[1]?.member_min" formControlName="member_min" (keyup)="numTest($event)" [nzMin]="0"></nz-input-number>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="member_max">最大成团人数为</nz-form-label>
                <nz-form-control [nzSm]="13" [nzXs]="24">
                    <nz-input-number style="width:132px" [ngModel]="isMemberMax" formControlName="member_max" (keyup)="numTest($event)" [nzMin]="0"></nz-input-number>
                </nz-form-control>
                <p style="font-size: 12px;color: red;letter-spacing: 1px;margin-top: 5px;margin-left: 5px;">！填写0表示不限人数</p>
            </nz-form-item>
        </form>
    </div>
</div>