<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">

        <div class="example-container">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                <div fxLayout="row" fxLayoutGap="20px">
                    <button mat-raised-button color="primary" style="letter-spacing: 2px;" routerLink="/admin/main/financePreSaleList">返回自由行预售订单列表</button>
                </div>

                <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
                    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                        <mat-card>
                            <div>
                                <div fxLayout="column" fxLayoutAlign="start stretch">
                                    <div fxLayout="row" fxLayoutAlign="space-between center">
                                        <div>
                                            <h4 style="padding-left: 10px;padding-top: 10px;">预售抢购信息</h4>
                                        </div>
                                    </div>
                                    <nz-divider></nz-divider>
                                    <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">

                                        <div>
                                            <h5 style="font-weight: bold;">{{detailModel?.product_name}}</h5>
                                            <div>
                                                <button class="btn" *ngIf="detailModel?.use_status===0">未使用</button>
                                                <button class="btn" *ngIf="detailModel?.use_status===1">部分使用</button>
                                                <button class="btn" *ngIf="detailModel?.use_status===2">已使用</button>
                                                <button class="btn" *ngIf="detailModel?.use_status===3">过期作废</button>
                                            </div>
                                        </div>
                                        <div style="margin-top:13px">
                                            <form nz-form [formGroup]="addForm" nz-row>
                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="presell_id">预售id
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <input nz-input formControlName="presell_id" nzBorderless readonly [ngModel]="detailModel?.id" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="order_id">订单id
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <input nz-input formControlName="order_id" nzBorderless readonly [ngModel]="detailModel?.order_id" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="store_id">店铺名称
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <input nz-input formControlName="store_id" nzBorderless readonly [ngModel]="detailModel?.store_name" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="date_pay">抢购日期
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="12" [nzXs]="24">
                                                            <input nz-input formControlName="date_pay" nzBorderless readonly [ngModel]="detailModel?.created_at|date:'yyyy-MM-dd HH:ss:mm'" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="pay_nums">购买份数
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="12" [nzXs]="24">
                                                            <input nz-input formControlName="pay_nums" nzBorderless readonly [ngModel]="detailModel?.number+'份'" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="ticket_price">预售价格
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="12" [nzXs]="24">
                                                            <input nz-input formControlName="ticket_price" nzBorderless readonly [ngModel]="detailModel?.ticket_price+'元'" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="subsidy_price">补贴金额
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="12" [nzXs]="24">
                                                            <input nz-input formControlName="subsidy_price" nzBorderless readonly [ngModel]="detailModel?.subsidy_price+'元'" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>


                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="date_use">可使用有效日期
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="12" [nzXs]="24">
                                                            <input nz-input formControlName="date_use" nzBorderless readonly [ngModel]="detailModel?.use_start_date+'~'+detailModel?.use_end_date" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="contact_name">购买人
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="12" [nzXs]="24">
                                                            <input nz-input formControlName="contact_name" nzBorderless readonly [ngModel]="detailModel?.name" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="contact_phone">
                                                            购买人手机号
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="12" [nzXs]="24">
                                                            <input nz-input formControlName="contact_phone" nzBorderless readonly [ngModel]="detailModel?.phone" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>



                                            </form>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </mat-card>

                        <mat-card *ngIf="codeList.length!=0">
                            <div>
                                <div fxLayout="column" fxLayoutAlign="start stretch">
                                    <div fxLayout="row" fxLayoutAlign="space-between center">
                                        <div>
                                            <h4 style="padding-left: 10px;padding-top: 10px;">预约码信息</h4>
                                        </div>
                                    </div>
                                    <nz-divider></nz-divider>
                                    <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                        <div class="mat-elevation-z8">
                                            <nz-table #rowSelectionTableCode [nzData]="codeList">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;">预约码</th>
                                                        <th style="text-align: center;">预约码金额</th>
                                                        <th style="text-align: center;">使用状态</th>
                                                        <th style="text-align: center;">预约订单号</th>
                                                        <th style="text-align: center;">抢购日期</th>
                                                        <th style="text-align: center;">出发日期</th>
                                                        <th style="text-align: center;">补差价</th>
                                                        <th style="text-align: center;">预约来源</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of rowSelectionTableCode.data">
                                                        <td>{{data.code}}</td>
                                                        <td>{{data.ticket_price}}</td>
                                                        <td>{{data?.status_info}}</td>
                                                        <td>{{data?.ticket_order_id}} </td>
                                                        <td>{{data?.created_at|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                                        <td>{{data?.use_date}}</td>
                                                        <td>{{data?.extra_charge}}</td>
                                                        <td>{{data?.source}}</td>
                                                    </tr>
                                                </tbody>
                                            </nz-table>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </mat-card>


                        <mat-card *ngIf="dataPayLog.length!=0">
                            <div>
                                <div fxLayout="column" fxLayoutAlign="start stretch">
                                    <div fxLayout="row" fxLayoutAlign="space-between center">
                                        <div>
                                            <h4 style="padding-left: 10px;padding-top: 10px;">收款流水信息</h4>
                                        </div>
                                    </div>
                                    <nz-divider></nz-divider>
                                    <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                        <div class="mat-elevation-z8">
                                            <nz-table #rowSelectionTablePayLog [nzData]="dataPayLog">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;">订单id</th>
                                                        <th style="text-align: center;">支付流水号</th>
                                                        <th style="text-align: center;">金额</th>
                                                        <th style="text-align: center;">支付状态</th>
                                                        <th style="text-align: center;">支付方式</th>
                                                        <th style="text-align: center;">支付方法</th>
                                                        <th style="text-align: center;">支付时间</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of rowSelectionTablePayLog.data">
                                                        <td>{{data.order_id}}</td>
                                                        <td>{{data.transaction_id}}</td>
                                                        <td>{{data.fee}}元</td>
                                                        <td>
                                                            <span *ngIf="data.status===0">已取消/失效</span>
                                                            <span *ngIf="data.status===1">待完成</span>
                                                            <span *ngIf="data.status===2">已完成</span>
                                                            <span *ngIf="data.status===3">已确认</span>
                                                        </td>
                                                        <td>{{data.pay_type_info}} </td>
                                                        <td>
                                                            <span *ngIf="data.pay_way==0">线上支付</span>
                                                            <span *ngIf="data.pay_way==1">后台手动录入</span>
                                                            <span *ngIf="data.pay_way==2">POS机收款</span>
                                                        </td>
                                                        <td>
                                                            {{data.pay_time}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </nz-table>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </mat-card>


                        <mat-card>
                            <div>
                                <div fxLayout="column" fxLayoutAlign="start stretch">
                                    <div fxLayout="row" fxLayoutAlign="space-between center">
                                        <div>
                                            <h4 style="padding-left: 10px;padding-top: 10px;">预售订单费用明细</h4>
                                        </div>
                                    </div>
                                    <nz-divider></nz-divider>
                                    <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">

                                        <div>
                                            <div>
                                                <button class="btn" *ngIf="detailModel?.payment_status===0">待支付</button>
                                                <button class="btn" *ngIf="detailModel?.payment_status===1">已支付</button>
                                                <button class="btn" *ngIf="detailModel?.payment_status===2">待支付</button>
                                            </div>
                                        </div>
                                        <div style="margin-top:13px">
                                            <div style="font-weight: 500;font-size: 16px;letter-spacing: 1px;">
                                                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                    <div style="width: 50%;">预售套餐</div>
                                                    <div style="width: 50%;">
                                                        ￥{{detailModel?.ticket_price}}*{{detailModel?.number}}</div>
                                                </div>
                                            </div>

                                            <div style="font-weight: 500;font-size: 16px;color: red;" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">

                                                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                    <div style="width: 50%;">合计</div>
                                                    <div style="width: 50%;">￥{{detailModel?.price_total}}</div>
                                                </div>
                                                <div style="width: 32%;border-top: 1px solid rgba(0,0,0,.06);"></div>
                                                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                    <div style="width: 50%;">已收金额</div>
                                                    <div style="width: 50%;">￥{{detailModel?.amount_actually_received}}
                                                    </div>
                                                </div>
                                                <div style="width: 32%;border-top: 1px solid rgba(0,0,0,.06);"></div>
                                                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                    <div style="width: 50%;">待收金额</div>
                                                    <div style="width: 50%;">
                                                        ￥{{(detailModel?.price_total-detailModel?.amount_actually_received).toFixed(2)}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </mat-card>
                    </div>
                </nz-spin>
            </div>

        </div>

    </div>
</div>