<!-- <div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <div class="example-container">
            <div fxLayout="column" fxLayoutAlign="start stretch">
                <div>
                    <img src="http://cdn.bigline.com.cn/static/images/printCon.png" style="width: 100%;" />
                </div>
                <div>
                    <nz-table #colSpanTable nzBordered>
                        <thead>
                            <tr>
                                <th colspan="4" style="font-size: 16px;font-weight: 800;">客人确认单</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4">{{detailModel?.product_name}}</td>
                            </tr>
                            <tr>
                                <td>订单号:{{ detailModel?.order_id }}</td>
                                <td colspan="4">团号:{{ detailModel?.name }}</td>
                            </tr>
                            <tr>
                                <td>报名日期:{{ data.name }}</td>
                                <td>出发日期:{{ data.name }}</td>
                                <td>行程天数:{{ data.name }}</td>
                                <td>联系人:{{ data.name }}</td>
                            </tr>
                            <tr>
                                <td colspan="4">备注:{{ data.name }}</td>
                            </tr>
                            <tr>
                                <td colspan="4">价格:{{ data.name }}</td>
                            </tr>
                            <tr>
                                <td>附加费用:{{ data.name }}</td>
                                <td>补房差:{{ data.name }}</td>
                                <td>优惠:{{ data.name }}</td>
                                <td>保险费用:{{ data.name }}</td>
                            </tr>
                            <tr>
                                <td colspan="4" style="font-size: 14px;font-weight: 800;">订单金额合计:{{ data.name }}</td>
                            </tr>
                            <tr>
                                <td>已付金额:{{ data.name }}</td>
                                <td>实付金额:{{ data.name }}</td>
                                <td>待付金额:{{ data.name }}</td>
                                <td>退款金额:{{ data.name }}</td>
                            </tr>
                            <tr colspan="4">
                                <div style="width: 158%;">
                                    <nz-table #colSpanTable nzBordered>
                                        <thead>
                                            <tr>
                                                <th>付款方式</th>
                                                <th>付款金额</th>
                                                <th colspan="2">付款日期</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{detailModel?.product_name}}</td>
                                                <td>{{detailModel?.product_name}}</td>
                                                <td colspan="2">{{detailModel?.product_name}}</td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                            </tr>
                            <tr>
                                <td colspan="4">集合地点&集合时间:{{ data.name }}</td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <nz-table #colSpanTable nzBordered>
                                        <thead>
                                            <tr>
                                                <th>客人姓名</th>
                                                <th>性别</th>
                                                <th>年龄</th>
                                                <th>证件类型</th>
                                                <th>证件号码</th>
                                                <th>电话号码</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{detailModel?.product_name}}</td>
                                                <td>{{detailModel?.product_name}}</td>
                                                <td>{{detailModel?.product_name}}</td>
                                                <td>{{detailModel?.product_name}}</td>
                                                <td>{{detailModel?.product_name}}</td>
                                                <td>{{detailModel?.product_name}}</td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="font-size: 14px;font-weight: 800;">费用包含</td>
                            </tr>
                            <tr>
                                <td colspan="4">1111111</td>
                            </tr>
                            <tr>
                                <td colspan="4" style="font-size: 14px;font-weight: 800;">预定须知</td>
                            </tr>
                            <tr>
                                <td colspan="4">1111111</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
    </div>
</div> -->