<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <div fxLayout="row" fxLayoutGap="20px">
                        <button mat-raised-button color="primary" style="letter-spacing:2px" routerLink="/admin/main/store">返回店铺管理</button>
                        <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="add()">添加合同</button>
                    </div>
                    <form [formGroup]="searchForm">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">

                            <div fxFlex=30>
                                <mat-form-field>
                                    <mat-label>合同名称:</mat-label>
                                    <input matInput value="" formControlName="contract_name" placeholder="请输入合同名称">
                                </mat-form-field>
                            </div>
                            <div fxFlex=20>
                                <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="search()">搜索</button>
                            </div>

                        </div>
                    </form>


                    <div class="mat-elevation-z8">
                        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
                            (nzPageSizeChange)="changePageSize($event)">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">合同id</th>
                                    <th style="text-align: center;">合同名称</th>
                                    <th style="text-align: center;width: 15%;">合同明细</th>
                                    <th style="text-align: center;">合同开始时间</th>
                                    <th style="text-align: center;">合同结束时间</th>
                                    <th style="text-align: center;">状态</th>
                                    <th style="text-align: center;">创建时间</th>
                                    <th style="text-align: center;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <td>{{data.id}}</td>
                                    <td>{{data.contract_name}}</td>
                                    <td>
                                        <div>
                                            <a href={{data.url}} target="_blank" title="下载">
                                                <i nz-icon nzType="file-text" nzTheme="outline" style="font-size: 20px;"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td>{{data?.start_date}}</td>
                                    <td>{{data?.end_date}}</td>
                                    <td>{{data?.isStatus}}</td>
                                    <td>{{data.created_at|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td>
                                        <div style="cursor: pointer;" (click)="delete(data)">
                                            <img src="http://cdn.bigline.com.cn/static/images/delete.png" title="删除">

                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </nz-table>

                    </div>
                </div>


            </div>
        </mat-card>
    </div>
</div>