<div class="user-profile" style="background: url(http://cdn.bigline.com.cn/static/images/user-info.jpg) no-repeat;" *ngIf="this.pathName==='admin'">


    <div class="profile-img"> <img src="http://cdn.bigline.com.cn/static/images/profile.png" alt="user"> </div>

    <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> {{userName}} <i class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>
    </mat-menu>


    <mat-nav-list appAccordion *ngFor="let menuitemList of menuItems.getMenuitem()">
        <h3 matSubheader>{{menuitemList.header}}</h3>
        <mat-list-item appAccordionLink *ngFor="let menuitem of menuitemList.menulist" routerLinkActive="selected" group="{{menuitem.state}}">

            <a class="" appAccordionToggle [routerLink]="['/admin/main', menuitem.state]" *ngIf="menuitem.type === 'link'">
                <mat-icon>{{ menuitem.icon }}</mat-icon>
                <span>{{ menuitem.name }}</span>
                <span fxFlex></span>
            </a>

        </mat-list-item>
    </mat-nav-list>

</div>



<div class="user-profile" style="background: url(http://cdn.bigline.com.cn/static/images/user-info.jpg) no-repeat;" *ngIf="this.pathName==='store'">


    <div class="profile-img"> <img src="http://cdn.bigline.com.cn/static/images/profile.png" alt="user"> </div>

    <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> {{mobile}} <i class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item (click)="storeLogOut()">
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>
    </mat-menu>



    <mat-nav-list appAccordion *ngFor="let menuitemList of menuItems.getStoreMenuitem()">
        <h3 matSubheader>{{menuitemList.storeHeader}}</h3>
        <mat-list-item appAccordionLink *ngFor="let menuitem of menuitemList.storeMenulist" routerLinkActive="selected" group="{{menuitem.state}}">

            <a class="" appAccordionToggle [routerLink]="['/store/main', menuitem.state]" *ngIf="menuitem.type === 'link'">
                <mat-icon>{{ menuitem.icon }}</mat-icon>
                <span>{{ menuitem.name }}</span>
                <span fxFlex></span>
            </a>

        </mat-list-item>
    </mat-nav-list>

</div>