<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">

        <div class="example-container">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                <div fxLayout="row" fxLayoutGap="20px">
                    <button mat-raised-button color="primary" style="letter-spacing: 2px;" routerLink="/store/main/storeOrderFreeTravel">返回自由行订单列表</button>
                </div>

                <mat-card>
                    <div>
                        <div fxLayout="column" fxLayoutAlign="start stretch">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div>
                                    <h4 style="padding-left: 10px;padding-top: 10px;">订单基本信息</h4>
                                </div>
                                <!-- <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                                    <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="changeDate()" [disabled]="detailModel?.order_status===0">订单修改日期</button>
                                </div> -->
                            </div>
                            <nz-divider></nz-divider>
                            <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
                                    <div>
                                        <h5 style="font-weight: bold;">{{detailModel?.product_name}}</h5>
                                        <div>
                                            <button class="btn" *ngIf="detailModel?.order_status===0">订单已取消</button>
                                            <button class="btn" *ngIf="detailModel?.order_status===1">订单待支付</button>
                                            <button class="btn" *ngIf="detailModel?.order_status===2">订单待出行</button>
                                            <button class="btn" *ngIf="detailModel?.order_status===3">订单已完成</button>
                                        </div>
                                    </div>
                                    <div style="margin-top:13px">
                                        <form nz-form [formGroup]="addForm" nz-row>
                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="order_id">订单id</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="order_id" nzBorderless [ngModel]="detailModel?.id" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>

                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="start_date">订单出发日期</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="start_date" nzBorderless [ngModel]="detailModel?.start_date" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>

                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contact_name">联系人姓名</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="contact_name" nzBorderless [ngModel]="detailModel?.contact_name" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>

                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contact_phone">联系人电话</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="contact_phone" nzBorderless [ngModel]="detailModel?.contact_phone" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>

                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contact_wechat">联系人微信</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="contact_wechat" nzBorderless [ngModel]="detailModel?.contact_wechat?detailModel?.contact_wechat:'-'" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>

                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contact_qq">联系人qq</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="contact_qq" nzBorderless [ngModel]="detailModel?.contact_qq?detailModel?.contact_qq:'-'" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>

                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contact_email">联系人邮箱</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="contact_email" nzBorderless [ngModel]="detailModel?.contact_email?detailModel?.contact_email:'-'" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>


                                        </form>
                                    </div>
                                </nz-spin>
                            </div>

                        </div>

                    </div>
                </mat-card>


                <mat-card>
                    <div>
                        <div fxLayout="column" fxLayoutAlign="start stretch">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div>
                                    <h4 style="padding-left: 10px;padding-top: 10px;">出行人信息</h4>
                                </div>
                            </div>
                            <nz-divider></nz-divider>
                            <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                <div>
                                    <span>
                                    共{{detailModel?.num_total}}人：成人{{detailModel?.num_adult}}&nbsp;|&nbsp;儿童{{detailModel?.num_kid}}
                                    </span>
                                    <span *ngIf="detailModel?.baby_num!=0">
                                        &nbsp;|&nbsp;婴儿{{detailModel?.baby_num}}
                                    </span>
                                </div>
                                <div style="margin-top:13px">
                                    <form nz-form [formGroup]="addForm" nz-row>
                                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                            <div nz-row>
                                                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="emergency_contact_person">紧急联系人姓名</nz-form-label>
                                                <nz-form-control [nzSm]="12" [nzXs]="24">
                                                    <input nz-input formControlName="emergency_contact_person" nzBorderless [ngModel]="detailModel?.emergency_contact_person?detailModel.emergency_contact_person:'-'" />
                                                </nz-form-control>
                                            </div>
                                        </nz-form-item>

                                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                            <div nz-row>
                                                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="emergency_contact_number">紧急联系人电话</nz-form-label>
                                                <nz-form-control [nzSm]="12" [nzXs]="24">
                                                    <input nz-input formControlName="emergency_contact_number" nzBorderless [ngModel]="detailModel?.emergency_contact_number?detailModel.emergency_contact_number:'-'" />
                                                </nz-form-control>
                                            </div>
                                        </nz-form-item>

                                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                            <div nz-row>
                                                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="customer_remarks">客人需求备注</nz-form-label>
                                                <nz-form-control [nzSm]="12" [nzXs]="24">
                                                    <input nz-input formControlName="customer_remarks" nzBorderless [ngModel]="detailModel?.customer_remarks" />
                                                </nz-form-control>
                                            </div>
                                        </nz-form-item>

                                    </form>
                                </div>
                                <div class="mat-elevation-z8">
                                    <nz-table #rowSelectionTable [nzData]="dataMember">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">出行人id</th>
                                                <th style="text-align: center;">姓名</th>
                                                <th style="text-align: center;">英文名字</th>
                                                <th style="text-align: center;">类型</th>
                                                <th style="text-align: center;">性别</th>
                                                <th style="text-align: center;">证件类型</th>
                                                <th style="text-align: center;">证件号码</th>
                                                <th style="text-align: center;">出生日期</th>
                                                <th style="text-align: center;">联系方式</th>
                                                <th style="text-align: center;">出行人状态</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of rowSelectionTable.data">
                                                <td>{{data.id}}</td>
                                                <td>{{data.name}}</td>
                                                <td>{{data.eng_name}}</td>
                                                <td>
                                                    <span *ngIf="data.is_kid===0">成人</span>
                                                    <span *ngIf="data.is_kid===1">儿童</span>
                                                    <span *ngIf="data.is_kid===2">婴儿</span>
                                                </td>
                                                <td>
                                                    <span *ngIf="data.gender===1">男</span>
                                                    <span *ngIf="data.gender===2">女</span>
                                                </td>
                                                <td>
                                                    <span *ngIf="data.id_type===1">身份证</span>
                                                    <span *ngIf="data.id_type===2">护照</span>
                                                    <span *ngIf="data.id_type===3">回乡证</span>
                                                </td>
                                                <td>{{data.id_num}}</td>
                                                <td>{{data.birthday}}</td>
                                                <td>{{data.phone}}</td>
                                                <td>
                                                    <div *ngIf="data.refund_status===1" style="color: red;">退款</div>
                                                    <div *ngIf="data.refund_status===0">正常</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                            </div>

                        </div>

                    </div>
                </mat-card>


                <mat-card>
                    <div>
                        <div fxLayout="column" fxLayoutAlign="start stretch">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div>
                                    <h4 style="padding-left: 10px;padding-top: 10px;">交易流水信息</h4>
                                </div>
                            </div>
                            <nz-divider></nz-divider>
                            <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                <div class="mat-elevation-z8">
                                    <nz-table #rowSelectionTablePayLog [nzData]="dataPayLog">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">订单id</th>
                                                <th style="text-align: center;">流水号</th>
                                                <th style="text-align: center;">金额</th>
                                                <th style="text-align: center;">支付状态</th>
                                                <th style="text-align: center;">支付方式</th>
                                                <th style="text-align: center;">支付时间</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of rowSelectionTablePayLog.data">
                                                <td>{{data.order_id}}</td>
                                                <td>{{data.transaction_id}}</td>
                                                <td>{{data.fee}}元</td>
                                                <td>
                                                    <span *ngIf="data.status===0">已取消/失效</span>
                                                    <span *ngIf="data.status===1">待完成</span>
                                                    <span *ngIf="data.status===2">已完成</span>
                                                </td>
                                                <td>
                                                    <span *ngIf="data.pay_type===1">微信</span>
                                                    <span *ngIf="data.pay_type===2">支付宝</span>
                                                    <span *ngIf="data.pay_type===3">银行转账</span>
                                                </td>
                                                <td>
                                                    {{data.pay_time}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                            </div>

                        </div>

                    </div>
                </mat-card>

                <mat-card *ngIf="refundLog.length!=0">
                    <div>
                        <div fxLayout="column" fxLayoutAlign="start stretch">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div>
                                    <h4 style="padding-left: 10px;padding-top: 10px;">退款流水信息</h4>
                                </div>
                            </div>
                            <nz-divider></nz-divider>
                            <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                <div class="mat-elevation-z8">
                                    <nz-table #rowSelectionTableRefundLog [nzData]="refundLog">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">订单id</th>
                                                <th style="text-align: center;">退款原因</th>
                                                <th style="text-align: center;">退款金额</th>
                                                <th style="text-align: center;">退款状态</th>
                                                <th style="text-align: center;">退款方式</th>
                                                <th style="text-align: center;">退款审核时间</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of rowSelectionTableRefundLog.data">
                                                <td>{{data.order_id}}</td>
                                                <td>{{data.refund_reason}}</td>
                                                <td>{{data.refund_amount}}元</td>
                                                <td>
                                                    <span *ngIf="data.status===2">退款中</span>
                                                    <span *ngIf="data.status===3">已完成</span>
                                                </td>
                                                <td>
                                                    <span *ngIf="data.type===0">微信</span>
                                                    <span *ngIf="data.type===1">支付宝</span>
                                                    <span *ngIf="data.type===2">银行转账</span>
                                                </td>
                                                <td>
                                                    {{data.check_at}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                            </div>

                        </div>

                    </div>
                </mat-card>


                <mat-card>
                    <div>
                        <div fxLayout="column" fxLayoutAlign="start stretch">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div>
                                    <h4 style="padding-left: 10px;padding-top: 10px;">订单支付情况</h4>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                                    <!-- <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="changePrice()" [disabled]="detailModel?.order_status===0">订单改价</button> -->
                                </div>
                            </div>
                            <nz-divider></nz-divider>
                            <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
                                    <div>
                                        <div>
                                            <button class="btn" *ngIf="detailModel?.payment_status===0">待支付</button>
                                            <button class="btn" *ngIf="detailModel?.payment_status===1">已支付</button>
                                            <button class="btn" *ngIf="detailModel?.payment_status===2">待支付</button>
                                        </div>
                                    </div>
                                    <div style="margin-top:13px">
                                        <div style="font-weight: 500;font-size: 16px;">
                                            <span *ngIf="detailModel?.num_adult!=0">成人{{audltPrice}}元&nbsp;|&nbsp;</span>
                                            <span *ngIf="detailModel?.num_kid!=0">儿童{{childPrice}}元&nbsp;|&nbsp;</span>

                                            <span>其他收费:{{detailModel?.price_other}}元
                                                <ng-container *ngIf="detailModel?.price_other!=0">(
                                                    <span *ngFor="let fee of detailModel?.price_detail?.data" ><span *ngIf="fee?.type==0">{{fee?.title}}:{{fee?.price}}，</span></span>
                                            )</ng-container>
                                            &nbsp;|&nbsp;</span>
                                            <span>优惠:{{detailModel?.discount_other}}元
                                                <ng-container *ngIf="detailModel?.discount_other!=0">(
                                                    <span *ngFor="let fee of detailModel?.price_detail?.data" ><span *ngIf="fee?.type==1">{{fee?.title}}:{{fee?.price}}，</span></span>
                                            )</ng-container>
                                            &nbsp;|&nbsp;</span>
                                            <span>补差价{{detailModel?.price_diff}}元</span>
                                        </div>
                                        <div style="font-weight: 500;font-size: 16px;">
                                            <span style="color: red;">累计已付金额：{{detailModel?.price_receive}}元</span>
                                        </div>
                                        <div style="font-weight: 500;font-size: 16px;">
                                            <span style="color: red;">实收金额（减去退款金额）：{{detailModel?.amount_received}}元</span>
                                        </div>
                                        <div style="font-weight: 500;font-size: 16px;">
                                            <span style="color: red;">当前订单金额：{{detailModel?.price_total}}元</span>
                                        </div>
                                        <div style="font-weight: 500;font-size: 16px;">
                                            <span style="color: red;">应付金额：{{priceTotal<0?'0':priceTotal}}元</span>
                                        </div>
                                    </div>
                                </nz-spin>
                            </div>

                        </div>

                    </div>
                </mat-card>

            </div>

        </div>

    </div>
</div>