<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <div fxLayout="row" fxLayoutGap="20px">
                        <!-- <button mat-raised-button color="primary" style="width: 100px;letter-spacing: 2px;" (click)="resetPage()">区域首页</button> -->
                        <button mat-raised-button color="primary" style="width: 125px;letter-spacing: 2px;" (click)="add()">添加区域客服</button>
                        <!-- <div *ngIf="upFlag" fxLayoutAlign="center center" style="cursor: pointer;" (click)="backToUp()">上级区域 - {{parent?.region_name}}</div> -->
                    </div>
                    <form [formGroup]="searchForm" nz-row nz-form>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="region_code">区域编码</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="region_code" placeholder="请输入区域编码" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="region_name">区域名称</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-cascader nzChangeOnSelect [nzOptions]="nzOptions" (ngModelChange)="onChanges($event)" formControlName="region_name"></nz-cascader>
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="phone">号码</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="phone" placeholder="请输入手机号码" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="search()">搜索</button>
                            </div>
                        </nz-form-item>
                    </form>


                    <div class="mat-elevation-z8">
                        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
                            (nzPageSizeChange)="changePageSize($event)">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">区域名称</th>
                                    <th style="text-align: center;">区域编码</th>
                                    <th style="text-align: center;">联系人</th>
                                    <th style="text-align: center;">手机号</th>
                                    <th style="text-align: center;">编辑</th>
                                    <th style="text-align: center;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <td>
                                        <div style="cursor: pointer;" (click)="nextLevel(data)"><a>{{data.region_name}}</a></div>
                                    </td>
                                    <td>{{data.region_code}}</td>
                                    <td>{{data.region_level}}</td>
                                    <td>{{data.region_id}}</td>
                                    <td>
                                        <div style="cursor: pointer;" (click)="edit(data)">

                                            <img src="http://cdn.bigline.com.cn/static/images/edit.png" title="编辑">

                                        </div>
                                    </td>
                                    <td>
                                        <div style="cursor: pointer;" (click)="delete(data)">
                                            <img src="http://cdn.bigline.com.cn/static/images/delete.png" title="删除">

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>

            </div>
        </mat-card>
    </div>
</div>