<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">

                    <form [formGroup]="searchForm" nz-row nz-form>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="product_id">产品id</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="product_id" placeholder="请输入产品id" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="group_code">团队编号</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="group_code" placeholder="请输入团队编号" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="product_name">产品名称</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="product_name" placeholder="请输入产品名称" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="group_id">团队id</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="group_id" placeholder="请输入团队id" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="order_number">订单号</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="order_number" placeholder="请输入订单号" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="order_number">出发日期</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-range-picker nzFormat="yyyy-MM-dd" (ngModelChange)="onChangeDate($event)" formControlName="date_start"></nz-range-picker>
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="order_number">目的城市</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-cascader nzChangeOnSelect [nzOptions]="nzOptions" (ngModelChange)="onChanges($event)" formControlName="destination_city"></nz-cascader>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="search()">搜索</button>
                            </div>
                        </nz-form-item>


                    </form>




                    <div class="mat-elevation-z8">
                        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
                            (nzPageSizeChange)="changePageSize($event)">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">团队id</th>
                                    <th style="text-align: center;width: 15%;">团队编号</th>
                                    <th style="text-align: center;width: 20%;">产品名称</th>
                                    <th style="text-align: center;">已确认&支付订单人数</th>
                                    <th style="text-align: center;">子团数</th>
                                    <th style="text-align: center;">目的城市</th>
                                    <th style="text-align: center;">订单出发日期</th>
                                    <th style="text-align: center;">出团通知书/导游</th>
                                    <th style="text-align: center;">团队状态</th>
                                    <th style="text-align: center;">查看详情</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <td>{{data.group_id}}</td>
                                    <td>{{data.group_code}}</td>
                                    <td>{{data.product_name}}</td>
                                    <td>{{data.member_total}}</td>
                                    <td>{{data.sub_groups_num}}</td>
                                    <td>{{data.destination_city_name}}</td>
                                    <td>{{data.start_date|date:'yyyy-MM-dd'}}</td>
                                    <td>
                                        <div fxLayout="column" fxLayoutAlign="center center">
                                            <div *ngIf="data.sub_groups_num===0">
                                                <div>-</div>
                                                <div>-</div>
                                            </div>
                                            <div *ngIf="data.sub_groups_num!=0">

                                                <div>
                                                    <p *ngIf="data.notice_status===true" style="color: #1890ff;">-</p>
                                                    <p *ngIf="data.notice_status===false" style="color: red;">待派发</p>
                                                </div>
                                                <div>
                                                    <p *ngIf="data.guide_status===true" style="color: #1890ff;">-</p>
                                                    <p *ngIf="data.guide_status===false" style="color: red;">待派遣</p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span *ngIf="data.group_status===0"> <nz-badge nzColor="red"></nz-badge>已取消，不成团</span>
                                        <span *ngIf="data.group_status===1"><nz-badge nzColor="yellow"></nz-badge>未成团</span>
                                        <span *ngIf="data.group_status===2"><nz-badge nzColor="green"></nz-badge>已成团</span>
                                        <span *ngIf="data.group_status===3"><nz-badge nzColor="pink"></nz-badge>已出团，完成</span>
                                    </td>
                                    <td>
                                        <div style="cursor: pointer;">

                                            <img src="http://cdn.bigline.com.cn/static/images/edit.png" title="编辑" (click)="edit(data)">

                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </nz-table>

                    </div>
                </div>


            </div>
        </mat-card>
    </div>
</div>