<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <mat-tab-group [selectedIndex]="selectedTabIndex">
                        <mat-tab label="未审核">
                            <div class="content">
                                <div class="example-container" style="margin-bottom: 50px;">
                                    <div fxLayout="column" fxLayoutAlign="start stretch">

                                        <div style="margin-top: 10px;">
                                            <form [formGroup]="searchForm1" nz-row nz-form>
                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="applyTime">申请时间
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <nz-range-picker nzFormat="yyyy-MM-dd" (ngModelChange)="onChangeApplyTime1($event)" formControlName="applyTime"></nz-range-picker>
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="pay_type">提现方式
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <nz-select nzPlaceHolder="请选择" formControlName="pay_type" nzAllowClear nzShowSearch>
                                                                <nz-option [nzLabel]="'微信'" [nzValue]="1"></nz-option>
                                                                <nz-option [nzLabel]="'支付宝'" [nzValue]="2"></nz-option>
                                                                <nz-option [nzLabel]="'银行卡'" [nzValue]="3"></nz-option>
                                                            </nz-select>
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="bank_user">持卡人
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <input nz-input formControlName="bank_user" placeholder="请输入持卡人" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="user_id">用户昵称
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <nz-select nzShowSearch nzAllowClear formControlName="user_id" nzPlaceHolder="请输入用户昵称">
                                                                <nz-option *ngFor="let user of userList" [nzLabel]="user.name" [nzValue]="user.user_id"> </nz-option>
                                                            </nz-select>
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="phone">手机号码
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <input nz-input formControlName="phone" placeholder="请输入手机号码" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>



                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="25px" style="margin-left: 50px;">
                                                        <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="search1()">搜索</button>
                                                        <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="reset1()">重置</button>
                                                    </div>
                                                </nz-form-item>

                                            </form>
                                        </div>

                                        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="30px" style="letter-spacing: 1px;font-weight: bold;font-size: 16px">
                                            <div>待审核金额：
                                                <span style="color: red;">{{totalMoney}}元</span>
                                            </div>
                                        </div>

                                        <div class="mat-elevation-z8">
                                            <nz-table #rowSelectionTable1 nzBordered [nzFrontPagination]="false" [nzData]="dataSource1" [nzLoading]="loading1" [nzTotal]="total1" [(nzPageIndex)]="page1" [(nzPageSize)]="per_page1" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex1($event)"
                                                (nzPageSizeChange)="changePageSize1($event)">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;">id</th>
                                                        <th style="text-align: center;">提现编号</th>
                                                        <th style="text-align: center;">申请时间</th>
                                                        <th style="text-align: center;">申请金额</th>
                                                        <th style="text-align: center;">提现方式</th>
                                                        <th style="text-align: center;">持卡人</th>
                                                        <th style="text-align: center;">银行卡号</th>
                                                        <th style="text-align: center;">开户行</th>
                                                        <th style="text-align: center;">手机号码</th>
                                                        <th style="text-align: center;">用户id</th>
                                                        <th style="text-align: center;">用户昵称</th>
                                                        <th style="text-align: center;">操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of rowSelectionTable1.data">
                                                        <td>{{data.id}}</td>
                                                        <td>{{data.order_sn}}</td>
                                                        <td>{{data.created_at|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                                        <td>
                                                            <span style="color: red;font-weight: 800;">{{data.money}}元</span>
                                                        </td>
                                                        <td>
                                                            <span *ngIf="data.pay_type===1">微信</span>
                                                            <span *ngIf="data.pay_type===2">支付宝</span>
                                                            <span *ngIf="data.pay_type===3">银行卡</span>
                                                        </td>
                                                        <td>{{data.bank_user}}</td>
                                                        <td>{{data.bank_number}}</td>
                                                        <td>{{data.bank_name}}</td>
                                                        <td>{{data.user?.phone}}</td>
                                                        <td>
                                                            <a (click)="routeIt(data.user_id)" title="跳转到用户金额变动列表">{{data.user_id}}</a>
                                                        </td>
                                                        <td>{{data.user?.name}}</td>
                                                        <td>
                                                            <a (click)="review(data)">审核提现</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </nz-table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>




                        <mat-tab label="已审核">
                            <div class="content">
                                <div class="example-container" style="margin-bottom: 50px;">
                                    <div fxLayout="column" fxLayoutAlign="start stretch">

                                        <div style="margin-top: 10px;">
                                            <form [formGroup]="searchForm2" nz-row nz-form>
                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="status">审核状态
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <nz-select nzPlaceHolder="请选择" formControlName="status" nzAllowClear nzShowSearch>
                                                                <nz-option [nzLabel]="'全部'" [nzValue]=""></nz-option>
                                                                <nz-option [nzLabel]="'已通过'" [nzValue]="2"></nz-option>
                                                                <nz-option [nzLabel]="'拒绝'" [nzValue]="3"></nz-option>
                                                            </nz-select>
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>


                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="applyTime">申请时间
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <nz-range-picker nzFormat="yyyy-MM-dd" (ngModelChange)="onChangeApplyTime2($event)" formControlName="applyTime"></nz-range-picker>
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="pay_type">提现方式
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <nz-select nzPlaceHolder="请选择" formControlName="pay_type" nzAllowClear nzShowSearch>
                                                                <nz-option [nzLabel]="'微信'" [nzValue]="1"></nz-option>
                                                                <nz-option [nzLabel]="'支付宝'" [nzValue]="2"></nz-option>
                                                                <nz-option [nzLabel]="'银行卡'" [nzValue]="3"></nz-option>
                                                            </nz-select>
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="bank_user">持卡人
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <input nz-input formControlName="bank_user" placeholder="请输入持卡人" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="user_id">用户昵称
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <nz-select nzShowSearch nzAllowClear formControlName="user_id" nzPlaceHolder="请输入用户昵称">
                                                                <nz-option *ngFor="let user of userList" [nzLabel]="user.name" [nzValue]="user.user_id"> </nz-option>
                                                            </nz-select>
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="phone">手机号码
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <input nz-input formControlName="phone" placeholder="请输入手机号码" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="payment_no">交易流水号
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <input nz-input formControlName="payment_no" placeholder="请输入交易流水号" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>


                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="25px" style="margin-left: 50px;">
                                                        <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="search2()">搜索</button>
                                                        <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="reset2()">重置</button>
                                                    </div>
                                                </nz-form-item>

                                            </form>
                                        </div>

                                        <div class="mat-elevation-z8">
                                            <nz-table #rowSelectionTable2 nzBordered [nzFrontPagination]="false" [nzData]="dataSource2" [nzLoading]="loading2" [nzTotal]="total2" [(nzPageIndex)]="page2" [(nzPageSize)]="per_page2" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex2($event)"
                                                (nzPageSizeChange)="changePageSize2($event)">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;">id</th>
                                                        <th style="text-align: center;">提现编号</th>
                                                        <th style="text-align: center;">交易流水号</th>
                                                        <th style="text-align: center;">申请时间</th>
                                                        <th style="text-align: center;">审核状态</th>
                                                        <th style="text-align: center;">拒绝原因</th>
                                                        <th style="text-align: center;">提现金额</th>
                                                        <th style="text-align: center;">提现方式</th>
                                                        <th style="text-align: center;">持卡人</th>
                                                        <th style="text-align: center;">银行卡号</th>
                                                        <th style="text-align: center;">开户行</th>
                                                        <th style="text-align: center;">手机号码</th>
                                                        <th style="text-align: center;">用户id</th>
                                                        <th style="text-align: center;">用户昵称</th>
                                                        <th style="text-align: center;">审核时间</th>
                                                        <th style="text-align: center;">审核人</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of rowSelectionTable2.data">
                                                        <td>{{data.id}}</td>
                                                        <td>{{data.order_sn}}</td>
                                                        <td>{{data.payment_no}}</td>
                                                        <td>{{data.created_at|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                                        <td>
                                                            <span *ngIf="data.status==2">已通过</span>
                                                            <span *ngIf="data.status==3">拒绝</span>
                                                        </td>
                                                        <td>
                                                            <span *ngIf="data.status==2">-</span>
                                                            <span *ngIf="data.status==3">{{data.error_desc}}</span>
                                                        </td>
                                                        <td>
                                                            <span style="color: red;font-weight: 800;">{{data.money}}元</span>
                                                        </td>
                                                        <td>
                                                            <span *ngIf="data.pay_type===1">微信</span>
                                                            <span *ngIf="data.pay_type===2">支付宝</span>
                                                            <span *ngIf="data.pay_type===3">银行卡</span>
                                                        </td>
                                                        <td>{{data.bank_user}}</td>
                                                        <td>{{data.bank_number}}</td>
                                                        <td>{{data.bank_name}}</td>
                                                        <td>{{data.user?.phone}}</td>
                                                        <td>
                                                            <a (click)="routeIt(data.user_id)" title="跳转到用户金额变动列表">{{data.user_id}}</a>
                                                        </td>
                                                        <td>{{data.user?.name}}</td>
                                                        <td> {{convertToDate(data.pay_time)}}</td>
                                                        <td>{{data.reviewer_name}}</td>
                                                    </tr>
                                                </tbody>
                                            </nz-table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>

            </div>
        </mat-card>
    </div>
</div>