<div class="steps-content">
    <div class="mat-elevation-z8">
        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
            (nzPageSizeChange)="changePageSize($event)">
            <thead>
                <tr>
                    <th style="text-align: center;">合同id</th>
                    <th style="text-align: center;">合同名称</th>
                    <th style="text-align: center;width: 15%;">合同明细</th>
                    <th style="text-align: center;">创建时间</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of rowSelectionTable.data">
                    <td>{{data.id}}</td>
                    <td>{{data.contract_name}}</td>
                    <td>
                        <div>
                            <a href={{data.url}} target="_blank" title="下载">
                                <i nz-icon nzType="file-text" nzTheme="outline" style="font-size: 20px;"></i>
                            </a>
                        </div>
                    </td>
                    <td>{{data.created_at|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                </tr>
            </tbody>
        </nz-table>

    </div>
</div>