<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">
            <app-admin-banner></app-admin-banner>
            <div  class="content-box">
                <div fxLayoutAlign="start center" class="content-title">
                    <div>账号信息</div>
                </div>
                <div style="padding: 5px;">
                    <form nz-form [formGroup]="validateForm">
                        <nz-form-item>
                            <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="password" nzRequired>新密码</nz-form-label>
                            <nz-form-control [nzSm]="9" [nzXs]="24" nzErrorTip="请输入新密码">
                                <input nz-input autocomplete="on" type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()" placeholder="请输入6-16位密码"/>
                            </nz-form-control>
                            <span style="line-height: 32px; margin-left: 5px; color: red;">6-16位，不区分大小写，不可含空格，不可为单纯符号，可纯英文或纯数字</span>
                        </nz-form-item>
                    
                        <nz-form-item>
                            <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="password_confirmation" nzRequired>确认密码</nz-form-label>
                            <nz-form-control [nzSm]="9" [nzXs]="24" nzDisableAutoTips [nzErrorTip]="passwordErrorTpl">
                                <input nz-input autocomplete="off" type="password" formControlName="password_confirmation" placeholder="请再输入密码"/>
                                <ng-template #passwordErrorTpl let-control>
                                    <ng-container *ngIf="control.hasError('required')">
                                        请确认您的密码!
                                    </ng-container>
                                    <ng-container *ngIf="control.hasError('password_confirmation')">
                                        密码不一致!
                                    </ng-container>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item fxLayout="row" fxLayoutAlign="start  center" >
                            <button fxFlex="10" fxFlexOffset ="21" style="margin-top: 30px;" nz-button nzType="primary" (click)="add()">保存新密码</button>
                        </nz-form-item>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>


