<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <div fxLayout="row" fxLayoutGap="20px">
                        <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="addTap()">添加产品标签</button>
                    </div>

                    <div class="mat-elevation-z8">
                        <nz-table #rowSelectionTable nzBordered [nzData]="dataSource" [nzLoading]="loading" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">标签id</th>
                                    <th style="text-align: center;">标签名称</th>
                                    <th style="text-align: center;">分类名称</th>
                                    <th style="text-align: center;">状态</th>
                                    <th style="text-align: center;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <td>{{data.id}}</td>
                                    <td>{{data.name}}</td>
                                    <td>
                                        <div *ngIf="data.cate_id===1">
                                            跟团游
                                        </div>
                                        <div *ngIf="data.cate_id===2">
                                            自由行
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="data.status===0">
                                            禁止
                                        </div>
                                        <div *ngIf="data.status===1">
                                            开启
                                        </div>
                                    </td>
                                    <td>
                                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                                            <div style="cursor: pointer;" (click)="edit(data)">
                                                <mat-icon>edit</mat-icon>
                                            </div>
                                            <!-- <div style="cursor: pointer;" (click)="delete(data)">
                                                <mat-icon>delete</mat-icon>
                                            </div> -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>

            </div>
        </mat-card>
    </div>
</div>