<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">

        <div class="example-container">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                <div fxLayout="row" fxLayoutGap="20px">
                    <button mat-raised-button color="primary" style="width: 120px;letter-spacing: 2px;" routerLink="/store/main/storeProduct">返回产品管理</button>
                </div>

                <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
                    <mat-tab label="基本信息">
                        <div class="content">
                            <app-store-product-info (tabIndex)="getTabIndex($event)"></app-store-product-info>
                        </div>
                    </mat-tab>

                    <mat-tab label="产品特色" [disabled]="isIndex<1">
                        <ng-template matTabContent>
                            <div class="content">
                                <div class="example-large-box mat-elevation-z4">
                                    <app-store-product-feature (tabIndex)="getTabIndex($event)" [addDataDetailModel]='addDataDetailModel'></app-store-product-feature>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="产品详情" [disabled]="isIndex<2">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-store-product-editordetail (tabIndex)="getTabIndex($event)" [addDataDetailModel]='addDataDetailModel'></app-store-product-editordetail>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="预约须知" [disabled]="isIndex<3">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-store-product-editornotice (tabIndex)="getTabIndex($event)" [addDataDetailModel]='addDataDetailModel'></app-store-product-editornotice>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="图片与视频" [disabled]="isIndex<4">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-store-product-desc [addDataDetailModel]='addDataDetailModel'></app-store-product-desc>
                            </div>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>

            </div>

        </div>

    </div>
</div>