<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">

        <div class="example-container">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                <div fxLayout="row" fxLayoutGap="20px">
                    <button mat-raised-button color="primary" style="letter-spacing: 2px;" routerLink="/store/main/storeOrdergroupTravel">返回跟团游订单列表</button>
                </div>

                <mat-card>
                    <div>
                        <div fxLayout="column" fxLayoutAlign="start stretch">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div>
                                    <h4 style="padding-left: 10px;padding-top: 10px;">订单基本信息</h4>
                                </div>
                                <!-- <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                                    <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="changeDate()" [disabled]="detailModel?.order_status===0">订单修改日期</button>
                                </div> -->
                            </div>
                            <nz-divider></nz-divider>
                            <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
                                    <div>
                                        <h5 style="font-weight: bold;">{{detailModel?.product_name}}</h5>
                                        <div>
                                            <button class="btn" *ngIf="detailModel?.order_status===0">订单已取消</button>
                                            <button class="btn" *ngIf="detailModel?.order_status===1">订单待支付</button>
                                            <button class="btn" *ngIf="detailModel?.order_status===2">订单待出行</button>
                                            <button class="btn" *ngIf="detailModel?.order_status===3">订单已完成</button>
                                        </div>
                                    </div>
                                    <div style="margin-top:13px">
                                        <form nz-form [formGroup]="addForm" nz-row>
                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="order_id">订单id</nz-form-label>
                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                        <input nz-input formControlName="order_id" nzBorderless [ngModel]="detailModel?.id" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>

                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="start_date">订单出发日期</nz-form-label>
                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                        <input nz-input formControlName="start_date" nzBorderless [ngModel]="detailModel?.start_date" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>

                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="internal_remarks">计调内部备注</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="internal_remarks" nzBorderless [ngModel]="detailModel?.internal_remarks?detailModel?.internal_remarks:'-'" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>
                                        </form>
                                    </div>
                                </nz-spin>
                            </div>

                        </div>

                    </div>
                </mat-card>


                <mat-card>
                    <div>
                        <div fxLayout="column" fxLayoutAlign="start stretch">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div>
                                    <h4 style="padding-left: 10px;padding-top: 10px;">出行人信息</h4>
                                </div>
                            </div>
                            <nz-divider></nz-divider>
                            <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                <div>
                                    <span>
                                    共{{detailModel?.num_total}}人：成人{{detailModel?.num_adult}}&nbsp;|&nbsp;儿童{{detailModel?.num_kid}}
                                    </span>
                                    <span *ngIf="detailModel?.baby_num!=0">
                                        &nbsp;|&nbsp;婴儿{{detailModel?.baby_num}}
                                    </span>
                                </div>
                                <div style="margin-top:13px">
                                    <form nz-form [formGroup]="addForm" nz-row>
                                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                            <div nz-row>
                                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="emergency_contact_person">紧急联系人姓名</nz-form-label>
                                                <nz-form-control [nzSm]="12" [nzXs]="24">
                                                    <input nz-input formControlName="emergency_contact_person" nzBorderless [ngModel]="detailModel?.emergency_contact_person?detailModel.emergency_contact_person:'-'" />
                                                </nz-form-control>
                                            </div>
                                        </nz-form-item>

                                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                            <div nz-row>
                                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="emergency_contact_number">紧急联系人电话</nz-form-label>
                                                <nz-form-control [nzSm]="12" [nzXs]="24">
                                                    <input nz-input formControlName="emergency_contact_number" nzBorderless [ngModel]="detailModel?.emergency_contact_number?detailModel.emergency_contact_number:'-'" />
                                                </nz-form-control>
                                            </div>
                                        </nz-form-item>
                                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                            <div nz-row>
                                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="contact_name">联系人姓名</nz-form-label>
                                                <nz-form-control [nzSm]="12" [nzXs]="24">
                                                    <input nz-input formControlName="contact_name" nzBorderless [ngModel]="detailModel?.contact_name" />
                                                </nz-form-control>
                                            </div>
                                        </nz-form-item>

                                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                            <div nz-row>
                                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="contact_phone">联系人电话</nz-form-label>
                                                <nz-form-control [nzSm]="12" [nzXs]="24">
                                                    <input nz-input formControlName="contact_phone" nzBorderless [ngModel]="detailModel?.contact_phone" />
                                                </nz-form-control>
                                            </div>
                                        </nz-form-item>

                                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                            <div nz-row>
                                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="contact_wechat">联系人微信</nz-form-label>
                                                <nz-form-control [nzSm]="12" [nzXs]="24">
                                                    <input nz-input formControlName="contact_wechat" nzBorderless [ngModel]="detailModel?.contact_wechat?detailModel?.contact_wechat:'-'" />
                                                </nz-form-control>
                                            </div>
                                        </nz-form-item>

                                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                            <div nz-row>
                                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="contact_qq">联系人qq</nz-form-label>
                                                <nz-form-control [nzSm]="12" [nzXs]="24">
                                                    <input nz-input formControlName="contact_qq" nzBorderless [ngModel]="detailModel?.contact_qq?detailModel?.contact_qq:'-'" />
                                                </nz-form-control>
                                            </div>
                                        </nz-form-item>

                                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                            <div nz-row>
                                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="contact_email">联系人邮箱</nz-form-label>
                                                <nz-form-control [nzSm]="12" [nzXs]="24">
                                                    <input nz-input formControlName="contact_email" nzBorderless [ngModel]="detailModel?.contact_email?detailModel?.contact_email:'-'" />
                                                </nz-form-control>
                                            </div>
                                        </nz-form-item>

                                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                            <div nz-row>
                                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="customer_remarks">客人需求备注</nz-form-label>
                                                <nz-form-control [nzSm]="12" [nzXs]="24">
                                                    <input nz-input formControlName="customer_remarks" nzBorderless [ngModel]="detailModel?.customer_remarks" />
                                                </nz-form-control>
                                            </div>
                                        </nz-form-item>

                                    </form>
                                </div>
                                <div class="mat-elevation-z8">
                                    <nz-table #rowSelectionTable [nzData]="dataMember">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">出行人id</th>
                                                <th style="text-align: center;">姓名</th>
                                                <th style="text-align: center;">英文名字</th>
                                                <th style="text-align: center;">类型</th>
                                                <th style="text-align: center;">性别</th>
                                                <th style="text-align: center;">证件类型</th>
                                                <th style="text-align: center;">证件号码</th>
                                                <th style="text-align: center;">出生日期</th>
                                                <th style="text-align: center;">联系方式</th>
                                                <th style="text-align: center;">集合地点</th>
                                                <th style="text-align: center;">集合时间</th>
                                                <th style="text-align: center;">出团通知短信</th>
                                                <th style="text-align: center;">出行人状态</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of rowSelectionTable.data">
                                                <td>{{data.id}}</td>
                                                <td>{{data.name}}</td>
                                                <td>{{data.eng_name}}</td>
                                                <td>
                                                    <span *ngIf="data.is_kid===0">成人</span>
                                                    <span *ngIf="data.is_kid===1">儿童</span>
                                                    <span *ngIf="data.is_kid===2">婴儿</span>
                                                </td>
                                                <td>
                                                    <span *ngIf="data.gender===1">男</span>
                                                    <span *ngIf="data.gender===2">女</span>
                                                </td>
                                                <td>
                                                    <div *ngIf="data.id_type===1">身份证</div>
                                                    <div *ngIf="data.id_type===2">护照</div>
                                                    <div *ngIf="data.id_type===3">回乡证</div>
                                                </td>
                                                <td>{{data.id_num}}</td>
                                                <td>{{data.birthday}}</td>
                                                <td>{{data.phone}}</td>
                                                <td>{{ data.assembling_place }}</td>
                                                <td>{{ data.assembling_time==='00:00'?'待定':data.assembling_time }}</td>
                                                <td>
                                                    <div *ngIf="data.sms_status===0">
                                                        <nz-badge nzColor="yellow"></nz-badge>未发</div>
                                                    <div *ngIf="data.sms_status===1">
                                                        <nz-badge nzColor="green"></nz-badge>已发</div>
                                                    <div *ngIf="data.sms_status===2">
                                                        <nz-badge nzColor="red"></nz-badge>发送失败</div>
                                                </td>
                                                <td>
                                                    <div *ngIf="data.refund_status===1" style="color: red;">退款</div>
                                                    <div *ngIf="data.refund_status===0">正常</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                            </div>

                        </div>

                    </div>
                </mat-card>


                <mat-card *ngIf="dataPayLog.length!=0">
                    <div>
                        <div fxLayout="column" fxLayoutAlign="start stretch">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div>
                                    <h4 style="padding-left: 10px;padding-top: 10px;">收款流水信息</h4>
                                </div>
                            </div>
                            <nz-divider></nz-divider>
                            <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                <div class="mat-elevation-z8">
                                    <nz-table #rowSelectionTablePayLog [nzData]="dataPayLog">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">订单id</th>
                                                <th style="text-align: center;">流水号</th>
                                                <th style="text-align: center;">金额</th>
                                                <th style="text-align: center;">支付状态</th>
                                                <th style="text-align: center;">支付方式</th>
                                                <th style="text-align: center;">支付时间</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of rowSelectionTablePayLog.data">
                                                <td>{{data.order_id}}</td>
                                                <td>{{data.transaction_id}}</td>
                                                <td>{{data.fee}}元</td>
                                                <td>
                                                    <span *ngIf="data.status===0">已取消/失效</span>
                                                    <span *ngIf="data.status===1">待完成</span>
                                                    <span *ngIf="data.status===2">已完成</span>
                                                </td>
                                                <td>
                                                    <span *ngIf="data.pay_type===1">微信</span>
                                                    <span *ngIf="data.pay_type===2">支付宝</span>
                                                    <span *ngIf="data.pay_type===3">银行转账</span>
                                                    <span *ngIf="data.pay_type===4">二维码收款</span>

                                                </td>
                                                <td>
                                                    {{data.pay_time}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                            </div>

                        </div>

                    </div>
                </mat-card>


                <mat-card *ngIf="refundLog.length!=0">
                    <div>
                        <div fxLayout="column" fxLayoutAlign="start stretch">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div>
                                    <h4 style="padding-left: 10px;padding-top: 10px;">退款流水信息</h4>
                                </div>
                            </div>
                            <nz-divider></nz-divider>
                            <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                <div class="mat-elevation-z8">
                                    <nz-table #rowSelectionTableRefundLog [nzData]="refundLog">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">订单id</th>
                                                <th style="text-align: center;">退款原因</th>
                                                <th style="text-align: center;">退款金额</th>
                                                <th style="text-align: center;">退款状态</th>
                                                <th style="text-align: center;">退款类型</th>
                                                <th style="text-align: center;">退款审核时间</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of rowSelectionTableRefundLog.data">
                                                <td>{{data.order_id}}</td>
                                                <td>{{data.refund_reason}}</td>
                                                <td>{{data.refund_amount}}元</td>
                                                <td>
                                                    <span *ngIf="data.status===2">退款中</span>
                                                    <span *ngIf="data.status===3">已完成</span>
                                                </td>
                                                <td>
                                                    <span *ngIf="data.type===0">全额退</span>
                                                    <span *ngIf="data.type===1">部分退款</span>
                                                </td>
                                                <td>
                                                    {{data.check_at}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                            </div>

                        </div>

                    </div>
                </mat-card>



                <mat-card>
                    <div>
                        <div fxLayout="column" fxLayoutAlign="start stretch">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div>
                                    <h4 style="padding-left: 10px;padding-top: 10px;">订单支付情况</h4>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                                    <!-- <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="changePrice()" [disabled]="detailModel?.order_status===0">订单改价</button> -->
                                </div>
                            </div>
                            <nz-divider></nz-divider>
                            <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
                                    <div>
                                        <div>
                                            <button class="btn" *ngIf="detailModel?.payment_status===0">待支付</button>
                                            <button class="btn" *ngIf="detailModel?.payment_status===1">已支付</button>
                                            <button class="btn" *ngIf="detailModel?.payment_status===2">待支付</button>
                                        </div>
                                    </div>

                                    <div style="margin-top:13px">
                                        <div style="font-weight: 500;font-size: 16px;letter-spacing: 1px;">
                                            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                <div style="width: 50%;">成人</div>
                                                <div style="width: 50%;">￥{{detailModel?.price_adult}}*{{detailModel?.num_adult}}</div>
                                            </div>

                                            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                <div style="width: 50%;">儿童</div>
                                                <div style="width: 50%;">￥{{detailModel?.price_kid}}*{{detailModel?.num_kid}}</div>
                                            </div>

                                            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                <div style="width: 50%;">婴儿</div>
                                                <div style="width: 50%;">￥{{detailModel?.price_baby}}*{{detailModel?.baby_num}}</div>
                                            </div>

                                            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                <div style="width: 50%;">补差价</div>
                                                <div style="width: 50%;">￥{{detailModel?.price_diff}}</div>
                                            </div>

                                            <ng-container *ngIf="detailModel?.price_other!=0">
                                                <ng-container *ngFor="let fee of detailModel?.price_detail?.data">
                                                    <ng-container *ngIf="fee?.type==0">
                                                        <div fxLayout="column" fxLayoutAlign="start stretch">
                                                            <!-- 附加收费 -->
                                                            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                                <div style="width: 50%;">{{fee?.title}}</div>
                                                                <div style="width: 50%;">￥{{fee?.price}}</div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>

                                            <ng-container *ngIf="detailModel?.discount_other!=0">
                                                <ng-container *ngFor="let fee of detailModel?.price_detail?.data">
                                                    <ng-container *ngIf="fee?.type==1">
                                                        <div fxLayout="column" fxLayoutAlign="start stretch">
                                                            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                                <!-- 优惠 -->
                                                                <div style="width: 50%;">{{fee?.title}}</div>
                                                                <div style="width: 50%;">-￥{{fee?.price}}</div>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </div>

                                        <div style="font-weight: 500;font-size: 16px;color: red;">
                                            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                <div style="width: 50%;">已付金额（客人总付款）</div>
                                                <div style="width: 50%;">￥{{detailModel?.price_receive}}</div>
                                            </div>
                                            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                <div style="width: 50%;">退款金额</div>
                                                <div style="width: 50%;">￥{{detailModel?.refund_amount}}</div>
                                            </div>
                                            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;" *ngIf="detailModel?.num_total!=0">
                                                <div style="width: 50%;">实际付款金额（已付金额-退款金额）</div>
                                                <div style="width: 50%;">￥{{detailModel?.amount_received}}</div>
                                            </div>
                                            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;" *ngIf="detailModel?.num_total!=0">
                                                <div style="width: 50%;">当前订单金额</div>
                                                <div style="width: 50%;">￥{{detailModel?.price_total}}</div>
                                            </div>
                                            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;" *ngIf="detailModel?.refund_status==3">
                                                <div style="width: 50%;">手续费</div>
                                                <div style="width: 50%;">￥{{detailModel?.service_charge}}</div>
                                            </div>
                                            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                <div style="width: 50%;">应付金额（当前订单还应付）</div>
                                                <div style="width: 50%;">￥{{priceTotal
                                                    <0? '0':priceTotal}}</div>
                                                </div>

                                            </div>

                                        </div>
                                </nz-spin>
                                </div>

                            </div>

                        </div>
                </mat-card>

                </div>

            </div>

        </div>
    </div>