<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">

        <div class="example-container">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                <div fxLayout="row" fxLayoutGap="20px">
                    <button mat-raised-button color="primary" *ngIf="isFinished!='1'" style="letter-spacing: 2px;" (click)="return()">返回已退款列表</button>

                </div>

                <mat-card>
                    <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
                        <mat-tab label="退款申请信息">
                            <div class="content">
                                <div class="example-container" style="margin-bottom: 50px;">
                                    <div fxLayout="column" fxLayoutAlign="start stretch">
                                        <div fxLayout="row" fxLayoutAlign="space-between center">
                                            <div>
                                                <h4 style="padding-left: 10px;padding-top: 10px;">退款申请信息</h4>
                                            </div>
                                        </div>
                                        <nz-divider></nz-divider>

                                        <div fxLayout="column" fxLayoutAlign="start stretch">
                                            <form nz-form [formGroup]="addForm" nz-row>
                                                <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="product_name">产品名称</nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <input nz-input formControlName="product_name" nzBorderless [ngModel]="detailModel?.order?.data?.product_name" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>
                                                <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="store_name">店铺名称</nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <input nz-input formControlName="store_name" nzBorderless [ngModel]="detailModel?.store_name" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>
                                                <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="order_id">订单编号</nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <input nz-input formControlName="order_id" nzBorderless [ngModel]="detailModel?.order_id" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>



                                                <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="id">退款编号</nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <input nz-input formControlName="id" nzBorderless [ngModel]="detailModel?.id" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type">退款方案</nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <input nz-input formControlName="type" nzBorderless [ngModel]="isType" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="refund_reason">退款原因</nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <input nz-input formControlName="refund_reason" nzBorderless [ngModel]="detailModel?.refund_reason" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>


                                                <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="created_at">申请时间</nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <input nz-input formControlName="created_at" nzBorderless [ngModel]="detailModel?.created_at|date:'yyyy-MM-dd HH:mm:dd'" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="product_start_date">出发日期</nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <input nz-input formControlName="product_start_date" nzBorderless [ngModel]="detailModel?.order?.data?.start_date|date:'yyyy-MM-dd'" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                            </form>

                                        </div>

                                        <div fxLayout="column" fxLayoutAlign="center center">
                                            <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="next1()">下一步</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                        <ng-container *ngIf="(detailModel?.order?.data?.product_type==1&&detailModel?.order?.data?.quote_type==2)||detailModel?.order?.data?.product_type==0">
                            <mat-tab label="订单详情">
                                <ng-template matTabContent>
                                    <div class="content">
                                        <div class="example-container" style="margin-bottom: 50px;">
                                            <div fxLayout="column" fxLayoutAlign="start stretch">
                                                <form nz-form [formGroup]="addForm" nz-row>
                                                    <div fxLayout="column" fxLayoutAlign="start stretch" style="width: 100%;">
                                                        <div>
                                                            <h4 style="padding-left: 10px;padding-top: 10px;">订单详情</h4>
                                                        </div>
                                                        <nz-divider></nz-divider>
                                                        <div>
                                                            <h5 style="padding-left: 20px;padding-top: 20px;">产品信息</h5>
                                                        </div>
                                                        <div nz-row>
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="product_name">产品名称</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="product_name" nzBorderless [ngModel]="detailModel?.order?.data?.product_name" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="product_type">产品类型</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="product_type" nzBorderless [ngModel]="detailModel?.order?.data?.product_type===0?'跟团游':'自由行'" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="store_name">店铺名称</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="store_name" nzBorderless [ngModel]="detailModel?.store_name" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="order_id">订单编号</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="order_id" nzBorderless [ngModel]="detailModel?.order_id" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>

                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="product_start_date">出发日期</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="product_start_date" nzBorderless [ngModel]="detailModel?.order?.data?.start_date|date:'yyyy-MM-dd'" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>

                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="product_num_total">出行人数</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="product_num_total" nzBorderless [ngModel]="detailModel?.order?.data?.num_total" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>
                                                        </div>


                                                        <div>
                                                            <h5 style="padding-left: 20px;padding-top: 20px;">联系人信息</h5>
                                                        </div>
                                                        <div nz-row>
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="product_contact_name">姓名</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="product_contact_name" nzBorderless [ngModel]="detailModel?.order?.data?.contact_name" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="product_contact_phone">手机号</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="product_contact_phone" nzBorderless [ngModel]="detailModel?.order?.data?.contact_phone" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>
                                                        </div>


                                                        <div>
                                                            <h5 style="padding-left: 20px;padding-top: 20px;">费用明细</h5>
                                                        </div>
                                                        <div nz-row>
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="pro_num_adult">成人</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="pro_num_adult" nzBorderless [ngModel]="pro_num_adult" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="pro_num_kid">儿童</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="pro_num_kid" nzBorderless [ngModel]="pro_num_kid" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>

                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="pro_num_baby">婴儿</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="pro_num_baby" nzBorderless [ngModel]="pro_num_baby" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>

                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24" *ngIf="detailModel?.order?.data?.price_diff!=0">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="price_diff">房差</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="price_diff" nzBorderless [ngModel]="price_diff" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>


                                                            <ng-container formArrayName="otherList" *ngFor="let image of otherArray.controls as FormArray;let i = index" nz-row>
                                                                <ng-container [formGroupName]="i" nz-row>
                                                                    <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                        <div nz-row>
                                                                            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="namePrice">{{image.value.name}}</nz-form-label>
                                                                            <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                                <input nz-input formControlName="namePrice" nzBorderless />
                                                                            </nz-form-control>
                                                                        </div>
                                                                    </nz-form-item>
                                                                </ng-container>
                                                            </ng-container>
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="price_total" style="font-size: 16px;font-weight: 800;">现订单总金额</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="price_total" nzBorderless [ngModel]="price_total" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>


                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row style="margin-left: 122px;">
                                                                    <span style="font-size: 19px;font-weight: bold;">实付总金额:</span>
                                                                    <span style="font-size: 19px;font-weight: bold;color: red;margin-left:10px">{{price_receive}}</span>
                                                                </div>
                                                            </nz-form-item>
                                                        </div>


                                                        <div>
                                                            <h5 style="padding-left: 20px;padding-top: 20px;">出行人信息</h5>
                                                        </div>

                                                        <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                            <div nz-row>
                                                                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="customer_remarks">客人备注</nz-form-label>
                                                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                    <input nz-input formControlName="customer_remarks" nzBorderless [ngModel]="detailModel?.order?.data?.customer_remarks" />
                                                                </nz-form-control>
                                                            </div>
                                                        </nz-form-item>

                                                        <div style="width: 100%;margin-top: 17px;">
                                                            <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="selectMemberData">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="text-align: center;">姓名</th>
                                                                        <th style="text-align: center;">类型</th>
                                                                        <th style="text-align: center;">证件类型</th>
                                                                        <th style="text-align: center;">证件号码</th>
                                                                        <th style="text-align: center;">是否已申请过退款</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let data of rowSelectionTable.data">
                                                                        <td>{{data.name}}</td>
                                                                        <td>
                                                                            <span *ngIf="data.is_kid===0">成人</span>
                                                                            <span *ngIf="data.is_kid===1">儿童</span>
                                                                            <span *ngIf="data.is_kid===2">婴儿</span>
                                                                        </td>
                                                                        <td>
                                                                            <span *ngIf="data.id_type===1">身份证</span>
                                                                            <span *ngIf="data.id_type===2">护照</span>
                                                                            <span *ngIf="data.id_type===3">回乡证</span>
                                                                        </td>
                                                                        <td>{{data.id_num}}</td>
                                                                        <td>
                                                                            <div *ngIf="data.refund_status===1" style="color: red;">已申请退款</div>
                                                                            <div *ngIf="data.refund_status===0">未申请</div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </nz-table>
                                                        </div>

                                                    </div>
                                                </form>


                                                <div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 20px;">
                                                    <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="next2()">下一步</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </mat-tab>
                        </ng-container>

                        <ng-container *ngIf="detailModel?.order?.data?.product_type==1&&detailModel?.order?.data?.quote_type==1">
                            <mat-tab label="订单详情">
                                <ng-template matTabContent>
                                    <div class="content">
                                        <div class="example-container" style="margin-bottom: 50px;">
                                            <div fxLayout="column" fxLayoutAlign="start stretch">
                                                <form nz-form [formGroup]="addForm" nz-row>
                                                    <div fxLayout="column" fxLayoutAlign="start stretch" style="width: 100%;">
                                                        <div>
                                                            <h4 style="padding-left: 10px;padding-top: 10px;">订单详情</h4>
                                                        </div>
                                                        <nz-divider></nz-divider>
                                                        <div>
                                                            <h5 style="padding-left: 20px;padding-top: 20px;">产品信息</h5>
                                                        </div>
                                                        <div nz-row>
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="product_name">产品名称</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="product_name" nzBorderless [ngModel]="detailModel?.order?.data?.product_name" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="product_type">产品类型</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="product_type" nzBorderless [ngModel]="detailModel?.order?.data?.product_type===0?'跟团游':'自由行'" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="store_name">店铺名称</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="store_name" nzBorderless [ngModel]="detailModel?.store_name" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="order_id">订单编号</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="order_id" nzBorderless [ngModel]="detailModel?.order_id" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>

                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="product_start_date">出发日期</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="product_start_date" nzBorderless [ngModel]="detailModel?.order?.data?.start_date|date:'yyyy-MM-dd'" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>
                                                        </div>


                                                        <div>
                                                            <h5 style="padding-left: 20px;padding-top: 20px;">联系人信息</h5>
                                                        </div>
                                                        <div nz-row>
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="product_contact_name">姓名</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="product_contact_name" nzBorderless [ngModel]="detailModel?.order?.data?.contact_name" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="product_contact_phone">手机号</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="product_contact_phone" nzBorderless [ngModel]="detailModel?.order?.data?.contact_phone" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>
                                                        </div>


                                                        <div>
                                                            <h5 style="padding-left: 20px;padding-top: 20px;">费用明细</h5>
                                                        </div>
                                                        <div nz-row>
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="packAge">套餐</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="packAge" nzBorderless [ngModel]="packAge" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>

                                                            <ng-container formArrayName="otherList" *ngFor="let image of otherArray.controls as FormArray;let i = index" nz-row>
                                                                <ng-container [formGroupName]="i" nz-row>
                                                                    <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                        <div nz-row>
                                                                            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="namePrice">{{image.value.name}}</nz-form-label>
                                                                            <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                                <input nz-input formControlName="namePrice" nzBorderless />
                                                                            </nz-form-control>
                                                                        </div>
                                                                    </nz-form-item>
                                                                </ng-container>
                                                            </ng-container>
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="price_total" style="font-size: 16px;font-weight: 800;">现订单总金额</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="price_total" nzBorderless [ngModel]="price_total" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>


                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row style="margin-left: 122px;">
                                                                    <span style="font-size: 19px;font-weight: bold;">实付总金额:</span>
                                                                    <span style="font-size: 19px;font-weight: bold;color: red;margin-left:10px">{{price_receive}}</span>
                                                                </div>
                                                            </nz-form-item>

                                                        </div>

                                                    </div>
                                                </form>


                                                <div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 20px;" *ngIf="isFinished==='2'||isFinished==='3'">
                                                    <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="next2()">下一步</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </mat-tab>
                        </ng-container>


                        <mat-tab label="已退款详情">
                            <ng-template matTabContent>
                                <div class="content">
                                    <mat-card>
                                        <div class="example-container" style="height: 65px;">
                                            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px" style="height: 100%;">
                                                <div style="font-weight: bold;font-size: 18px;"><span>退款成功！</span></div>
                                                <div style="font-weight: bold;font-size: 18px;"><span>退款金额：</span><span style="color: red;">{{'￥'+detailModel?.refund_amount}}</span></div>
                                                <div>处理退款时间：<span>{{detailModel?.check_at}}</span></div>
                                            </div>
                                        </div>
                                    </mat-card>

                                    <div class="example-container" style="margin-bottom: 50px;">
                                        <div fxLayout="column" fxLayoutAlign="start stretch">
                                            <form nz-form [formGroup]="addForm" nz-row>
                                                <div fxLayout="column" fxLayoutAlign="start stretch" style="width: 100%;">
                                                    <div>
                                                        <h4 style="padding-left: 10px;padding-top: 10px;">退款信息</h4>
                                                    </div>
                                                    <nz-divider></nz-divider>

                                                    <div nz-row>
                                                        <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                                                            <div nz-row>
                                                                <h5 style="margin-left: 78px;letter-spacing: 2px;">本申请为提前<span style="font-size: 16px;color: red;font-weight: bold;">{{advance}}</span> 天申请退款（不含出发当日）</h5>
                                                            </div>
                                                        </nz-form-item>

                                                        <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                                                            <div nz-row>
                                                                <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="standard" style="font-weight: bold;">选择适合退款标准</nz-form-label>
                                                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                    <nz-select formControlName="standard" [(ngModel)]="isStandard" nzDisabled>
                                                                        <nz-option [nzLabel]="'出发前7日以上'"  [nzValue]="0"></nz-option>
                                                                            <nz-option [nzLabel]="'出发前7日以内，按旅游费用总额80%'"  [nzValue]="1"></nz-option>
                                                                                <nz-option [nzLabel]="'出发前5日以内，按旅游费用总额70%'"  [nzValue]="2"></nz-option>
                                                                                    <nz-option [nzLabel]="'出发前3日以内，按旅游费用总额50%'"  [nzValue]="3"></nz-option>
                                                                                        <nz-option [nzLabel]="'出发当日，不予退款'"  [nzValue]="4"></nz-option>
                                                                                            </nz-select>
                                                                </nz-form-control>
                                                            </div>
                                                        </nz-form-item>

                                                        <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                                                            <div nz-row>
                                                                <h5 style="margin-left: 78px;">本申请可退款项</h5>
                                                            </div>
                                                        </nz-form-item>

                                                        <ng-container *ngIf="(detailModel?.order?.data?.product_type==1&&detailModel?.order?.data?.quote_type==2)||detailModel?.order?.data?.product_type==0">
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="selectHumans">此次选择的退款出行人</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="selectHumans" nzBorderless [ngModel]="selectHumans" />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>
                                                        </ng-container>

                                                        <ng-container *ngIf="detailModel?.order?.data?.product_type==1&&detailModel?.order?.data?.quote_type==1">
                                                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                                <div nz-row>
                                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="selectPack">已选择退款套餐数</nz-form-label>
                                                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                        <input nz-input formControlName="selectPack" nzBorderless ngModel={{detailModel?.refund_number}} />
                                                                    </nz-form-control>
                                                                </div>
                                                            </nz-form-item>
                                                        </ng-container>

                                                        <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                            <div nz-row>
                                                                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="basicRefund">基础退款金额</nz-form-label>
                                                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                    <input nz-input formControlName="basicRefund" nzBorderless [ngModel]="'￥'+detailModel?.amount_detail[0]" />
                                                                </nz-form-control>
                                                            </div>
                                                        </nz-form-item>

                                                        <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                            <div nz-row>
                                                                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="amount_add">额外退款金额</nz-form-label>
                                                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                    <input nz-input formControlName="amount_add" nzBorderless [ngModel]="'￥'+detailModel?.amount_detail[1]" />
                                                                </nz-form-control>
                                                            </div>
                                                        </nz-form-item>
                                                        <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                            <div nz-row>
                                                                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="amount_cut">其他扣除费用</nz-form-label>
                                                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                    <input nz-input formControlName="amount_cut" nzBorderless [ngModel]="'￥'+detailModel?.amount_detail[2]" />
                                                                </nz-form-control>
                                                            </div>
                                                        </nz-form-item>

                                                        <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                                            <div>
                                                                <h4 style="margin-left: 78px;letter-spacing: 1px;">本次申请可退款总金额：<span style="font-weight: bold;font-size: 18px;color: red;">{{'￥'+detailModel?.refund_amount}}</span></h4>
                                                            </div>
                                                        </nz-form-item>

                                                        <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                                                            <div nz-row>
                                                                <h5 style="margin-left: 78px;">退款去向方式：</h5>
                                                                <span *ngIf="isWayFor===true">原路返回</span>
                                                                <span *ngIf="isWayFor===false">银行转账</span>
                                                            </div>
                                                        </nz-form-item>

                                                    </div>

                                                    <div style="width: 100%;margin-top: 17px;" *ngIf="isWayFor===true">
                                                        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="RefundLogData">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align: center;">流水号</th>
                                                                    <th style="text-align: center;">返回方式</th>
                                                                    <th style="text-align: center;">退款金额</th>
                                                                    <th style="text-align: center;">退款时间</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let data of rowSelectionTable.data">
                                                                    <td>{{data.transaction_id}}</td>
                                                                    <td>
                                                                        <span *ngIf="data.pay_type===1">微信</span>
                                                                        <span *ngIf="data.pay_type===2">支付宝</span>
                                                                        <span *ngIf="data.pay_type===3">现金</span>
                                                                        <span *ngIf="data.pay_type===4">微信二维码</span>
                                                                        <span *ngIf="data.pay_type===5">支付宝二维码</span>
                                                                        <span *ngIf="data.pay_type===6">银行卡转账</span>
                                                                    </td>
                                                                    <td>{{data.refund_amount}}</td>
                                                                    <td>{{data?.created_at|date:'yyyy-MM-dd HH:mm:dd'}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </nz-table>
                                                    </div>

                                                    <div nz-row *ngIf="isWayFor===false">
                                                        <nz-form-item nz-col [nzSm]="8" [nzXs]="24">
                                                            <div nz-row>
                                                                <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="bank_user" nzRequired>开户名</nz-form-label>
                                                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                    <input nz-input formControlName="bank_user" nzBorderless [ngModel]="RefundLogData[0]?.bank_user" />
                                                                </nz-form-control>
                                                            </div>
                                                        </nz-form-item>
                                                        <nz-form-item nz-col [nzSm]="8" [nzXs]="24">
                                                            <div nz-row>
                                                                <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="bank_address" nzRequired>开户行</nz-form-label>
                                                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                    <input nz-input formControlName="bank_address" nzBorderless [ngModel]="RefundLogData[0]?.bank_address" />
                                                                </nz-form-control>
                                                            </div>
                                                        </nz-form-item>
                                                        <nz-form-item nz-col [nzSm]="8" [nzXs]="24">
                                                            <div nz-row>
                                                                <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="bank_number" nzRequired>账户</nz-form-label>
                                                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                    <input nz-input formControlName="bank_number" nzBorderless [ngModel]="RefundLogData[0]?.bank_number" />
                                                                </nz-form-control>
                                                            </div>
                                                        </nz-form-item>
                                                        <nz-form-item nz-col [nzSm]="8" [nzXs]="24">
                                                            <div nz-row>
                                                                <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="refund_amount" nzRequired>退款金额</nz-form-label>
                                                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                    <nz-input-number class="input" style="width: 100%;" nzBorderless [ngModel]="RefundLogData[0]?.refund_amount" formControlName="refund_amount" [nzMin]="0" [nzStep]="1"></nz-input-number>
                                                                </nz-form-control>
                                                            </div>
                                                        </nz-form-item>
                                                        <nz-form-item nz-col [nzSm]="8" [nzXs]="24">
                                                            <div nz-row>
                                                                <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="pay_at" nzRequired>退款时间</nz-form-label>
                                                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                    <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" nzBorderless [ngModel]="RefundLogData[0]?.pay_at" style="width: 100%;" formControlName="pay_at"></nz-date-picker>
                                                                </nz-form-control>
                                                            </div>
                                                        </nz-form-item>
                                                        <nz-form-item nz-col [nzSm]="8" [nzXs]="24">
                                                            <div nz-row>
                                                                <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="transaction_id" nzRequired>银行流水号</nz-form-label>
                                                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                                                    <input nz-input formControlName="transaction_id" nzBorderless [ngModel]="RefundLogData[0]?.transaction_id" />
                                                                </nz-form-control>
                                                            </div>
                                                        </nz-form-item>
                                                    </div>

                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>

                            </ng-template>
                        </mat-tab>





                    </mat-tab-group>
                </mat-card>
            </div>

        </div>

    </div>
</div>