<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">

        <div class="example-container">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                <div fxLayout="row" fxLayoutGap="20px">
                    <button mat-raised-button color="primary" *ngIf="isGoodReq!=1" style="letter-spacing: 2px;" routerLink="/admin/main/goodsOrderList">返回商品订单列表</button>
                    <button mat-raised-button color="primary" *ngIf="isGoodReq==1" style="letter-spacing: 2px;" routerLink="/admin/main/financeGoodsCash">返回商品请款列表</button>
                </div>

                <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
                    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                        <mat-card>
                            <div>
                                <div fxLayout="column" fxLayoutAlign="start stretch">
                                    <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 10px;">
                                        <div>
                                            <h4 style="padding-left: 10px;padding-top: 10px;">订单基本信息</h4>
                                        </div>
                                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" *ngIf="isHadExpress">
                                            <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="changeDetail()" *ngIf="!isChange">修改收货人信息</button>
                                            <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="commitDetail()" *ngIf="isChange">提交修改</button>
                                            <button mat-raised-button color="basic" style="letter-spacing: 2px;" (click)="cancelDetail()" *ngIf="isChange">取消修改</button>
                                        </div>
                                    </div>
                                    <nz-divider></nz-divider>
                                    <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                        <div>
                                            <div>
                                                <button class="btn">{{detailModel?.order_status_info}}</button>
                                            </div>
                                        </div>
                                        <div style="margin-top:13px">
                                            <form nz-form [formGroup]="addForm" nz-row>
                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="order_id">订单id
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="16" [nzXs]="24">
                                                            <input nz-input formControlName="order_id" nzBorderless readonly [ngModel]="detailModel?.id" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="orderDate">下单日期
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="16" [nzXs]="24">
                                                            <input nz-input formControlName="orderDate" nzBorderless readonly [ngModel]="detailModel?.created_at|date:'yyyy-MM-dd HH:mm:ss'" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="bind_name">下单/推荐人
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="16" [nzXs]="24">
                                                            <input nz-input formControlName="bind_name" nzBorderless readonly [ngModel]="detailModel?.bind_name?detailModel?.bind_name+',工号'+detailModel?.job_num:'-'" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="consignee" nzRequired>收货人</nz-form-label>
                                                        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入正确的收货人">
                                                            <input nz-input formControlName="consignee" nzBorderless readonly [ngModel]="detailModel?.consignee" *ngIf="!isChange" />
                                                            <input nz-input formControlName="consignee" [ngModel]="detailModel?.consignee" *ngIf="isChange" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="phone" nzRequired>
                                                            收货人电话</nz-form-label>
                                                        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入正确的收货人电话">
                                                            <input nz-input formControlName="phone" nzBorderless readonly [ngModel]="detailModel?.phone" *ngIf="!isChange" />
                                                            <input nz-input formControlName="phone" [ngModel]="detailModel?.phone" *ngIf="isChange" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>


                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="region_code" nzRequired>收货人所在地区</nz-form-label>
                                                        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入正确的收货人所在地区">
                                                            <input nz-input formControlName="region_code" nzBorderless readonly [ngModel]="detailModel?.region_full_name" *ngIf="!isChange" />
                                                            <nz-cascader nzChangeOnSelect [nzOptions]="nzOptions" [(ngModel)]="values" (ngModelChange)="onChanges($event)" formControlName="region_code_id" *ngIf="isChange"></nz-cascader>
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="address" nzRequired>收货人详细地址</nz-form-label>
                                                        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入正确的收货人详细地址">
                                                            <input nz-input formControlName="address" nzBorderless readonly [ngModel]="detailModel?.address" *ngIf="!isChange" />
                                                            <input nz-input formControlName="address" [ngModel]="detailModel?.address" *ngIf="isChange" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>


                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="user_phone">联系人电话
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="12" [nzXs]="24">
                                                            <input nz-input formControlName="user_phone" nzBorderless readonly [ngModel]="detailModel?.user_phone" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="remark">内部备注</nz-form-label>
                                                        <nz-form-control [nzSm]="16" [nzXs]="24">
                                                            <input nz-input formControlName="remark" nzBorderless readonly [ngModel]="detailModel?.remark" *ngIf="!isChange" />
                                                            <input nz-input formControlName="remark" [ngModel]="detailModel?.remark" *ngIf="isChange" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                            </form>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </mat-card>


                        <mat-card>
                            <div>
                                <div fxLayout="column" fxLayoutAlign="start stretch">
                                    <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 10px;">
                                        <div>
                                            <h4 style="padding-left: 10px;padding-top: 10px;">商品清单</h4>
                                        </div>
                                    </div>
                                    <nz-divider></nz-divider>
                                    <ng-container *ngFor="let sub of detailModel?.sub_order?.data;let i=index">
                                        <div>
                                            <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="50px" style="font-weight: 500;">
                                                    <div fxLayout="row" fxLayoutGap="50px" style="width: 20%;">
                                                        <div style="font-weight: 800;"># {{i+1}}</div>
                                                        <div><span> 子订单号： {{sub?.sub_number}}</span> </div>
                                                    </div>
                                                    <div style="width: 20%;">
                                                        <span>店铺名称：{{sub?.store_name}}</span>
                                                    </div>
                                                    <div style="width: 20%;">
                                                        <span>客人留言：{{sub?.remarks}}</span>
                                                    </div>
                                                </div>

                                                <div class="mat-elevation-z8">
                                                    <nz-table #rowSelectionTable nzBordered [nzData]="sub?.order_item?.data">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align: center;width: 12%;">商品名称</th>
                                                                <th style="text-align: center;">商品类型</th>
                                                                <th style="text-align: center;">商品产地</th>
                                                                <th style="text-align: center;">商品配送</th>
                                                                <th style="text-align: center;">商品规格</th>
                                                                <th style="text-align: center;">单价</th>
                                                                <th style="text-align: center;">数量</th>
                                                                <th style="text-align: center;">优惠金额</th>
                                                                <th style="text-align: center;">附加收费</th>
                                                                <th style="text-align: center;">订单金额</th>
                                                                <th style="text-align: center;">是否包邮</th>
                                                                <th style="text-align: center;">发货期间</th>
                                                                <th style="text-align: center;">发货状态</th>
                                                                <th style="text-align: center;">快递信息</th>
                                                                <th style="text-align: center;">快递发货时间</th>
                                                                <th style="text-align: center;">操作</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let data of rowSelectionTable.data;let i=index">
                                                                <td>{{data?.goods_name}}</td>
                                                                <td>{{data?.cate_name}}</td>
                                                                <td>{{data?.goods?.data?.goods_area_name}}</td>
                                                                <td>{{data?.goods?.data?.delivery_type==0?'商家发货':'产地发货'}}</td>
                                                                <td>{{data?.spec_name}}</td>
                                                                <td>{{data?.goods_price}}元</td>
                                                                <td>{{data?.goods_num}}份</td>
                                                                <td>{{data?.discount}}元</td>
                                                                <td>{{data?.extra}}元</td>
                                                                <td>{{data?.total_price}}元</td>
                                                                <td>{{data?.postage==0?'是':'否,运费:￥'+data?.freight_price}}</td>
                                                                <td>{{data?.send_start}}~{{data?.send_end}}</td>
                                                                <ng-container *ngIf="i==0">
                                                                    <td [attr.rowspan]="sub?.order_item?.data?.length">
                                                                        <span *ngIf="sub?.express_status==0">
                                                                            <nz-badge nzColor="yellow"></nz-badge>未发货
                                                                        </span>
                                                                        <span *ngIf="sub?.express_status==1">
                                                                            <nz-badge nzColor="green"></nz-badge>已发货
                                                                        </span>
                                                                    </td>
                                                                    <td [attr.rowspan]="sub?.order_item?.data?.length">
                                                                        <ng-container *ngIf="sub?.express_status==0">-</ng-container>
                                                                        <ng-container *ngIf="sub?.express_status==1">
                                                                            <div>{{sub?.express_company_name}}</div>
                                                                            <div>{{sub?.express_number}}</div>
                                                                        </ng-container>
                                                                    </td>
                                                                    <td [attr.rowspan]="sub?.order_item?.data?.length">
                                                                        <ng-container *ngIf="sub?.express_status==0">-</ng-container>
                                                                        <ng-container *ngIf="sub?.express_status==1">
                                                                            <div>{{sub?.delivery_time|date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                                                        </ng-container>
                                                                    </td>
                                                                </ng-container>
                                                                <td>
                                                                    <!-- 只有订单待支付才能修改商品信息 -->
                                                                    <ng-container *ngIf="detailModel?.order_status==1">
                                                                        <button mat-raised-button color="primary" (click)="changeGoods(data)">修改商品信息</button>
                                                                    </ng-container>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </nz-table>
                                                </div>
                                            </div>


                                        </div>
                                    </ng-container>

                                </div>

                            </div>
                        </mat-card>



                        <!-- <mat-card *ngIf="cashList?.length>0">
                            <div>
                                <div fxLayout="column" fxLayoutAlign="start stretch">
                                    <div fxLayout="row" fxLayoutAlign="space-between center">
                                        <div>
                                            <h4 style="padding-left: 10px;padding-top: 10px;">请款信息</h4>
                                        </div>
                                    </div>
                                    <nz-divider></nz-divider>
                                    <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                        <div class="mat-elevation-z8">
                                            <nz-table #rowSelectionTable [nzData]="cashList" nzBordered>
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;">请款id</th>
                                                        <th style="text-align: center;">请款商品</th>
                                                        <th style="text-align: center;">请款单价</th>
                                                        <th style="text-align: center;">请款数量</th>
                                                        <th style="text-align: center;">请款总金额</th>
                                                        <th style="text-align: center;">成本类型</th>
                                                        <th style="text-align: center;">供应商</th>
                                                        <th style="text-align: center;">供应商收款账户</th>
                                                        <th style="text-align: center;">银行名称</th>
                                                        <th style="text-align: center;">开户行地址</th>
                                                        <th style="text-align: center;">请款说明</th>
                                                        <th style="text-align: center;">支付状态</th>
                                                        <th style="text-align: center;">已批金额</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <ng-container *ngFor="let data of rowSelectionTable.data">
                                                        <tr *ngFor="let goods of data?.goods_detail?.data;let i=index">
                                                            <ng-container *ngIf="i==0">
                                                                <td [attr.rowspan]="data?.goods_detail?.data?.length">{{data.id}}</td>
                                                            </ng-container>
                                                            <td>{{goods?.goods_name}}</td>
                                                            <td>{{goods?.cash_price}}</td>
                                                            <td>{{goods?.num}}</td>
                                                            <ng-container *ngIf="i==0">
                                                                <td [attr.rowspan]="data?.goods_detail?.data?.length">{{data.total}}元</td>
                                                                <td [attr.rowspan]="data?.goods_detail?.data?.length">{{data.group_cost_type?.data[0]?.title}}</td>
                                                                <td [attr.rowspan]="data?.goods_detail?.data?.length">{{data.supplier?.data[0]?.supplier_name}}</td>
                                                                <td [attr.rowspan]="data?.goods_detail?.data?.length">{{data.supplier?.data[0]?.bank_account}}</td>
                                                                <td [attr.rowspan]="data?.goods_detail?.data?.length">{{data.supplier?.data[0]?.bank_name}}</td>
                                                                <td [attr.rowspan]="data?.goods_detail?.data?.length">{{data.supplier?.data[0]?.bank_open}}</td>
                                                                <td [attr.rowspan]="data?.goods_detail?.data?.length">{{data?.content}}</td>
                                                                <td [attr.rowspan]="data?.goods_detail?.data?.length">
                                                                    <span *ngIf="data?.pay_status==0">未付款</span>
                                                                    <span *ngIf="data?.pay_status==1">部分付款</span>
                                                                    <span *ngIf="data?.pay_status==2">已付款</span>
                                                                    <span *ngIf="data?.pay_status==3">已收发票</span>
                                                                </td>
                                                                <td [attr.rowspan]="data?.goods_detail?.data?.length">{{data?.payed_money}}元</td>
                                                            </ng-container>
                                                        </tr>
                                                    </ng-container>
                                                </tbody>
                                            </nz-table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </mat-card> -->

                        <mat-card *ngIf="dataPayLog.length!=0">
                            <div>
                                <div fxLayout="column" fxLayoutAlign="start stretch">
                                    <div fxLayout="row" fxLayoutAlign="space-between center">
                                        <div>
                                            <h4 style="padding-left: 10px;padding-top: 10px;">收款流水信息</h4>
                                        </div>
                                    </div>
                                    <nz-divider></nz-divider>
                                    <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                        <div class="mat-elevation-z8">
                                            <nz-table #rowSelectionTablePayLog [nzData]="dataPayLog">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;">订单id</th>
                                                        <th style="text-align: center;">支付单号</th>
                                                        <th style="text-align: center;">支付流水号</th>
                                                        <th style="text-align: center;">支付金额</th>
                                                        <th style="text-align: center;">支付方式</th>
                                                        <th style="text-align: center;">支付方法</th>
                                                        <th style="text-align: center;">支付时间</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of rowSelectionTablePayLog.data">
                                                        <td>{{data.order_id}}</td>
                                                        <td>{{data.pay_number}}</td>
                                                        <td>{{data.transaction_id}}</td>
                                                        <td>{{data.fee}}元</td>
                                                        <td>{{data.pay_type_info}} </td>
                                                        <td>
                                                            <span *ngIf="data.pay_way==0">线上支付</span>
                                                            <span *ngIf="data.pay_way==1">后台手动录入</span>
                                                            <span *ngIf="data.pay_way==2">POS机收款</span>
                                                        </td>
                                                        <td>
                                                            {{data.pay_time}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </nz-table>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </mat-card>


                        <mat-card>
                            <div>
                                <div fxLayout="column" fxLayoutAlign="start stretch">
                                    <div fxLayout="row" fxLayoutAlign="space-between center">
                                        <div>
                                            <h4 style="padding-left: 10px;padding-top: 10px;">费用明细</h4>
                                        </div>
                                    </div>
                                    <nz-divider></nz-divider>
                                    <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                        <div>
                                            <div>
                                                <button class="btn" *ngIf="detailModel?.payment_status===0">待支付</button>
                                                <button class="btn" *ngIf="detailModel?.payment_status===1">已支付</button>
                                                <button class="btn" *ngIf="detailModel?.payment_status===2">待支付</button>
                                            </div>
                                        </div>
                                        <div style="margin-top:13px">
                                            <div style="font-weight: 200;font-size: 14px;letter-spacing: 1px;">
                                                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                    <div style="width: 50%;">商品小计</div>
                                                    <div style="width: 50%;">￥{{detailModel?.item_total}}</div>
                                                </div>

                                                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                    <div style="width: 50%;">运费</div>
                                                    <div style="width: 50%;">￥{{detailModel?.freight_total}}</div>
                                                </div>

                                                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                    <div style="width: 50%;">附加收费</div>
                                                    <div style="width: 50%;">￥{{detailModel?.extra_total}}</div>
                                                </div>

                                                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                    <div style="width: 50%;">优惠</div>
                                                    <div style="width: 50%;">￥{{detailModel?.discount_total}}</div>
                                                </div>
                                            </div>

                                            <div style="font-weight: 500;font-size: 16px;color: red;" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">

                                                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                    <div style="width: 50%;">合计</div>
                                                    <div style="width: 50%;">￥{{detailModel?.price_total}}</div>
                                                </div>
                                                <div style="width: 32%;border-top: 1px solid rgba(0,0,0,.06);"></div>
                                                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                    <div style="width: 50%;">已收金额</div>
                                                    <div style="width: 50%;">￥{{detailModel?.amount_paid}}</div>
                                                </div>
                                                <div style="width: 32%;border-top: 1px solid rgba(0,0,0,.06);"></div>
                                                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                    <div style="width: 50%;">还需收款金额</div>
                                                    <div style="width: 50%;">￥{{detailModel?.amount_unpaid}}</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </mat-card>
                    </div>
                </nz-spin>
            </div>

        </div>

    </div>
</div>