<div fxLayoutWrap="wrap">
    <div style="padding: 5px;">
        <form nz-form [formGroup]="addForm" nz-row>

            <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="price_total">订单金额</nz-form-label>
                    <nz-form-control [nzSm]="18" [nzXs]="24">
                        <input nz-input formControlName="price_total" readonly="true" nzBorderless [ngModel]='"￥"+data?.price_total' />
                    </nz-form-control>
                </div>
            </nz-form-item>
            <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="order_id">订单编号</nz-form-label>
                    <nz-form-control [nzSm]="18" [nzXs]="24">
                        <input nz-input formControlName="order_id" readonly="true" nzBorderless ngModel={{data?.id}}/>
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">备注</nz-form-label>
                    <nz-form-control [nzSm]="18" [nzXs]="24">
                        <input nz-input formControlName="remark" />
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="reason">全额退款原因</nz-form-label>
                    <nz-form-control [nzSm]="18" [nzXs]="24">
                        <textarea nz-input formControlName="reason" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
                    </nz-form-control>
                </div>
            </nz-form-item>
        </form>
    </div>
</div>