<div fxLayoutWrap="wrap">
    <div fxLayoutAlign="end start">
        <div style="font-size: 18px;cursor: pointer;" (click)="close()">X</div>
    </div>
    <div style="padding: 5px;">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
            <div style="margin-bottom: 20px;color: red;font-size: 16px;letter-spacing: 1px;">是否提交审核</div>

            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
                <button nz-button nzType="default" (click)="cancel()" style="margin-right: 20px;">取消</button>
                <button nz-button nzType="primary" (click)="update()">确定</button>

            </div>
        </div>
    </div>
</div>