<div fxLayoutWrap="wrap">
    <div style="padding:  5px;">
        <form nz-form [formGroup]="validateForm">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="id">保险id</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input formControlName="id" ngModel={{insuranceDetailModel?.id}} nzBorderless readonly />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="code" nzRequired>保险产品方案代码</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors.code">
                    <input nz-input formControlName="code" ngModel={{insuranceDetailModel?.code}} placeholder="请输入保险产品方案代码！" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>保险名称</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入保险名称！">
                    <input nz-input formControlName="name" ngModel={{insuranceDetailModel?.name}} placeholder="请输入保险名称！" />
                </nz-form-control>
            </nz-form-item>


            <nz-form-item style="margin-bottom: 0px;">
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>保险价格 </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-row formArrayName="insured_date" *ngFor="let insured_date of insuredDateArray.controls;let dateIndex = index">
                        <nz-form-control [nzSm]="24" [nzXs]="24" style="margin-bottom: 20px;">
                            <ng-template #prefix>
                                <span>{{dateIndex+1}}天游</span>
                            </ng-template>
                            <nz-input-group [nzAddOnBefore]="prefix" nzPrefix="￥" [nzAddOnAfter]="suffixIconButton">
                                <input nz-input placeholder="请输入保险价格！" onkeyup="value=value.replace(/[^\d.]/g,'').replace(/\.{2,}/g, '.').replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3')" [formControlName]="dateIndex" />
                            </nz-input-group>
                            <ng-template #suffixIconButton>
                                <i nz-icon nzType="minus" style="cursor: pointer;" (click)="remove(dateIndex)"></i>
                            </ng-template>
                        </nz-form-control>
                    </nz-row>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 14, offset: 6 }">
                    <button nz-button nzType="dashed" class="add-button" (click)="add()">
                    <i nz-icon nzType="plus"></i>
                    添加更多
                  </button>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="insurance_amount">保额</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-input-number style=" width: 100%;" ngModel={{insuranceDetailModel?.insurance_amount}} formControlName="insurance_amount"></nz-input-number>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="article" nzRequired>保险条款</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors.article">
                    <textarea nz-input formControlName="article" ngModel={{insuranceDetailModel?.article}} [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="is_base" nzRequired>是否设为基础保险</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择">
                    <nz-radio-group formControlName="is_base" ngModel={{insuranceDetailModel?.is_base}}>
                        <label nz-radio nzValue='0'>否</label>
                        <label nz-radio nzValue='1'>是</label>
                    </nz-radio-group>
                    <p style="color: red;">！基础保险有且只有一个</p>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="status">状态</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-radio-group formControlName="status" ngModel={{insuranceDetailModel?.status}}>
                        <label nz-radio nzValue='0'>禁用</label>
                        <label nz-radio nzValue='1'>启用</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>

        </form>
    </div>
</div>