<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <form [formGroup]="searchForm" nz-row nz-form>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="title">产品名称</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="title" placeholder="请输入产品名称" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="quote_type">报价类型</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-select nzPlaceHolder="请选择" formControlName="quote_type" nzAllowClear>
                                        <nz-option [nzLabel]="'全部'" [nzValue]=""> </nz-option>
                                        <nz-option [nzLabel]="'套餐'" [nzValue]="1"> </nz-option>
                                        <nz-option [nzLabel]="'按人头'" [nzValue]="2"> </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="start_date">出发日期</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-date-picker style="width: 100%;" [(ngModel)]="date" placeholder="请选择出发日期" formControlName="start_date"></nz-date-picker>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="departure_city">出发城市</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-cascader nzChangeOnSelect style="width: 100%;" placeholder="请选择出发城市" [nzOptions]="nzOptions" (ngModelChange)="onChangesdepartureCity($event)" formControlName="departure_city"></nz-cascader>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="destination_city">目的城市</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-cascader nzChangeOnSelect style="width: 100%;" placeholder="请选择目的城市" [nzOptions]="nzOptions" (ngModelChange)="onChangesdestinationCity($event)" formControlName="destination_city"></nz-cascader>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="few_days">行程天数</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="few_days" placeholder="请输入行程天数" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>


                        <nz-form-item nz-col [nzSm]="2" [nzXs]="24">
                            <div nz-row>
                                <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="search()">搜索</button>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="2" [nzXs]="24">
                            <div nz-row>
                                <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="reset()">重置</button>
                            </div>
                        </nz-form-item>
                    </form>

                    <div class="mat-elevation-z8">
                        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
                            (nzPageSizeChange)="changePageSize($event)">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">产品id</th>
                                    <th style="text-align: center;">产品编码</th>
                                    <th style="text-align: center; width: 15%;">产品名称</th>
                                    <th style="text-align: center;">行程天数</th>
                                    <th style="text-align: center;">
                                        <div fxLayout="row" fxLayoutAlign="center center">
                                            <div>最低价格</div>
                                            <div fxLayout="column" fxLayoutAlign="space-around center" style="margin-left: 10px;">
                                                <i nz-icon style="cursor: pointer;width: 8px;height: 8px;color: gray;cursor: pointer;" nzType="caret-up" nzTheme="outline" title="最低价格从高到低" (click)="sortDesc()"></i>
                                                <i nz-icon style="cursor: pointer;width: 8px;height: 8px;color: gray;cursor: pointer;" nzType="caret-down" nzTheme="outline" title="最低价格从低到高" (click)="sortAsc()"></i>
                                            </div>
                                        </div>
                                    </th>
                                    <th style="text-align: center;">出发城市</th>
                                    <th style="text-align: center;">目的城市</th>
                                    <th style="text-align: center;">报价类型</th>

                                    <th style="text-align: center;">海报</th>
                                    <th style="text-align: center;">下单</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <td>{{data.id}}</td>
                                    <td>{{data.code}}</td>
                                    <td>{{data.title}}</td>
                                    <td>{{data.few_days}}天{{data.few_nights}}晚</td>
                                    <td>
                                        <div *ngIf="data.min_price===0"> - </div>
                                        <div *ngIf="data.min_price!=0"> {{data.min_price}}&nbsp;元 </div>
                                    </td>
                                    <td>{{data.departure}}</td>
                                    <td>{{data.destination}}</td>
                                    <td>
                                        <div *ngIf="data.quote_type==1">
                                            按套餐
                                        </div>
                                        <div *ngIf="data.quote_type==2">
                                            按人头
                                        </div>
                                    </td>
                                    <td>
                                        <div title="点击查看海报" *ngIf="data.poster_url!=''">
                                            <a href={{data.poster_url}} target="_blank">
                                                <img [src]="data.poster_url" style="width: 50px;height: 50px;">
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <a (click)="anOrder(data)">去下单</a>
                                    </td>


                                </tr>
                            </tbody>
                        </nz-table>

                    </div>

                </div>

            </div>
        </mat-card>
    </div>
</div>