<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">

        <div class="example-container">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                <div fxLayout="row" fxLayoutGap="20px">
                    <button mat-raised-button color="primary" style="width: 150px;letter-spacing: 2px;" routerLink="/admin/main/freeTravel">返回自由行列表</button>
                </div>

                <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
                    <mat-tab label="产品信息">
                        <div class="content">
                            <app-store-travel-detail-proinfo></app-store-travel-detail-proinfo>
                            <!-- <app-admin-travel-detail-proinfo></app-admin-travel-detail-proinfo> -->
                        </div>
                    </mat-tab>
                    <mat-tab label="推荐玩法" [disabled]="isIndex<1">
                        <div class="content">
                            <div class="example-large-box mat-elevation-z4">
                                this is 3
                            </div>
                        </div>

                    </mat-tab>

                    <mat-tab label="图片与视频" [disabled]="isIndex<2">
                        <div class="content">
                            <div class="example-large-box mat-elevation-z4">
                                this is 4
                            </div>
                        </div>

                    </mat-tab>


                </mat-tab-group>

            </div>

        </div>

    </div>
</div>