<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">

        <div class="example-container">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                <div fxLayout="row" fxLayoutGap="20px">
                    <button mat-raised-button color="primary" style="width: 150px;letter-spacing: 2px;" routerLink="/store/main/storeFreeTravel">返回自由行列表</button>
                </div>
                <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
                    <mat-tab label="产品信息">
                        <div class="content">
                            <app-store-travel-detail-proinfo></app-store-travel-detail-proinfo>
                        </div>
                    </mat-tab>
                    <mat-tab label="产品特色">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-store-travel-detail-feature [dataDetailModel]='dataDetailModel'></app-store-travel-detail-feature>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="产品详情">
                        <ng-template matTabContent>
                            <div class="content">
                                <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
                                    <app-store-travel-detail-desc [dataDetailModel]='dataDetailModel'></app-store-travel-detail-desc>
                                </nz-spin>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="预约须知">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-store-travel-detail-notice [dataDetailModel]='dataDetailModel'></app-store-travel-detail-notice>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="图片与视频">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-store-travel-detail-image [dataDetailModel]='dataDetailModel'></app-store-travel-detail-image>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="海报">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-store-free-detail-post [dataDetailModel]='dataDetailModel'></app-store-free-detail-post>
                            </div>
                        </ng-template>
                    </mat-tab>


                    <!-- <mat-tab label="上传行程">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-store-free-detail-upload-stroke [dataDetailModel]='dataDetailModel'></app-store-free-detail-upload-stroke>
                            </div>
                        </ng-template>
                    </mat-tab> -->


                </mat-tab-group>
            </div>

        </div>

    </div>
</div>