<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">

                    <form [formGroup]="searchForm" nz-row nz-form>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="status">订单状态</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-select nzPlaceHolder="请选择" formControlName="status" nzAllowClear>
                                        <nz-option [nzLabel]="'全部'" [nzValue]=""></nz-option>
                                        <nz-option [nzLabel]="'已取消'" [nzValue]="'0'"></nz-option>
                                        <nz-option [nzLabel]="'待支付'" [nzValue]="'1'"></nz-option>
                                        <nz-option [nzLabel]="'待出行'" [nzValue]="'2'"></nz-option>
                                        <nz-option [nzLabel]="'已完成'" [nzValue]="'3'"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                       
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="product_code">产品编码/id</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="product_code" placeholder="请输入产品编码/id" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="product_name">产品名称</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="product_name" placeholder="请输入产品名称" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="store_id">店铺名称</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-select nzPlaceHolder="请选择店铺名称" formControlName="store_id" nzAllowClear>
                                        <nz-option *ngFor="let data of storeList" [nzLabel]="data.name" [nzValue]="data.store_id"> </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="order_number">订单号</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="order_number" placeholder="请输入订单号" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="date_start">出发日期</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-range-picker nzFormat="yyyy-MM-dd" (ngModelChange)="onChangeDate($event)" formControlName="date_starts"></nz-range-picker>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="departure_city">出发城市</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-cascader nzChangeOnSelect [nzOptions]="nzOptions" (ngModelChange)="onChanges($event)" formControlName="departure_city"></nz-cascader>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="destination_city">目的城市</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-cascader nzChangeOnSelect [nzOptions]="nzOptions" (ngModelChange)="onChangesDest($event)" formControlName="destination_city"></nz-cascader>
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="order_start_date">下单日期</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-range-picker nzFormat="yyyy-MM-dd" (ngModelChange)="onChangeDateOrder($event)" formControlName="order_start_dates"></nz-range-picker>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="contact_name"> 联系人姓名</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="contact_name" placeholder="请输入联系人姓名" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="contact_phone"> 联系人手机号</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="contact_phone" placeholder="请输入联系人手机号" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="25px">
                                <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="search()">搜索</button>
                                <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="reset()">重置</button>
                                <a (click)="export()" href={{isExport}} target="_blank" class="abtn">导出excel</a>
                            </div>
                        </nz-form-item>

                        <!-- <nz-form-item nz-col [nzSm]="3" [nzXs]="24">
                            <div nz-row>
                                <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="addOrder()">添加订单</button>
                            </div>
                        </nz-form-item> -->

                    </form>

                    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="30px" style="letter-spacing: 1px;font-weight: bold;font-size: 16px">
                        <div>
                            <span>共{{totalModel?.total_num}}人:</span>
                            <span *ngIf="totalModel?.total_adult!=0">成人{{totalModel?.total_adult}}</span>
                            <span *ngIf="totalModel?.total_kid!=0">|儿童{{totalModel?.total_kid}}</span>
                            <span *ngIf="totalModel?.baby_num!=0">|婴儿{{totalModel?.baby_num}}</span>
                        </div>
                        <div>总收款：
                            <span style="color: red;" *ngIf="totalModel?.receive!=0&&totalModel?.receive!=null">{{totalModel?.receive}}元</span>
                            <span style="color: red;" *ngIf="totalModel?.receive===0||totalModel?.receive===null">-</span>
                        </div>
                        <div>待支付：
                            <span style="color: red;" *ngIf="totalModel?.is_pay_money!=0&&totalModel?.is_pay_money!=null">{{totalModel?.is_pay_money}}元</span>
                            <span style="color: red;" *ngIf="totalModel?.is_pay_money===0||totalModel?.is_pay_money===null">-</span>
                        </div>
                        <div>已退款：
                            <span style="color: red;" *ngIf="totalModel?.refund_money!=0&&totalModel?.refund_money!=null">{{totalModel?.refund_money}}元</span>
                            <span style="color: red;" *ngIf="totalModel?.refund_money===0||totalModel?.refund_money===null">-</span>
                        </div>
                    </div>

                    <div class="mat-elevation-z8">
                        <div  fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px" style="height: 28px;">
                            <div>
                                <img src="http://cdn.bigline.com.cn/static/images/sms.png">订单短信通知书
                            </div>
                            <div>
                                <img src="http://cdn.bigline.com.cn/static/images/conImg.png">电子合同
                            </div>
                            <div>
                                <img src="http://cdn.bigline.com.cn/static/images/insImg.png">保险状态
                            </div>
                        </div>
                        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
                            (nzPageSizeChange)="changePageSize($event)">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">订单号</th>
                                    <th style="text-align: center;">下单人</th>
                                    <th style="text-align: center;">店铺名称</th>
                                    <th style="text-align: center;width: 9%;">产品编码</th>
                                    <th style="text-align: center;width: 10%;">产品名称</th>
                                    <th style="text-align: center;">联系人姓名/手机号</th>
                                    <th style="text-align: center;">订单人数</th>
                                    <th style="text-align: center;">订单出发日期</th>
                                    <th style="text-align: center;">订单下单日期</th>
                                    <th style="text-align: center;">订单状态</th>
                                    <th style="text-align: center;">订单总价格</th>
                                    <th style="text-align: center;width: 5%;">订单取消类型</th>
                                    <th style="text-align: center;width: 5%;">订单退款状态</th>
                                    <th style="width: 8%;">附属操作</th>
                                    <th style="text-align: center;">查看详情</th>
                                    <th style="text-align: center;">确认收款</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <td>{{data.id}}</td>
                                    <td>{{data?.bind_account_name}}</td>
                                    <td>{{data.store_name}}</td>
                                    <td>{{data.product_code}}</td>
                                    <td>{{data.product_name}}</td>
                                    <td>
                                        <div>{{data.contact_name}}</div>
                                        <div>{{data.contact_phone}}</div>
                                    </td>
                                    <td>
                                        <div>总人数{{data?.num_adult+data?.num_kid+data?.baby_num}}</div>
                                        <div>
                                            <span>成人{{data?.num_adult}}|</span>
                                            <span>儿童{{data?.num_kid}}|</span>
                                            <span>婴儿{{data?.baby_num}}</span>

                                        </div>
                                    </td>
                                    <td>{{data.start_date|date:'yyyy-MM-dd'}}</td>
                                    <td>{{data.created_at|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td>
                                        <span *ngIf="data.order_status===0">
                                            <nz-badge nzColor="yellow"></nz-badge>已取消
                                        </span>
                                        <span *ngIf="data.order_status===1">
                                            <nz-badge nzColor="red"></nz-badge>待支付
                                        </span>
                                        <span *ngIf="data.order_status===2">
                                            <nz-badge nzColor="pink"></nz-badge>待出行
                                        </span>
                                        <span *ngIf="data.order_status===3">
                                            <nz-badge nzColor="green"></nz-badge>已完成
                                        </span>
                                    </td>
                                    <td>{{data.price_total}}元</td>
                                    <td>
                                        <span *ngIf="data.cancel_type===0">-</span>
                                        <span *ngIf="data.cancel_type===1">超时未支付</span>
                                        <span *ngIf="data.cancel_type===2">到期未成团自动取消</span>
                                        <span *ngIf="data.cancel_type===3">未支付主动取消</span>
                                        <span *ngIf="data.cancel_type===4">用户主动申请退款</span>
                                        <span *ngIf="data.cancel_type===5">平台取消成团</span>
                                    </td>
                                    <td>
                                        <div *ngIf="data.cancel_type===0||data.cancel_type===3||data.cancel_type===1">-</div>
                                        <div *ngIf="data.cancel_type!=0&&data.cancel_type!=3&&data.cancel_type!=1">
                                            <span *ngIf="data.refund_status===0">未退款</span>
                                            <span *ngIf="data.refund_status===1">待审核</span>
                                            <span *ngIf="data.refund_status===2">已审核待退款</span>
                                            <span *ngIf="data.refund_status===3">已退款</span>
                                            <span *ngIf="data.refund_status===4">已取消</span>

                                        </div>
                                    </td>
                                    <td style=" text-align:left">
                                        <div fxLayout="column" fxLayoutAlign="start start">
                                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                                                <div><img src="http://cdn.bigline.com.cn/static/images/sms.png" title="订单短信通知书"></div>
                                                <div>
                                                    <span *ngIf="data.order_sms===0" > <nz-badge nzColor="yellow"></nz-badge>未发</span>
                                                    <span *ngIf="data.order_sms===1" ><nz-badge nzColor="green"></nz-badge>已发</span>
                                                    <span *ngIf="data.order_sms===2" ><nz-badge nzColor="red"></nz-badge>发送失败</span>
                                                </div>
                                            </div>
                                            <div>
                                                <img src="http://cdn.bigline.com.cn/static/images/conImg.png" title="电子合同">
                                            </div>
                                            <div>
                                                <img src="http://cdn.bigline.com.cn/static/images/insImg.png" title="保险状态">
                                                <span *ngIf="data.insurance_status===0" > <nz-badge nzColor="yellow"></nz-badge>未投保</span>
                                                <span *ngIf="data.insurance_status===1" ><nz-badge nzColor="yellow"></nz-badge>出单中</span>
                                                <span *ngIf="data.insurance_status===2" ><nz-badge nzColor="green"></nz-badge>已出单</span>
                                                <span *ngIf="data.insurance_status===3" > <nz-badge nzColor="pink"></nz-badge>已退保</span>
                                                <span *ngIf="data.insurance_status===4" ><nz-badge nzColor="red"></nz-badge>失败</span>
                                                <span *ngIf="data.insurance_status===5" >无</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="cursor: pointer;">
                                            <img src="http://cdn.bigline.com.cn/static/images/edit.png" title="编辑" (click)="edit(data)">
                                        </div>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="data.order_status!=0">
                                            <div style="cursor: pointer;" *ngIf="data.payment_status==0||data.payment_status==2">
                                                <img src="http://cdn.bigline.com.cn/static/images/money.png" title="收款" (click)="money(data)">
                                            </div>
                                        </ng-container>
                                    </td>
                                </tr>


                            </tbody>


                        </nz-table>
                    </div>

                </div>


            </div>
        </mat-card>
    </div>
</div>