<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <div fxLayout="row" fxLayoutGap="20px">
                        <button mat-raised-button color="primary" style="width: 120px;letter-spacing: 2px;" routerLink="/store/main/storeTermsManage">返回条款管理</button>
                    </div>
                    <div style="padding: 5px;">
                        <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
                            <form nz-form [formGroup]="addForm" style="width: 100%;">
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title" nzRequired>条款标题</nz-form-label>
                                    <nz-form-control [nzSm]="15" [nzXs]="24" [nzErrorTip]="formErrors.title">
                                        <input nz-input formControlName="title" />
                                    </nz-form-control>
                                </nz-form-item>


                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="content" nzRequired>内容</nz-form-label>
                                    <nz-form-control [nzSm]="15" [nzXs]="24" [nzErrorTip]="formErrors.content">
                                        <div class="wangeditor-feature">
                                            <div id="editorFeature" style="background-color: ghostwhite;border-bottom: 1px solid #EEE;z-index: 10001"></div>
                                            <div id="editor" class="w-e-text">
                                                <div #featureBox></div>
                                            </div>
                                        </div>
                                        <!-- <textarea nz-input formControlName="content" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea> -->
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="status">状态</nz-form-label>
                                    <nz-form-control [nzSm]="15" [nzXs]="24">
                                        <nz-radio-group formControlName="status" ngModel={{dataDetailModel?.status}}>
                                            <label nz-radio nzValue='0'>禁用</label>
                                            <label nz-radio nzValue='1'>启用</label>
                                        </nz-radio-group>
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item nz-row class="register-area">
                                    <nz-form-control [nzSpan]="14" [nzOffset]="11">
                                        <button nz-button nzType="primary" (click)="update()">更新</button>
                                    </nz-form-control>
                                </nz-form-item>
                            </form>

                        </nz-spin>
                    </div>

                </div>

            </div>
        </mat-card>
    </div>
</div>