<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <form [formGroup]="searchForm">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                            <div fxFlex=10>
                                <mat-form-field>
                                    <mat-select placeholder="选择状态" formControlName="status">
                                        <mat-option value=''>全部</mat-option>
                                        <mat-option value=0>下架</mat-option>
                                        <mat-option value=1>上架</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex=10>
                                <mat-form-field>
                                    <mat-select placeholder="审核状态" formControlName="checkStatus">
                                        <mat-option value=''>全部</mat-option>
                                        <mat-option value=0>未提交审核</mat-option>
                                        <mat-option value=1>审核中</mat-option>
                                        <mat-option value=2>已通过</mat-option>
                                        <mat-option value=3>未通过</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex=50>
                                <mat-form-field>
                                    <mat-label>产品名称</mat-label>
                                    <input matInput value="" formControlName="title" placeholder="请输入产品名称">
                                </mat-form-field>
                            </div>
                            <div fxFlex=20>
                                <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="search()">搜索</button>
                            </div>

                        </div>
                    </form>
                    <div class="mat-elevation-z8">
                        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzPageSizeOptions]="[1,2,3]" [nzData]="dataSource" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true"
                            (nzPageIndexChange)="changePageIndex($event)" (nzPageSizeChange)="changePageSize($event)">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">id</th>
                                    <th style="text-align: center;">产品名称</th>
                                    <th style="text-align: center;">店铺名称</th>
                                    <th style="text-align: center;">几天</th>
                                    <th style="text-align: center;">几晚</th>
                                    <th style="text-align: center;">最低价格</th>
                                    <th style="text-align: center;">出发城市</th>
                                    <th style="text-align: center;">目的城市</th>
                                    <th style="text-align: center;">儿童年龄</th>
                                    <th style="text-align: center;">儿童身高</th>
                                    <th style="text-align: center;">状态</th>
                                    <th style="text-align: center;">审核状态</th>
                                    <th style="text-align: center;">查看详情</th>
                                    <th style="text-align: center;">审核</th>
                                    <th style="text-align: center;">上下架</th>
                                    <th style="text-align: center;">日期报价审核</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <td>{{data.id}}</td>
                                    <td>{{data.title}}</td>
                                    <td>{{data?.store?.name}}</td>
                                    <td>{{data.few_days}}</td>
                                    <td>{{data.few_nights}}</td>
                                    <td>
                                        <div *ngIf="data.min_price===0"> - </div>
                                        <div *ngIf="data.min_price!=0"> {{data.min_price}}&nbsp;元 </div>
                                    </td>
                                    <td>{{data.departure}}</td>
                                    <td>{{data.destination}}</td>
                                    <td>
                                        <div *ngIf="data.children_age===0"> - </div>
                                        <div *ngIf="data.children_age!=0"> {{data.children_age}}&nbsp;岁 </div>
                                    </td>
                                    <td>
                                        <div *ngIf="data.child_height_min===0&&data.child_height_max===0"> - </div>
                                        <div *ngIf="!(data.child_height_min===0&&data.child_height_max===0)">
                                            {{data.child_height_min}}&nbsp;cm~{{data.child_height_max}}&nbsp;cm
                                        </div>
                                    </td>

                                    <td>
                                        <div *ngIf="data.status===0">
                                            下架
                                        </div>
                                        <div *ngIf="data.status===1">
                                            上架
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="data.check_status===0">
                                            未提交审核
                                        </div>
                                        <div *ngIf="data.check_status===1">
                                            审核中
                                        </div>
                                        <div *ngIf="data.check_status===2">
                                            已通过
                                        </div>
                                        <div *ngIf="data.check_status===3">
                                            未通过
                                        </div>
                                    </td>
                                    <td>
                                        <div style="cursor: pointer;" (click)="edit(data)" title="详情">
                                            <mat-icon>edit</mat-icon>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="cursor: pointer;" *ngIf="data.check_status===1">
                                            <a nz-dropdown [nzDropdownMenu]="menu" title="审核">
                                                <mat-icon style="color: #272727;">assignment_ind</mat-icon>
                                            </a>
                                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                                <ul nz-menu>
                                                    <li nz-menu-item (click)="review(data.id,2)">已通过</li>
                                                    <li nz-menu-item (click)="review(data.id,3)">未通过</li>
                                                </ul>
                                            </nz-dropdown-menu>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="cursor: pointer;" *ngIf="data.check_status===2" (click)="up(data)" title="上架">
                                            <div *ngIf="data.status===0">
                                                <mat-icon title="上架">arrow_circle_up</mat-icon>

                                            </div>
                                            <div *ngIf="data.status===1">
                                                <mat-icon title="下架">arrow_circle_down</mat-icon>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="cursor: pointer;">
                                            <mat-icon style="color: #272727;" title="日期报价" (click)="quteDateClick(data)">assignment_ind</mat-icon>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </nz-table>

                    </div>

                </div>

            </div>
        </mat-card>
    </div>
</div>