<div class="loginContainer" style="background-image: url(assets/images/login/bg-logo.jpg);">
    <div class="login-register-box">
        <mat-card class="example-card" style="width: 500px;height: 400px;">
            <mat-card-content>
                <form>
                    <div class="text-center">
                        <h4>登陸</h4>
                    </div>

                    <div fxlayout="row wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
                        <form [formGroup]="loginForm" style="width: 100%;">
                            <div fxflex.gt-sm="100" fxflex.gt-xs="100" fxflex="100" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="用戶名" value="" formControlName="userName">
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="密碼" value="" formControlName="password" type="password">
                                </mat-form-field>
                            </div>
                        </form>
                    </div>

                </form>
                <div class="text-center" style="margin-top: 30px;">
                    <button mat-raised-button color="primary" style="width: 250px;letter-spacing: 2px;" (click)="login()">登陸</button>
                </div>
            </mat-card-content>
        </mat-card>

    </div>

</div>