<div fxLayoutWrap="wrap">
    <div fxLayoutAlign="end start">
        <div style="font-size: 18px;cursor: pointer;" (click)="close()">X</div>
    </div>
    <div style="padding: 5px;">
        <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">

            <form nz-form [formGroup]="addForm">
                <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                    <div nz-row>
                        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired>上传合同</nz-form-label>
                        <nz-form-control [nzSm]="15" [nzXs]="24">
                            <nz-upload [nzBeforeUpload]="beforeUpload" [nzAccept]="isAccept" [nzSize]="5120" [nzDisabled]="fileList.length===1" [nzLimit]='1' [(nzFileList)]="fileList" [nzRemove]="removeImg">
                                <div>
                                    <button nz-button>
                                <span><i nz-icon nzType="upload"></i> 选择文件</span>
                              </button>
                                </div>
                            </nz-upload>
                            <p style="font-size: 12px;color: red;letter-spacing: 1px;margin-top: 5px;margin-left: 5px;">！只能上传5M以内的PDF文件</p>

                        </nz-form-control>

                    </div>
                </nz-form-item>

                <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                    <div nz-row>
                        <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="contract_name" nzRequired>文件名称</nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入文件名称">
                            <input nz-input formControlName="contract_name" />
                        </nz-form-control>
                    </div>
                </nz-form-item>

                <nz-form-item nz-row class="register-area">
                    <nz-form-control [nzSpan]="14" [nzOffset]="11">
                        <button nz-button nzType="primary" (click)="add()" [nzLoading]="isLoadingBtn">提交</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </nz-spin>
    </div>
</div>