<div fxLayoutWrap="wrap">

    <div style="padding: 5px;">
        <form nz-form [formGroup]="addForm">

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="bankName" nzRequired>开户行名称 </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors.bankName">
                    <input nz-input formControlName="bankName" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="bankAccount" nzRequired>银行卡号</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors.bankAccount">
                    <input nz-input formControlName="bankAccount" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="accountAddress" nzRequired>开户行地址</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors.accountAddress">
                    <input nz-input formControlName="accountAddress" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contacts" nzRequired> 联系人</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors.contacts">
                    <input nz-input formControlName="contacts" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contactsPhone" nzRequired>联系方式</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors.contactsPhone">
                    <input nz-input formControlName="contactsPhone" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="isCorporate">账号类型</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-radio-group [(ngModel)]="statusValue" formControlName="isCorporate">
                        <label nz-radio nzValue=1>对公 </label>
                        <label nz-radio nzValue=2>对私</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>


        </form>

    </div>
</div>