<div fxLayoutWrap="wrap">
    <div style="padding: 5px;">
        <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
            <form nz-form [formGroup]="addForm" nz-row>
                <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                    <div nz-row>
                        <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="title">商品名称
                        </nz-form-label>
                        <nz-form-control [nzSm]="22" [nzXs]="24">
                            <input nz-input formControlName="title" ngModel={{data?.title}} nzBorderless readonly/>
                        </nz-form-control>
                    </div>
                </nz-form-item>

                <ng-container formArrayName="specificationList" *ngFor="let specification of specificationArray.controls as FormArray;let i = index">
                    <ng-container [formGroupName]="i" nz-row>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="12" [nzXs]="24" nzFor="spec_name">商品规格</nz-form-label>
                                <nz-form-control [nzSm]="13" [nzXs]="24">
                                    <input nz-input formControlName="spec_name" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="12" [nzXs]="24" nzFor="price">价格</nz-form-label>
                                <nz-form-control [nzSm]="13" [nzXs]="24">
                                    <nz-input-number style="width: 86%;" formControlName="price" [nzMin]="0"></nz-input-number>元
                                </nz-form-control>
                            </div>
                        </nz-form-item>



                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="12" [nzXs]="24" nzFor="stock">商品库存</nz-form-label>
                                <nz-form-control [nzSm]="13" [nzXs]="24">
                                    <nz-input-number style="width: 100%;" formControlName="stock" [nzMin]="0">
                                    </nz-input-number>
                                </nz-form-control>
                            </div>
                        </nz-form-item>


                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="12" [nzXs]="24" nzFor="unit">单位</nz-form-label>
                                <nz-form-control [nzSm]="13" [nzXs]="24">
                                    <input nz-input formControlName="unit" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="postage"> 是否包邮</nz-form-label>
                                <nz-form-control [nzSm]="16" [nzXs]="24">
                                    <nz-radio-group formControlName="postage" nzErrorTip="请选择">
                                        <label nz-radio nzValue='0'>包邮</label>
                                        <!-- <label nz-radio nzValue='1'>部分地区包邮 </label> -->
                                        <label nz-radio nzValue='2'>不包邮 </label>
                                    </nz-radio-group>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                    </ng-container>
                </ng-container>

                <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                    <div nz-row>
                        <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="check_status" nzRequired>审核</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择">
                            <nz-radio-group ngModel={{data.check_status}} formControlName="check_status">
                                <label nz-radio nzValue=2 [nzDisabled]="data.check_status==3">已通过 </label>
                                <label nz-radio nzValue=3>未通过 </label>
                            </nz-radio-group>
                        </nz-form-control>
                    </div>
                </nz-form-item>


                <nz-form-item nz-col class="register-area" [nzSm]="24" [nzXs]="24">
                    <nz-form-control [nzSpan]="12" [nzOffset]="9">
                        <div fxLayout="row" fxLayoutGap="20px">
                            <div>
                                <button nz-button nzType="primary" (click)="update()">确定</button>
                            </div>
                            <div>
                                <button nz-button nzType="primary" (click)="cancel()">取消</button>
                            </div>
                        </div>

                    </nz-form-control>
                </nz-form-item>
            </form>
        </nz-spin>
    </div>
</div>