<div class="steps-content">
    <div class="lev3">
        <div style="padding: 90px">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                    <img src="http://cdn.bigline.com.cn/static/images/smile.png">
                    <h4>您提交的认证资料信息，我们将在1个工作日进行审核</h4>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                    <span>请耐心等候，审核结果将通过手机短信或在本页面更新。</span>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="120px">
                    <div style="font-weight: bold;">当前审核进度：<span style="color: red;">等待审核</span></div>
                    <div><a>查看审核历史记录</a></div>
                </div>

            </div>
        </div>
    </div>

    <!-- 
    <div class="lev3">
        <div style="padding: 90px">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                    <img src="http://cdn.bigline.com.cn/static/images/success.png">
                    <h4>认证成功，感谢您对启航的支持</h4>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                    <span style="margin-left: 100px;"><a>您已认证成功啦，马上去发布产品吧！</a></span>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="120px">
                    <div>当前审核进度：<span style="color: blue;">审核通过</span></div>
                    <div><a>查看审核历史记录</a></div>
                </div>

            </div>
        </div>
    </div> -->
</div>