<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
            <mat-card>
                <div class="example-container" style="margin-bottom: 50px;">
                    <div fxLayout="column" fxLayoutAlign="start stretch">
                        <div style="padding-left: 10px;padding-top: 10px;">
                            <button mat-raised-button color="primary" style="width: 100px;letter-spacing: 2px;" (click)="upload()">上传图片</button>
                        </div>

                    </div>
                </div>
            </mat-card>

        </div>
        <div class="btn">
            <button nz-button nzType="primary" (click)="nextTab()">更新</button>
        </div>
    </div>
</div>