<div *ngIf="!isSubgroup">
    <p style="text-align: center;">暂时没有订单信息</p>
</div>



<div *ngIf="isSubgroup">
    <nz-tabset [(nzSelectedIndex)]="index" nzType="editable-card" nzHideAdd>
        <nz-tab *ngFor="let tab of cursubGroupModelValue; let i = index" [nzClosable]="i > 1" [nzTitle]="tab.tabs">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
                    <div fxLayout="row" fxLayoutAlign="space-between stretch">
                        <div style="color: red;">
                            <span style="color: black;">子团状态：</span>
                            <span *ngIf="tab.sub_group_status===0">
                                <nz-badge nzColor="pink"></nz-badge>已取消
                            </span>
                            <span *ngIf="tab.sub_group_status===1">
                                <nz-badge nzColor="red"></nz-badge>未成团
                            </span>
                            <span *ngIf="tab.sub_group_status===2">
                                <nz-badge nzColor="green"></nz-badge>已成团
                            </span>
                            <span *ngIf="tab.sub_group_status===3">
                                <nz-badge nzColor="lime"></nz-badge>已出团
                            </span>
                            <span *ngIf="tab.guide_name===''">
                                <nz-badge nzColor="red"></nz-badge>未派遣导游
                            </span>
                            <span *ngIf="tab.guide_name!=''">
                                <nz-badge nzColor="green"></nz-badge>导游:{{tab.guide_name}},{{tab.guide_phone}}
                            </span>
                        </div>
                        <div>子团编号：{{tab.sub_group_code}}</div>
                        <div>共{{tab.members_num}}人：成人{{tab.adult_num}}|儿童{{tab.kid_num}}</div>
                    </div>
                    <!-- <div fxLayout="row" fxLayoutGap="10px">
                        <button mat-raised-button color="basic" style="letter-spacing: 2px;color: #1e88e5;border: 1px solid #1e88e5;" (click)="setGuide(tab.sub_group_id)">派遣导游</button>
                        <button mat-raised-button color="basic" style="letter-spacing: 2px;color: #1e88e5;border: 1px solid #1e88e5;">发送出团短信通知</button>
                        <button mat-raised-button color="basic" style="letter-spacing: 2px;color: #1e88e5;border: 1px solid #1e88e5;">发送订单短信通知</button>
                        <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="moveOrder(tab,tab.sub_group_id)">移动订单</button>
                    </div> -->
                </div>

                <div class="mat-elevation-z8">
                    <nz-table #rowSelectionTable [nzData]="tab?.order?.data" [nzPageSize]="10" [nzTitle]="tab.sub_group_code">
                        <thead>
                            <tr>
                                <th colspan="6" style="text-align: left;">订单号</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-template ngFor let-data [ngForOf]="rowSelectionTable.data">
                                <tr>
                                    <td [(nzExpand)]="data.expand" colspan="6">
                                        {{ data.id }}
                                        <span *ngIf="data.order_status===0">
                                            <nz-badge nzColor="yellow"></nz-badge>已取消
                                        </span>
                                        <span *ngIf="data.order_status===1">
                                            <nz-badge nzColor="red"></nz-badge>待支付
                                        </span>
                                        <span *ngIf="data.order_status===2">
                                            <nz-badge nzColor="pink"></nz-badge>待出行
                                        </span>
                                        <span *ngIf="data.order_status===3">
                                            <nz-badge nzColor="green"></nz-badge>已完成
                                        </span>
                                        <span *ngIf="data.order_sms===0">
                                            <nz-badge nzColor="pink"></nz-badge>未发送订单短信通知
                                        </span>
                                        <span *ngIf="data.order_sms===1">
                                            <nz-badge nzColor="green"></nz-badge>成功发送订单短信通知
                                        </span>
                                        <span *ngIf="data.order_sms===2">
                                            <nz-badge nzColor="red"></nz-badge>失败订单短信通知
                                        </span>
                                    </td>
                                </tr>
                                <tr [nzExpand]="data.expand">
                                    <nz-table #innerTable [nzData]="data?.member?.data" [nzShowPagination]="false">
                                        <thead>
                                            <tr>
                                                <th>姓名</th>
                                                <th>类型</th>
                                                <th>联系方式</th>
                                                <th>拼房类型</th>
                                                <th>备注</th>
                                                <th>出团通知短信</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let dataChild of innerTable.data">
                                                <td style="width: 12%;">{{ dataChild.name }}</td>
                                                <td style="width: 13%;">
                                                    <p *ngIf="dataChild.is_kid===0">成人</p>
                                                    <p *ngIf="dataChild.is_kid===1">儿童</p>
                                                </td>
                                                <td style="width: 15%;">{{dataChild.phone}}</td>
                                                <td style="width: 18%;">
                                                    <p *ngIf="data.shared_status===0">不拼房</p>
                                                    <p *ngIf="data.shared_status===1">同性拼房</p>
                                                </td>
                                                <td style="width: 15%;">{{ data.customer_remarks }}</td>
                                                <td style="width: 15%;">
                                                    <p *ngIf="dataChild.sms_status===0">
                                                        <nz-badge nzColor="yellow"></nz-badge>未发</p>
                                                    <p *ngIf="dataChild.sms_status===1">
                                                        <nz-badge nzColor="green"></nz-badge>已发</p>
                                                    <p *ngIf="dataChild.sms_status===2">
                                                        <nz-badge nzColor="red"></nz-badge>发送失败</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </tr>
                            </ng-template>
                        </tbody>
                    </nz-table>
                </div>

            </div>

        </nz-tab>
    </nz-tabset>
</div>