<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">

        <div class="example-container">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                <div fxLayout="row" fxLayoutGap="20px">
                    <button mat-raised-button color="primary" style="width: 150px;letter-spacing: 2px;" routerLink="/admin/main/productManagement">返回产品管理列表</button>
                </div>

                <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
                    <mat-tab label="基本信息">
                        <div class="content">
                            <app-admin-product-management-basic-info></app-admin-product-management-basic-info>
                        </div>
                    </mat-tab>
                    <mat-tab label="产品特色">
                        <div class="content">
                            <app-admin-peoduct-management-feature></app-admin-peoduct-management-feature>
                        </div>
                    </mat-tab>

                    <mat-tab label="产品详情">
                        <div class="content">
                            <app-admin-peoduct-management-editordetail></app-admin-peoduct-management-editordetail>
                        </div>
                    </mat-tab>

                    <mat-tab label="预约须知">
                        <div class="content">
                            <app-admin-peoduct-management-editornotice></app-admin-peoduct-management-editornotice>
                        </div>
                    </mat-tab>

                    <mat-tab label="图片与视频">
                        <div class="content">
                            <div class="example-large-box mat-elevation-z4">
                                this is 4
                            </div>
                        </div>

                    </mat-tab>


                </mat-tab-group>

            </div>

        </div>

    </div>
</div>