<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">

        <div class="example-container">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
                <div fxLayout="row" fxLayoutGap="20px">
                    <button mat-raised-button color="primary" style="width: 150px;letter-spacing: 2px;" routerLink="/admin/main/productManagement">返回产品管理列表</button>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center">
                    <h4 style="font-weight: bold;">{{productName}}</h4>
                </div>

                <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
                    <mat-tab label="基本信息">
                        <div class="content">
                            <app-admin-product-management-basic-info></app-admin-product-management-basic-info>
                        </div>
                    </mat-tab>

                    <mat-tab label="产品特色">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-admin-peoduct-management-feature [adminProductDetailModel]='adminProductDetailModel'></app-admin-peoduct-management-feature>
                            </div>
                        </ng-template>
                    </mat-tab>


                    <mat-tab label="产品详情">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-admin-peoduct-management-editordetail [adminProductDetailModel]='adminProductDetailModel'></app-admin-peoduct-management-editordetail>
                            </div>
                        </ng-template>
                    </mat-tab>


                    <mat-tab label="预约须知">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-admin-product-management-editornotice [adminProductDetailModel]='adminProductDetailModel'></app-admin-product-management-editornotice>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="图片与视频">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-admin-product-management-img [adminProductDetailModel]='adminProductDetailModel'></app-admin-product-management-img>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="海报">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-admin-product-management-post [adminProductDetailModel]='adminProductDetailModel'></app-admin-product-management-post>
                            </div>
                        </ng-template>
                    </mat-tab>


                </mat-tab-group>

            </div>

        </div>

    </div>
</div>