[nz-form] {
    max-width: 1200px;
}

.phone-select {
    width: 70px;
}

.register-are {
    margin-bottom: 8px;
}

.ant-form-item-label {
    text-align: left;
}

.nzChoice {
    max-width: 150px !important;
    width: 150px !important;
}

.wangeditor-feature {
    border: 1px solid #c9d8dc;
}