<div fxLayoutWrap="wrap">
    <div style="padding: 5px;">
        <form nz-form [formGroup]="addForm">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>产品标签</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors.name">
                    <input nz-input formControlName="name" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cate_id" nzRequired>分类</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors.cate_id">
                    <nz-select formControlName="cate_id" (ngModelChange)="log($event)" nzAllowClear nzShowSearch nzPlaceHolder="请选择分类！">
                        <nz-option *ngFor="let option of optionList" [nzValue]="option.id" [nzLabel]="option.label"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>


            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="status" nzRequired>状态</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-radio-group [(ngModel)]="statusValue" formControlName="status">
                        <label nz-radio nzValue='0'>禁用</label>
                        <label nz-radio nzValue='1'>开启</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>