<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div fxLayout="row" fxLayoutAlign="center center"  class="example-container" style="text-align: center; height: 720px;padding-bottom: 70px;padding-left: 50px;">
                <div>
                    <p style="font-size: 60px; color: #f1f1f3;">WELCOME!</p>
                    <p style="color: #6c7b98;margin-top: -108px; font-size: 48px; font-weight: 600;">欢迎使用启航管理后台系统!</p> 
                </div>
                <img style="width: 320px;height: 296px;" src="http://cdn.bigline.com.cn/static/images/login_logo.jpg">
                <!-- <img src="http://cdn.bigline.com.cn/static/images/welcome.png" alt="user"> -->
            </div>
        </mat-card>
    </div>
</div>