<div fxLayout="column" fxLayoutAlign="space-around stretch">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <div style="margin-bottom: 20px;color: #607D8B;font-size: 16px;letter-spacing: 1px;">店铺账号管理列表</div>
                    <div fxLayout="row" fxLayoutGap="20px">
                        <button mat-raised-button color="primary" style="letter-spacing:2px" (click)="add()">添加店铺账号</button>
                        <button mat-raised-button color="primary" style="letter-spacing:2px" routerLink="/admin/main/store">返回店铺管理</button>
                    </div>
                    <div class="mat-elevation-z8" class="storeListBox">
                        <nz-table #borderedTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageSizeChange)="changePageSize($event)"
                            (nzPageIndexChange)="changePageIndex($event)">
                            <thead>
                                <tr>
                                    <!-- <th>商铺id</th> -->
                                    <th>账号id</th>
                                    <th>姓名</th>
                                    <th>账号（手机号）</th>
                                    <th>邮箱地址</th>
                                    <th>状态</th>
                                    <th>编辑</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of borderedTable.data">
                                    <!-- <td>{{ data.store_id }}</td> -->
                                    <td>{{ data.account_id}}</td>
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.mobile }}</td>
                                    <td>{{ data.email }}</td>
                                    <td>
                                        <div *ngIf="data.status === 0">
                                            暂停
                                        </div>
                                        <div *ngIf="data.status === 1">
                                            开启
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cursor" (click)="edit(data)">
                                            <mat-icon>edit</mat-icon>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>