<nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" >
  <thead>
      <tr>
        <th style="text-align: center;">账号</th>
        <th style="text-align: center;">真实姓名</th>
        <th style="text-align: center;">手机号</th>
        <th style="text-align: center;">门店员工</th>
        <th style="text-align: center;">区域</th>
        <th style="text-align: center;">状态</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td>{{data.account}}</td>
        <td>{{data.real_name}}</td>
        <td>{{data.mobile}}</td>
        <td>
            <div *ngIf="data.staff_type===0">
                否
            </div>
            <div *ngIf="data.staff_type===1">
                是
            </div>
        </td>
        <td>{{data.region_name}}</td>
        <td>
            <div *ngIf="data.status===0">
                暂停
            </div>
            <div *ngIf="data.status===1">
                正常
            </div>
        </td>

      </tr>
  </tbody>
</nz-table>

