<div fxLayoutWrap="wrap">

    <div style="padding: 5px;">
        <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">

            <form nz-form [formGroup]="addForm">
                <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                    <div nz-row>
                        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired>上传合同</nz-form-label>
                        <nz-form-control [nzSm]="15" [nzXs]="24">
                            <nz-upload [nzBeforeUpload]="beforeUpload" [nzAccept]="accept" [nzSize]="10240" [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 8" [nzMultiple]='true' [nzLimit]='10' [nzRemove]="removeImg">
                                <div>
                                    <button nz-button>
                                <span><i nz-icon nzType="upload"></i> 选择文件</span>
                              </button>
                                </div>
                            </nz-upload>
                            <p style="font-size: 12px;color: red;letter-spacing: 1px;margin-top: 5px;margin-left: 5px;">！只能上传10M以内的PDF文件</p>

                        </nz-form-control>

                    </div>
                </nz-form-item>

                <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                    <div nz-row>
                        <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="contract_name" nzRequired>合同名称</nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入合同名称">
                            <input nz-input formControlName="contract_name" />
                        </nz-form-control>
                    </div>
                </nz-form-item>

                <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                    <div nz-row>
                        <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="start_date">合同签订日期</nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24">
                            <nz-range-picker style="width: 100%;" nzFormat="yyyy-MM-dd" (ngModelChange)="onChangeDate($event)" formControlName="start_date"></nz-range-picker>
                        </nz-form-control>
                    </div>
                </nz-form-item>



            </form>
        </nz-spin>
    </div>
</div>