<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">

        <div class="example-container">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                <div fxLayout="row" fxLayoutGap="20px">
                    <button mat-raised-button color="primary" style="width: 150px;letter-spacing: 2px;" routerLink="/store/main/storeOrderGroup">返回团订单列表</button>
                </div>

                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <mat-card>
                        <div>
                            <div fxLayout="column" fxLayoutAlign="start stretch">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <div>
                                        <h4 style="padding-left: 10px;padding-top: 10px;">团队基本信息</h4>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                                        <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="groupRequest(detailModel.group_id)">团队请款</button>
                                    </div>
                                </div>
                                <nz-divider></nz-divider>
                                <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                    <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
                                        <div>
                                            <h5 style="font-weight: bold;">{{detailModel?.product_name}}</h5>
                                            <div *ngIf="detailModel?.group_status===0">
                                                <button class="btn">已取消，不成团</button>
                                            </div>
                                            <div *ngIf="detailModel?.group_status===1">
                                                <button class="btn">未成团</button>
                                            </div>
                                            <div *ngIf="detailModel?.group_status===2">
                                                <button class="btn">已成团</button>
                                            </div>
                                            <div *ngIf="detailModel?.group_status===3">
                                                <button class="btn">已出团，完成</button>
                                            </div>
                                        </div>
                                        <div style="margin-top:13px">
                                            <form nz-form [formGroup]="addForm" nz-row>
                                                <nz-form-item nz-col [nzSm]="8" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="product_id">产品id</nz-form-label>
                                                        <nz-form-control [nzSm]="8" [nzXs]="24">
                                                            <input nz-input formControlName="product_id" nzBorderless readonly [ngModel]="detailModel?.product?.data?.id" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="8" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="product_code">产品编码</nz-form-label>
                                                        <nz-form-control [nzSm]="8" [nzXs]="24">
                                                            <input nz-input formControlName="product_code" nzBorderless readonly [ngModel]="detailModel?.product?.data?.code" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>
                                                <nz-form-item nz-col [nzSm]="8" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="group_id">团队id
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="8" [nzXs]="24">
                                                            <input nz-input formControlName="group_id" nzBorderless readonly [ngModel]="detailModel?.group_id" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="8" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="member_min">最小成团人数
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="8" [nzXs]="24">
                                                            <input nz-input formControlName="member_min" nzBorderless readonly [ngModel]="detailModel?.member_min" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="8" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="member_max">最大成团人数
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="8" [nzXs]="24">
                                                            <input nz-input formControlName="member_max" nzBorderless readonly [ngModel]="isMemberMax" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>


                                                <nz-form-item nz-col [nzSm]="8" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="active_date">成团日期
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="8" [nzXs]="24">
                                                            <input nz-input formControlName="active_date" nzBorderless readonly [ngModel]="isActiveDate" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                                <nz-form-item nz-col [nzSm]="8" [nzXs]="24">
                                                    <div nz-row>
                                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="returnDate">往返日期
                                                        </nz-form-label>
                                                        <nz-form-control [nzSm]="15" [nzXs]="24">
                                                            <input nz-input formControlName="returnDate" nzBorderless readonly [ngModel]="isReturnDate" />
                                                        </nz-form-control>
                                                    </div>
                                                </nz-form-item>

                                            </form>
                                        </div>
                                    </nz-spin>
                                </div>

                            </div>

                        </div>
                    </mat-card>


                    <mat-card *ngIf="cashList.length>0">
                        <div>
                            <div fxLayout="column" fxLayoutAlign="start stretch">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <div>
                                        <h4 style="padding-left: 10px;padding-top: 10px;">请款信息</h4>
                                    </div>
                                </div>
                                <nz-divider></nz-divider>
                                <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                    <div class="mat-elevation-z8">
                                        <nz-table #rowSelectionTable [nzData]="cashList">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;">请款id</th>
                                                    <th style="text-align: center;">请款单价</th>
                                                    <th style="text-align: center;">请款数量</th>
                                                    <th style="text-align: center;">请款总金额</th>
                                                    <th style="text-align: center;">成本类型</th>
                                                    <th style="text-align: center;">供应商</th>
                                                    <th style="text-align: center;">供应商收款账户</th>
                                                    <th style="text-align: center;">银行名称</th>
                                                    <th style="text-align: center;">开户行地址</th>
                                                    <th style="text-align: center;">请款说明</th>
                                                    <th style="text-align: center;">支付状态</th>
                                                    <th style="text-align: center;">已批金额</th>
                                                    <th style="text-align: center;">操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let data of rowSelectionTable.data;let i=index">
                                                    <ng-container *ngIf="!data.edit; else editTemplate">
                                                        <td>{{data.id}}</td>
                                                        <td>{{data.price}}</td>
                                                        <td>{{data.num}}</td>
                                                        <td>{{data.total}}元</td>
                                                        <td>{{data.group_cost_type?.data[0]?.title}}</td>
                                                        <td>{{data.supplier?.data[0]?.supplier_name}}</td>
                                                        <td>{{data.supplier?.data[0]?.bank_account}}</td>
                                                        <td>{{data.supplier?.data[0]?.bank_name}}</td>
                                                        <td>{{data.supplier?.data[0]?.bank_open}}</td>
                                                        <td>{{data?.content}}</td>
                                                        <td>
                                                            <!-- 0未付款 1,部分付款 2,已付款 3,已收发票 -->
                                                            <span *ngIf="data?.pay_status==0">未付款</span>
                                                            <span *ngIf="data?.pay_status==1">部分付款</span>
                                                            <span *ngIf="data?.pay_status==2">已付款</span>
                                                            <span *ngIf="data?.pay_status==3">已收发票</span>
                                                        </td>
                                                        <td>{{data?.payed_money}}元</td>
                                                        <td>
                                                            <div *ngIf="data?.pay_status==0"><a (click)="startEdit(data)">修改</a></div>
                                                            <div *ngIf="data?.pay_status==0"><a (click)="deleteIt(data.id)">删除</a></div>
                                                        </td>
                                                    </ng-container>
                                                    <ng-template #editTemplate>
                                                        <td>{{data.id}}</td>
                                                        <td>
                                                            <nz-input-number [nzMin]="0.01" [(ngModel)]="data.price" [nzPrecision]="precision" nzPrecisionMode="cut"> </nz-input-number>
                                                        </td>
                                                        <td>
                                                            <nz-input-number [nzMin]="1" [(ngModel)]="data.num" [nzPrecision]="cutNums" nzPrecisionMode="cut"> </nz-input-number>
                                                        </td>
                                                        <td>{{data.total}}元</td>
                                                        <td>
                                                            <nz-select [(ngModel)]="data.cost_type">
                                                                <nz-option *ngFor="let type of typeList" [nzLabel]="type?.title" [nzValue]="type?.id">
                                                                </nz-option>
                                                            </nz-select>
                                                        </td>
                                                        <td>
                                                            <nz-select [(ngModel)]="data.suppiler_id" (ngModelChange)="changeSuppy($event,i)">
                                                                <nz-option *ngFor="let supply of supplyList" [nzLabel]="supply?.supplier_name" [nzValue]="supply?.id">
                                                                </nz-option>
                                                            </nz-select>
                                                        </td>
                                                        <td>{{data.supplier?.data[0]?.bank_account}}</td>
                                                        <td>{{data.supplier?.data[0]?.bank_name}}</td>
                                                        <td>{{data.supplier?.data[0]?.bank_open}}</td>
                                                        <td>
                                                            <input type="text" nz-input [(ngModel)]="data.content" />
                                                        </td>
                                                        <td>
                                                            <span *ngIf="data?.pay_status==0">未付款</span>
                                                            <span *ngIf="data?.pay_status==1">部分付款</span>
                                                            <span *ngIf="data?.pay_status==2">已付款</span>
                                                            <span *ngIf="data?.pay_status==3">已收发票</span>
                                                        </td>
                                                        <td>{{data?.payed_money}}元</td>
                                                        <td>
                                                            <div><a (click)="saveEdit(data)">保存</a></div>
                                                            <div><a (click)="cancelEdit(data.id)">取消</a></div>
                                                        </td>
                                                    </ng-template>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </mat-card>




                    <mat-card>
                        <div>
                            <div fxLayout="column" fxLayoutAlign="start stretch">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <div>
                                        <h4 style="padding-left: 10px;padding-top: 10px;">团队信息</h4>
                                    </div>
                                </div>
                                <nz-divider></nz-divider>
                                <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                    <app-store-order-group-detail-subgroup [subGroupModel]='subGroupModel'>
                                    </app-store-order-group-detail-subgroup>
                                </div>
                            </div>

                        </div>
                    </mat-card>
                </div>

            </div>

        </div>

    </div>
</div>