<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="30px">
            <app-store-banner></app-store-banner>
            <div  class="content-box">
                <div>
                    <h4 style="padding-left: 10px;padding-top: 10px;">找回密码</h4>
                </div>
                <nz-divider></nz-divider>
                <div style="padding: 5px;">
                    <form nz-form [formGroup]="addForm">
                        <nz-form-item>
                            <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="mobile" nzRequired>手机号码</nz-form-label>
                            <nz-form-control [nzSm]="9" [nzXs]="24" nzErrorTip="请输入手机号码">
                                <input nz-input formControlName="mobile" />
                            </nz-form-control>
                            <span style="line-height: 32px; margin-left: 5px; color: red;">验证手机号是否为账号绑定手机号</span>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="verificationCode" nzRequired>验证码</nz-form-label>
                            <nz-form-control [nzSm]="9" [nzXs]="24" nzErrorTip="请输入验证码">
                                <input nz-input formControlName="verificationCode" />
                            </nz-form-control>
                            <button [class]="{'btn':!disabledClick,'btn1':disabledClick}" nz-button [disabled]="disabledClick" (click)="getverifycode()">{{paracont}}</button>
                        </nz-form-item>
                        <nz-form-item fxLayout="row" fxLayoutAlign="start  center" >
                            <button fxFlex="10" fxFlexOffset ="21" style="margin-top: 30px;" nz-button nzType="primary" (click)="next()">下一步</button>
                        </nz-form-item>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>

