<app-store-banner></app-store-banner>
<div fxLayoutWrap="wrap" class="content-box">
    <div fxLayoutAlign="start center" class="content-title">
        <div >找回密码</div>
    </div>
    <div style="padding: 5px;">
        <form nz-form [formGroup]="addForm">
            <nz-form-item>
                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="mobile" nzRequired>手机号码</nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="请输入手机号码">
                    <input nz-input formControlName="mobile" />
                </nz-form-control>
                <span style="line-height: 30px; margin-left: 3px; color: red;">手机号是否为账号绑定手机号</span>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="verificationCode" nzRequired>验证码</nz-form-label>
                <nz-form-control [nzSm]="8" [nzXs]="24" nzErrorTip="请输入验证码">
                    <input nz-input formControlName="verificationCode" />
                </nz-form-control>
                <button [class]="{'btn':!disabledClick,'btn1':disabledClick}" nz-button [disabled]="disabledClick" (click)="getverifycode()">{{paracont}}</button>
            </nz-form-item>

            <nz-form-item nz-row fxLayoutAlign="center center">
                <nz-form-control [nzSm]="4" [nzXs]="24" >
                    <button style="margin-top: 30px;" nz-button nzType="primary" (click)="next()">下一步</button>
                </nz-form-control>
            </nz-form-item>
            <!-- <nz-form-item fxLayoutAlign="center center">
                <nz-form-control [nzSm]="4" [nzXs]="24" [nzOffset]="11">
                    <button nz-button nzType="primary" style="width: 100%;" (click)="add()">提交</button>
                </nz-form-control>
            </nz-form-item> -->
        </form>

    </div>
</div>
