<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">

                    <form [formGroup]="searchForm" nz-row nz-form>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="status">订单状态</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-select nzPlaceHolder="请选择" formControlName="status" nzAllowClear nzShowSearch>
                                        <nz-option [nzLabel]="'全部'" [nzValue]=""></nz-option>
                                        <nz-option [nzLabel]="'已取消'" [nzValue]="'0'"></nz-option>
                                        <nz-option [nzLabel]="'待支付'" [nzValue]="'1'"></nz-option>
                                        <nz-option [nzLabel]="'待出行'" [nzValue]="'2'"></nz-option>
                                        <nz-option [nzLabel]="'已完成'" [nzValue]="'3'"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="push_status">订单同步状态</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-select nzPlaceHolder="请选择" formControlName="push_status" nzAllowClear nzShowSearch>
                                        <nz-option [nzLabel]="'全部'" [nzValue]=""></nz-option>
                                        <nz-option [nzLabel]="'未同步'" [nzValue]="'0'"></nz-option>
                                        <nz-option [nzLabel]="'同步失败'" [nzValue]="'1'"></nz-option>
                                        <nz-option [nzLabel]="'同步成功'" [nzValue]="'2'"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="product_id">产品id</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="product_id" placeholder="请输入产品id" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <!-- <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="product_code">产品编码</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="product_code" placeholder="请输入产品编码" />
                                </nz-form-control>
                            </div>
                        </nz-form-item> -->
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="product_name">产品名称</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="product_name" placeholder="请输入产品名称" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="store_id">店铺名称</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-select nzPlaceHolder="请选择店铺名称" formControlName="store_id" nzAllowClear nzShowSearch>
                                        <nz-option *ngFor="let data of storeList" [nzLabel]="data.name" [nzValue]="data.store_id"> </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="admin_id">下单/推荐人</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-select nzPlaceHolder="请选择下单人" formControlName="admin_id" nzAllowClear nzShowSearch>
                                        <nz-option *ngFor="let data of adminList" [nzLabel]="data.real_name" [nzValue]="data.admin_id"> </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="order_number">订单号</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="order_number" placeholder="请输入订单号" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="date_start">出发日期</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-range-picker nzFormat="yyyy-MM-dd" (ngModelChange)="onChangeDate($event)" formControlName="date_starts"></nz-range-picker>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="departure_city">出发城市</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-cascader nzChangeOnSelect [nzOptions]="nzOptions" (ngModelChange)="onChanges($event)" formControlName="departure_city"></nz-cascader>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="destination_city">目的城市</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-cascader nzChangeOnSelect [nzOptions]="nzOptions" (ngModelChange)="onChangesDest($event)" formControlName="destination_city"></nz-cascader>
                                </nz-form-control>
                            </div>
                        </nz-form-item>



                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="order_start_date">下单日期</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-range-picker nzFormat="yyyy-MM-dd" (ngModelChange)="onChangeDateOrder($event)" formControlName="order_start_dates"></nz-range-picker>
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="contact_name"> 联系人姓名</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="contact_name" placeholder="请输入联系人姓名" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="contact_phone"> 联系人手机号</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="contact_phone" placeholder="请输入联系人手机号" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>


                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="25px" style="margin-left: 50px;">
                                <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="search()">搜索</button>
                                <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="reset()">重置</button>
                                <a (click)="export()" class="abtn">导出excel</a>
                            </div>
                        </nz-form-item>

                    </form>

                    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="30px" style="letter-spacing: 1px;font-weight: bold;font-size: 16px">
                        <div>
                            <span>共{{totalModel?.total_num}}人:</span>
                            <span *ngIf="totalModel?.total_adult!=0">成人{{totalModel?.total_adult}}</span>
                            <span *ngIf="totalModel?.total_kid!=0">|儿童{{totalModel?.total_kid}}</span>
                            <span *ngIf="totalModel?.baby_num!=0">|婴儿{{totalModel?.baby_num}}</span>
                        </div>
                        <div title="不包含已取消订单" style="cursor: pointer;">订单总额：
                            <span style="color: red;">{{totalModel?.price_total}}元</span>
                        </div>
                        <div title="不统计取消订单" style="cursor: pointer;">待收款总额：
                            <span style="color: red;">{{totalModel?.is_pay_money}}元</span>
                        </div>
                        <div [title]="'非取消订单金额+已取消订单金额，合计' +totalModel?.total_receive+'元'" style="cursor: pointer;">入账总额：
                            <span style="color: red;">{{totalModel?.receive}}</span>+<span style="color: green;">{{totalModel?.off_receive}}</span>元
                        </div>
                        <div [title]="'非取消订单金额+已取消订单金额，合计'+totalModel?.total_refund_money+'元'" style="cursor: pointer;">退款总额：
                            <span style="color: red;">{{totalModel?.refund_money}}</span>+<span style="color: green;">{{totalModel?.off_refund_money}}</span>元
                        </div>
                    </div>



                    <div class="mat-elevation-z8">
                        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px" style="height: 28px;">
                            <div>
                                <img src="http://cdn.bigline.com.cn/static/images/sms.png">订单短信通知书
                            </div>
                        </div>
                        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
                            (nzPageSizeChange)="changePageSize($event)">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">订单号</th>
                                    <th style="text-align: center;">下单/推荐人</th>
                                    <th style="text-align: center;">订单来源</th>
                                    <th style="text-align: center;">订单同步状态</th>
                                    <th style="text-align: center;">店铺名称</th>
                                    <!-- <th style="text-align: center;width: 6%;">产品编码</th> -->
                                    <th style="text-align: center;width: 10%;">产品名称</th>
                                    <th style="text-align: center;">是否预售</th>
                                    <th style="text-align: center;">联系人姓名/手机号</th>
                                    <th style="text-align: center;">订单出发日期</th>
                                    <th style="text-align: center;">订单下单日期</th>
                                    <th style="text-align: center;">订单状态</th>
                                    <th style="text-align: center;">订单总价格</th>
                                    <th style="text-align: center;">订单取消类型</th>
                                    <th style="text-align: center;">订单退款状态</th>
                                    <th style="width: 8%;">附属操作</th>
                                    <th style="text-align: center;">请款状态</th>
                                    <th style="text-align: center;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <td>{{data.id}}</td>
                                    <td>{{data?.bind_account_name}}</td>
                                    <td>
                                        <span *ngIf="data?.order_source==0">未知</span>
                                        <span *ngIf="data?.order_source==1">小程序</span>
                                        <span *ngIf="data?.order_source==2">管理后台</span>
                                    </td>
                                    <td>
                                        <span *ngIf="data?.push_time==0">未同步</span>
                                        <span *ngIf="data?.push_time==1">同步失败</span>
                                        <span *ngIf="data?.push_time>10">同步成功</span>
                                    </td>
                                    <td>{{data.store_name}}</td>
                                    <!-- <td>{{data.product_id}}</td> -->
                                    <td>{{data.product_name}}</td>
                                    <td>{{data.is_presell==1?'是':'否'}}</td>
                                    <td>
                                        <div>{{data.contact_name}}</div>
                                        <div>{{data.contact_phone}}</div>
                                    </td>
                                    <td>{{data.start_date|date:'yyyy-MM-dd'}}</td>
                                    <td>{{data.created_at|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td>
                                        <span *ngIf="data.order_status===0">
                                            <nz-badge nzColor="yellow"></nz-badge>已取消
                                        </span>
                                        <span *ngIf="data.order_status===1">
                                            <nz-badge nzColor="red"></nz-badge>待支付
                                        </span>
                                        <span *ngIf="data.order_status===2">
                                            <nz-badge nzColor="pink"></nz-badge>待出行
                                        </span>
                                        <span *ngIf="data.order_status===3">
                                            <nz-badge nzColor="green"></nz-badge>已完成
                                        </span>
                                    </td>
                                    <td>{{data.price_total}}元</td>
                                    <td>
                                        <span *ngIf="data.cancel_type===0">-</span>
                                        <span *ngIf="data.cancel_type===1">超时未支付</span>
                                        <span *ngIf="data.cancel_type===2">到期未成团自动取消</span>
                                        <span *ngIf="data.cancel_type===3">未支付主动取消</span>
                                        <span *ngIf="data.cancel_type===4">用户主动申请退款</span>
                                        <span *ngIf="data.cancel_type===5">平台取消成团</span>
                                        <span *ngIf="data.cancel_type===6">后台退款</span>
                                    </td>
                                    <td>
                                        <div *ngIf="data.cancel_type===0||data.cancel_type===3||data.cancel_type===1">-</div>
                                        <div *ngIf="data.cancel_type!=0&&data.cancel_type!=3&&data.cancel_type!=1">
                                            <span *ngIf="data.refund_status===0">未退款</span>
                                            <span *ngIf="data.refund_status===1">待审核</span>
                                            <span *ngIf="data.refund_status===2">已审核待退款</span>
                                            <span *ngIf="data.refund_status===3">已退款</span>
                                            <span *ngIf="data.refund_status===4">已取消</span>
                                        </div>
                                    </td>
                                    <td style=" text-align:left">
                                        <div fxLayout="column" fxLayoutAlign="start start">
                                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                                                <div><img src="http://cdn.bigline.com.cn/static/images/sms.png" title="订单短信通知书"></div>
                                                <div>
                                                    <span *ngIf="data.order_sms===0"> <nz-badge nzColor="yellow"></nz-badge>未发</span>
                                                    <span *ngIf="data.order_sms===1"><nz-badge nzColor="green"></nz-badge>已发</span>
                                                    <span *ngIf="data.order_sms===2"><nz-badge nzColor="red"></nz-badge>发送失败</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <!-- 0未请款 1已请款 2已付款 3已收发票 -->
                                        <span *ngIf="data.payout_status===0">未请款</span>
                                        <span *ngIf="data.payout_status===1">已请款</span>
                                        <span *ngIf="data.payout_status===2">已收款</span>
                                        <span *ngIf="data.payout_status===3">已收发票</span>
                                    </td>
                                    <td>
                                        <a nz-dropdown [nzDropdownMenu]="operate" nzTrigger="click">
                                            操作
                                            <i nz-icon nzType="down"></i>
                                          </a>
                                        <nz-dropdown-menu #operate="nzDropdownMenu">
                                            <ul nz-menu nzSelectable class="menu">
                                                <li nz-menu-item (click)="edit(data)">
                                                    <img src="http://cdn.bigline.com.cn/static/images/edit.png" title="编辑" style="cursor: pointer;">编辑
                                                </li>
                                                <ng-container *ngIf="data.order_status!=0">
                                                    <li nz-menu-item *ngIf="data.payment_status==0||data.payment_status==2" (click)="money(data)">
                                                        <img src="http://cdn.bigline.com.cn/static/images/money.png" title="收款" style="cursor: pointer;">收款
                                                    </li>
                                                </ng-container>
                                                <li nz-menu-item (click)="getTimeLine(data)">
                                                    <img src="http://cdn.bigline.com.cn/static/images/timeLine.png" title="操作记录">操作记录
                                                </li>
                                            </ul>
                                        </nz-dropdown-menu>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>

                    </div>
                </div>


            </div>
        </mat-card>
    </div>
</div>