<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">

        <div class="example-container">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                <div fxLayout="row" fxLayoutGap="20px">
                    <button mat-raised-button color="primary" style="width: 120px;letter-spacing: 2px;" routerLink="/store/main/storeProduct">返回产品管理</button>
                </div>

                <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
                    <mat-tab label="基本信息">
                        <div class="content">
                            <app-store-product-management-detail-info></app-store-product-management-detail-info>
                        </div>
                    </mat-tab>
                    <mat-tab label="产品特色">
                        <ng-template matTabContent>
                            <div class="content">
                                <div class="example-large-box mat-elevation-z4">
                                    <app-store-product-management-detail-feature [dataDetailModel]='dataDetailModel'></app-store-product-management-detail-feature>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="产品详情">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-store-product-management-detail-editordetail [dataDetailModel]='dataDetailModel'></app-store-product-management-detail-editordetail>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="预约须知">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-store-product-management-detail-editornotice [dataDetailModel]='dataDetailModel'></app-store-product-management-detail-editornotice>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="图片与视频">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-store-product-management-detail-desc [dataDetailModel]='dataDetailModel'></app-store-product-management-detail-desc>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="海报">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-store-product-management-detail-post [dataDetailModel]='dataDetailModel'></app-store-product-management-detail-post>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="上传行程">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-store-product-detail-upload-stroke [dataDetailModel]='dataDetailModel'></app-store-product-detail-upload-stroke>
                            </div>
                        </ng-template>
                    </mat-tab>

                </mat-tab-group>

            </div>

        </div>

    </div>
</div>