<div fxLayoutWrap="wrap">
    <div fxLayoutAlign="end start">
        <div style="font-size: 18px;cursor: pointer;" (click)="close()">X</div>
    </div>
    <div style="padding: 5px;">
        <form nz-form [formGroup]="addForm" nz-row>
            <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="title" nzRequired>标题</nz-form-label>
                    <nz-form-control [nzSm]="19" [nzXs]="24" [nzErrorTip]="formErrors.title">
                        <input nz-input formControlName="title" />
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="region_code" nzRequired>区域编码</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors.region_code">
                        <input nz-input formControlName="region_code" />
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="earlier" nzRequired>预定截止时间</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors.earlier">
                        <input nz-input formControlName="earlier" />
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="confirm" nzRequired>是否需要客服确认</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-radio-group ngModel={{dataProductDetailModel?.confirm}} formControlName="confirm">
                            <label nz-radio nzValue=0>否 </label>
                            <label nz-radio nzValue=1>是</label>
                        </nz-radio-group>
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="pay_method" nzRequired>支付方式</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择支付方式">
                        <nz-radio-group ngModel={{dataProductDetailModel?.pay_method}} formControlName="pay_method">
                            <label nz-radio nzValue=1>在线支付</label>
                            <label nz-radio nzValue=2>景区现付</label>
                        </nz-radio-group>
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="few_days" nzRequired>几天</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors.few_days">
                        <input nz-input formControlName="few_days" />
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="few_nights" nzRequired>几晚</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors.few_nights">
                        <input nz-input formControlName="few_nights" />
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="adult_price" nzRequired>成人价格</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors.adult_price">
                        <input nz-input formControlName="adult_price" />
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="child_price" nzRequired>儿童价格</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors.child_price">
                        <input nz-input formControlName="child_price" />
                    </nz-form-control>
                </div>

            </nz-form-item>

            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="original_adult_price" nzRequired>成人原价</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors.original_adult_price">
                        <input nz-input formControlName="original_adult_price" />
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="original_child_price" nzRequired>儿童原价</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors.original_child_price">
                        <input nz-input formControlName="original_child_price" />
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="difference_price" nzRequired>补差价</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="formErrors.difference_price">
                        <input nz-input formControlName="difference_price" />
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="feature" nzRequired>产品特色</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入产品特色！">
                        <input nz-input formControlName="feature" />
                    </nz-form-control>
                </div>

            </nz-form-item>

            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="fee" nzRequired>费用包含</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入费用包含！">
                        <input nz-input formControlName="fee" />
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="notice" nzRequired>预约须知</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入预约须知！">
                        <input nz-input formControlName="notice" />
                    </nz-form-control>
                </div>
            </nz-form-item>
            <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="details" nzRequired>产品详情</nz-form-label>
                    <nz-form-control [nzSm]="19" [nzXs]="24" nzErrorTip="请输入产品详情!">
                        <textarea nz-input placeholder="请输入产品详情" formControlName="details"></textarea>
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="assembling_place_id" nzRequired>集合地点id</nz-form-label>
                    <nz-form-control [nzSm]="19" [nzXs]="24" nzErrorTip="请输入集合地点！">
                        <nz-select nzMode="multiple" nzPlaceHolder="请选择" (ngModelChange)="changePlace($event)" [(ngModel)]="selectedPlace" formControlName="assembling_place_id" nzAllowClear="true">
                            <nz-option *ngFor="let option of assemblingPlaceList" [nzLabel]="option.label" [nzValue]="option.value">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="tag_id" nzRequired>标题id</nz-form-label>
                    <nz-form-control [nzSm]="19" [nzXs]="24" nzErrorTip="请输入标题！">
                        <nz-select nzMode="multiple" nzPlaceHolder="请选择" (ngModelChange)="changeTag($event)" [(ngModel)]="selectedTag" formControlName="tag_id" nzAllowClear="true">
                            <nz-option *ngFor="let option of tagList" [nzLabel]="option.label" [nzValue]="option.value">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="status" nzRequired>状态</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-radio-group ngModel={{dataProductDetailModel?.status}} formControlName="status">
                            <label nz-radio nzValue=0 [nzDisabled]="disabled">禁用 </label>
                            <label nz-radio nzValue=1 [nzDisabled]="disabled">启用</label>
                        </nz-radio-group>
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col class="register-area" [nzSm]="24" [nzXs]="24">
                <nz-form-control [nzSpan]="14" [nzOffset]="12">
                    <button nz-button nzType="primary" (click)="updateProduct()">更新</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>