<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <div style="margin-bottom: 20px;color: #607D8B;font-size: 16px;letter-spacing: 1px;">店铺银行账号管理列表</div>
                    <div fxLayout="row" fxLayoutGap="20px">
                        <button mat-raised-button color="primary" style="letter-spacing:2px" routerLink="/admin/main/store">返回店铺管理</button>
                        <button mat-raised-button color="primary" style="letter-spacing:2px" (click)="add()">添加银行账号</button>
                    </div>
                    <div class="mat-elevation-z8">
                        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
                            (nzPageSizeChange)="changePageSize($event)">
                            <thead>
                                <tr>
                                    <!-- <th style="text-align: center;">商铺id</th> -->
                                    <th style="text-align: center;">开户行 </th>
                                    <th style="text-align: center;">银行卡号</th>
                                    <th style="text-align: center;">账号类型</th>
                                    <th style="text-align: center;">联系人</th>
                                    <th style="text-align: center;">联系方式</th>
                                    <th style="text-align: center;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <!-- <td>{{data.store_id}}</td> -->
                                    <td>{{data.bank_name}}</td>
                                    <td>{{data.bank_account}}</td>
                                    <td>
                                        <div *ngIf="data.is_corporate===1">
                                            对公
                                        </div>
                                        <div *ngIf="data.is_corporate===2">
                                            对私
                                        </div>
                                    </td>
                                    <td>{{data.contacts}}</td>
                                    <td>{{data.contacts_phone}}</td>
                                    <td>
                                        <div style="cursor: pointer;" (click)="edit(data)">

                                            <img src="http://cdn.bigline.com.cn/static/images/edit.png">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>

            </div>
        </mat-card>
    </div>
</div>