<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">

        <div class="example-container">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                <div fxLayout="row" fxLayoutGap="20px">
                    <button mat-raised-button color="primary" style="width: 150px;letter-spacing: 2px;" routerLink="/admin/main/freeTravel">返回自由行列表</button>
                </div>

                <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
                    <mat-tab label="基本信息">
                        <div class="content">
                            <app-admin-travel-detail-proinfo></app-admin-travel-detail-proinfo>
                        </div>
                    </mat-tab>
                    <mat-tab label="产品特色">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-admin-travel-detail-feature [dataFreeDetailModel]='dataFreeDetailModel'></app-admin-travel-detail-feature>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="产品详情">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-admin-travel-detail-editordetail [dataFreeDetailModel]='dataFreeDetailModel'></app-admin-travel-detail-editordetail>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="预约须知">
                        <ng-template matTabContent>
                            <div class="content">
                                <app-admin-travel-detail-editornotice [dataFreeDetailModel]='dataFreeDetailModel'></app-admin-travel-detail-editornotice>
                            </div>
                        </ng-template>
                    </mat-tab>

                    <mat-tab label="图片与视频">
                        <ng-template matTabContent>
                            <div class="content">
                                <div class="example-large-box mat-elevation-z4">
                                    this is 4
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>



                </mat-tab-group>

            </div>

        </div>

    </div>
</div>