<div fxLayoutWrap="wrap">
    <div fxLayoutAlign="end start">
        <div style="font-size: 18px;cursor: pointer;" (click)="close()">X</div>
    </div>
    <div style="padding: 5px;">
        <form nz-form nz-row>

            <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="content">内容</nz-form-label>
                    <nz-form-control [nzSm]="20" [nzXs]="24">
                        <div class="wangeditor-feature">
                            <div id="editorFeature" style="background-color: ghostwhite;border-bottom: 1px solid #EEE;z-index: 1;"></div>
                            <div id="editor" class="w-e-text">
                                <div #featureBox></div>
                            </div>
                        </div>
                    </nz-form-control>
                </div>
            </nz-form-item>



            <nz-form-item nz-col class="register-area" [nzSm]="24" [nzXs]="24">
                <nz-form-control [nzSpan]="14" [nzOffset]="12">
                    <button nz-button nzType="primary" (click)="confirm()">关闭</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>