<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <div>
                        <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="add()">添加</button>
                    </div>

                    <form [formGroup]="searchForm">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                            <div fxFlex=10>
                                <mat-form-field>
                                    <mat-select placeholder="选择状态" formControlName="status">
                                        <mat-option value=''>全部</mat-option>
                                        <mat-option value=0>未通过</mat-option>
                                        <mat-option value=1>通过</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex=50>
                                <mat-form-field>
                                    <mat-label>销售头衔</mat-label>
                                    <input matInput value="" formControlName="name" placeholder="请输入关键字">
                                </mat-form-field>

                            </div>
                            <div fxFlex=20>
                                <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="search()">搜索</button>
                            </div>

                        </div>
                    </form>


                    <div class="mat-elevation-z8 saleTitleListBox">
                        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
                            (nzPageSizeChange)="changePageSize($event)">
                            <thead>
                                <tr>
                                    <!-- <th>帐号</th> -->
                                    <th>销售头衔</th>
                                    <th>提成率</th>
                                    <th>审核状态</th>
                                    <th>操作</th>
                                    <th>审核</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <!-- <td>{{data.id}}</td> -->
                                    <td>{{data.title}}</td>
                                    <td>{{data.reward_rate}}%</td>
                                    <td>
                                        <div *ngIf="data.status===0">
                                            未通过
                                        </div>
                                        <div *ngIf="data.status===1">
                                            通过
                                        </div>
                                    </td>
                                    <td>
                                        <div style="cursor: pointer;" (click)="edit(data)">
                                            <!-- <mat-icon>edit</mat-icon> -->
                                            <img src="http://cdn.bigline.com.cn/static/images/edit.png" title="编辑">
                                        </div>
                                    </td>
                                    <td>
                                        <div style="cursor: pointer;" (click)="editStatus(data)">
                                            <!-- <mat-icon>assignment_ind</mat-icon> -->
                                            <img src="http://cdn.bigline.com.cn/static/images/assignment.png" title="审核">

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>

                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>