<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">

                    <form [formGroup]="searchForm" nz-row nz-form>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="status">状态</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-select nzPlaceHolder="请选择" formControlName="status" nzAllowClear nzShowSearch>
                                        <nz-option [nzLabel]="'全部'" [nzValue]=""></nz-option>
                                        <nz-option [nzLabel]="'已取消'" [nzValue]="'0'"></nz-option>
                                        <nz-option [nzLabel]="'未使用'" [nzValue]="'1'"></nz-option>
                                        <nz-option [nzLabel]="'已使用'" [nzValue]="'2'"></nz-option>
                                        <nz-option [nzLabel]="'过期作废'" [nzValue]="'3'"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="product_name">产品名称</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="product_name" placeholder="请输入产品名称" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="ticket_order_id">预售订单号</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="ticket_order_id" placeholder="请输入预售订单号" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>


                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="name"> 预留姓名</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="name" placeholder="请输入预留姓名" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="phone">预留手机号</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="phone" placeholder="请输入预留手机号" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="order_id">预约订单号</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="order_id" placeholder="请输入预约订单号" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>


                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="code">预约码</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="code" placeholder="请输入预约码" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="transaction_id">交易流水号</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="transaction_id" placeholder="请输入交易流水号" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="date_start">抢购时间</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-range-picker nzFormat="yyyy-MM-dd" (ngModelChange)="onChangeDate($event)" formControlName="date_starts"></nz-range-picker>
                                </nz-form-control>
                            </div>
                        </nz-form-item>


                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="use_date_start">使用时间</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-range-picker nzFormat="yyyy-MM-dd" (ngModelChange)="onChangeDateUse($event)" formControlName="use_date_start"></nz-range-picker>
                                </nz-form-control>
                            </div>
                        </nz-form-item>


                        <nz-form-item nz-col [nzSm]="4" [nzXs]="24">
                            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="25px" style="margin-left: 50px;">
                                <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="search()">搜索</button>
                                <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="reset()">重置</button>
                            </div>
                        </nz-form-item>


                    </form>


                    <div class="mat-elevation-z8">
                        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
                            (nzPageSizeChange)="changePageSize($event)">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">预约码</th>
                                    <th style="text-align: center;">产品名称</th>
                                    <th style="text-align: center;">预约订单号</th>
                                    <th style="text-align: center;">预售订单号</th>
                                    <th style="text-align: center;">状态</th>
                                    <th style="text-align: center;">预售价格/补贴金额</th>
                                    <th style="text-align: center;">补差价</th>
                                    <th style="text-align: center;">预约人/手机号码</th>
                                    <th style="text-align: center;">下单日期</th>
                                    <th style="text-align: center;">出发日期</th>
                                    <th style="text-align: center;">交易流水号</th>
                                    <th style="text-align: center;">预约渠道</th>
                                    <th style="text-align: center;">查看详情</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <td>{{data?.code}}</td>
                                    <td>{{data.ticket_order?.product_name}}</td>
                                    <td>{{data?.order_id==0?'-':data?.order_id}}</td>
                                    <td>{{data?.ticket_order_id}}</td>
                                    <td>{{data.status_info}}</td>
                                    <td>
                                        <div>{{data?.ticket_price}}元/</div>
                                        <div>{{data?.subsidy_price}}元</div>
                                    </td>
                                    <td>{{data.extra_charge}}元</td>
                                    <td>
                                        <div>{{data.ticket_order?.name}}</div>
                                        <div>{{data.ticket_order?.phone}}</div>
                                    </td>
                                    <td>{{data.created_at|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td>{{data.use_date}}</td>
                                    <td>{{data.transaction_id}}</td>
                                    <td>{{data.source}}</td>
                                    <td>
                                        <div style="cursor: pointer;">
                                            <img src="http://cdn.bigline.com.cn/static/images/edit.png" title="编辑" (click)="edit(data)">
                                        </div>
                                    </td>
                                </tr>


                            </tbody>


                        </nz-table>
                    </div>

                </div>


            </div>
        </mat-card>
    </div>
</div>