<div fxLayoutWrap="wrap">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">

        <div style="padding: 5px;">
            <form nz-form [formGroup]="addForm">
                <h4 style="padding-left: 10px;padding-top: 10px;">账户信息</h4>
                <nz-divider></nz-divider>
                <nz-form-item>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="name" nzRequired>供应商名称</nz-form-label>
                    <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="请输入供应商名称">
                        <input nz-input formControlName="name" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="type" nzRequired>供应商类型</nz-form-label>
                    <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="请选择供应商类型">
                        <nz-select nzPlaceHolder="请选择供应商类型" formControlName="type">
                            <nz-option [nzLabel]="'其他供应商'" [nzValue]="0"></nz-option>
                            <nz-option [nzLabel]="'启航机器人'" [nzValue]="1"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="regionCode" nzRequired>区域</nz-form-label>
                    <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="请选择区域！">
                        <nz-cascader nzChangeOnSelect [nzOptions]="nzOptions" [(ngModel)]="values" (ngModelChange)="onChanges($event)" formControlName="regionCode"></nz-cascader>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="address">供应商地址</nz-form-label>
                    <nz-form-control [nzSm]="15" [nzXs]="24">
                        <input nz-input formControlName="address" />
                    </nz-form-control>
                </nz-form-item>

                <h4 style="padding-left: 10px;padding-top: 10px;">联系人信息</h4>
                <nz-divider></nz-divider>

                <nz-form-item>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="contact" nzRequired>联系人</nz-form-label>
                    <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="请输入联系人姓名">
                        <input nz-input formControlName="contact" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="mobile" nzRequired>手机号</nz-form-label>
                    <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="请输入联系人手机号">
                        <input nz-input formControlName="mobile" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="fax">传真</nz-form-label>
                    <nz-form-control [nzSm]="15" [nzXs]="24">
                        <input nz-input formControlName="fax" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="phone">座机</nz-form-label>
                    <nz-form-control [nzSm]="15" [nzXs]="24">
                        <input nz-input formControlName="phone" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                    <div nz-row>
                        <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="work_time" nzRequired>工作时段</nz-form-label>
                        <nz-form-control [nzSm]="19" [nzXs]="24" nzErrorTip="请选择时间">
                            <nz-checkbox-group [(ngModel)]="checkWeeks" formControlName="week" (ngModelChange)="ngCheckBoxChange(checkWeeks)"></nz-checkbox-group>
                        </nz-form-control>
                    </div>
                    <div style="margin-left: 195px;">
                        <nz-form-control [nzSm]="19" [nzXs]="24" nzErrorTip="请选择时间">
                            <nz-time-picker [(ngModel)]="time1" nzFormat="HH:mm" formControlName="date1"></nz-time-picker>
                            <input type="text" disabled nz-input placeholder="~" class="demo-input-split" style="width: 30px; border-left: 0px; border-right: 0px; pointer-events: none; background-color: rgb(255, 255, 255);" />
                            <nz-time-picker [(ngModel)]="time2" nzFormat="HH:mm" formControlName="date2"></nz-time-picker>
                        </nz-form-control>
                    </div>

                </nz-form-item>


                <nz-form-item>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="status">状态</nz-form-label>
                    <nz-form-control [nzSm]="15" [nzXs]="24">
                        <nz-radio-group formControlName="status">
                            <label nz-radio nzValue=0>暂停</label>
                            <label nz-radio nzValue=1>正常</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>


            </form>

        </div>
    </div>

</div>