<div fxLayoutWrap="wrap">
    <div fxLayoutAlign="end start">
        <div style="font-size: 18px;cursor: pointer;" (click)="close()">X</div>
    </div>
    <div style="padding: 5px;">
        <form [formGroup]="editForm">
            <div fxLayout="column" fxLayoutAlign="start stretch">
                <div fxLayout="row">
                    <label fxFlex=15>商户名: </label>
                    <mat-form-field>
                        <input matInput value="" formControlName="name">
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <label fxFlex=15>区域编码:</label>
                    <mat-form-field>
                        <input matInput value="" formControlName="regionCode">
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <label fxFlex=15>商户地址:</label>
                    <mat-form-field>
                        <input matInput value="" formControlName="address">
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <label fxFlex=15>传真:</label>
                    <mat-form-field>
                        <input matInput value="" formControlName="fax">
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <label fxFlex=15>座机号码:</label>
                    <mat-form-field>
                        <input matInput value="" formControlName="phone">
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <label fxFlex=15>状态:</label>
                    <mat-form-field>
                        <input matInput value="" formControlName="status">
                    </mat-form-field>
                </div>

            </div>
        </form>

        <div fxLayoutAlign="center center">
            <button mat-raised-button color="primary" style="width: 100px;letter-spacing: 3px;">提交</button>
        </div>


    </div>
</div>