<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <form [formGroup]="searchForm" nz-row nz-form>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="store_id">店铺名称</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-select nzPlaceHolder="请选择店铺名称" formControlName="store_id" nzAllowClear nzShowSearch>
                                        <nz-option *ngFor="let data of storeList" [nzLabel]="data.name" [nzValue]="data.store_id"> </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </div>
                        </nz-form-item>


                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="id">产品编码/id</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="id" placeholder="请输入产品编码/id" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="title">产品名称</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="title" placeholder="请输入产品名称" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="date_starts">预售时间</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-range-picker nzFormat="yyyy-MM-dd" (ngModelChange)="onChangeDate($event)" formControlName="date_starts"></nz-range-picker>
                                </nz-form-control>
                            </div>
                        </nz-form-item>


                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="departure_city">出发城市</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-cascader nzChangeOnSelect [nzOptions]="nzOptions" (ngModelChange)="onChanges($event)" formControlName="departure_city"></nz-cascader>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="destination_city">目的城市</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-cascader nzChangeOnSelect [nzOptions]="nzOptions" (ngModelChange)="onChangesDest($event)" formControlName="destination_city"></nz-cascader>
                                </nz-form-control>
                            </div>
                        </nz-form-item>


                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="few_days">几天</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="few_days" placeholder="请输入几天" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>


                        <nz-form-item nz-col [nzSm]="2" [nzXs]="24">
                            <div nz-row>
                                <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="search()">搜索</button>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="2" [nzXs]="24">
                            <div nz-row>
                                <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="reset()">重置</button>
                            </div>
                        </nz-form-item>

                    </form>

                    <div class="mat-elevation-z8">
                        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
                            (nzPageSizeChange)="changePageSize($event)">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">预售id</th>
                                    <th style="text-align: center;">产品id</th>
                                    <th style="text-align: center;width:12%;">产品标题</th>
                                    <!-- <th style="text-align: center;">店铺名称</th>
                                    <th style="text-align: center;">创建人</th> -->
                                    <th style="text-align: center;">行程天数</th>
                                    <th style="text-align: center;">出发城市</th>
                                    <th style="text-align: center;">目的城市</th>
                                    <th style="text-align: center;">预售价格/补贴金额</th>
                                    <th style="text-align: center;">预售有效时间范围</th>
                                    <th style="text-align: center;">使用有效时间范围</th>
                                    <th style="text-align: center;">实时库存</th>
                                    <!-- <th style="text-align: center;">审核状态</th>
                                    <th style="text-align: center;">上下架状态</th> -->
                                    <th style="text-align: center;">操作</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <td>{{data.id}}</td>
                                    <td>{{data.product_id}}</td>
                                    <td>{{data?.product_name}}</td>
                                    <!-- <td>{{data?.store?.name}}</td>
                                    <td>{{data.operation_name}}</td> -->
                                    <td>{{data?.product?.few_days}}天{{data?.product?.few_nights}}晚</td>
                                    <td>{{data?.product?.departure}}</td>
                                    <td>{{data?.product?.destination}} </td>
                                    <td>
                                        {{data?.ticket_price}}&nbsp;元
                                        <span style="font-weight: 600;">/</span> {{data?.subsidy_price}}&nbsp;元
                                    </td>
                                    <td>
                                        {{data?.start_date}}&nbsp;~ {{data?.end_date}}
                                    </td>
                                    <td>
                                        {{data?.use_start_date}}&nbsp;~ {{data?.use_end_date}}
                                    </td>
                                    <td>
                                        {{data?.inventory-data?.sold}}
                                    </td>
                                    <!-- <td>
                                        <div *ngIf="data?.product?.check_status===0">
                                            未提交审核
                                        </div>
                                        <div *ngIf="data?.product?.check_status===1">
                                            审核中
                                        </div>
                                        <div *ngIf="data?.product?.check_status===2">

                                            已通过
                                        </div>
                                        <div *ngIf="data?.product?.check_status===3">
                                            未通过
                                            <img src="http://cdn.bigline.com.cn/static/images/help_Outline.png" title={{data?.product?.check_log[0]?.reason}}>
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="data?.product?.status===0">下架</div>
                                        <div *ngIf="data?.product?.status===1">上架</div>
                                    </td> -->

                                    <td>
                                        <a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
                                            操作
                                            <i nz-icon nzType="down"></i>
                                          </a>
                                        <nz-dropdown-menu #menu="nzDropdownMenu">
                                            <ul nz-menu nzSelectable class="menu">
                                                <li nz-menu-item (click)="edit(data)">
                                                    <img src="http://cdn.bigline.com.cn/static/images/edit.png" title="查看详情"> 查看详情
                                                </li>
                                                <li nz-menu-item (click)="goToQuoteClick(data)">
                                                    <img src="http://cdn.bigline.com.cn/static/images/assignment_ind.png" title="查看报价"> 查看报价
                                                </li>
                                            </ul>
                                        </nz-dropdown-menu>
                                    </td>

                                </tr>
                            </tbody>
                        </nz-table>

                    </div>

                </div>

            </div>
        </mat-card>
    </div>
</div>