<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
            <mat-card>
                <mat-tab-group>
                    <mat-tab label="图片">
                        <div class="content">
                            <div class="example-container" style="margin-bottom: 50px;">
                                <div fxLayout="column" fxLayoutAlign="start stretch">
                                    <div style="padding-left: 10px;padding-top: 10px;">
                                        <button mat-raised-button color="primary" style="width: 100px;letter-spacing: 2px;" (click)="upload()">上传图片</button>
                                        <button mat-raised-button color="primary" style="width: 120px;letter-spacing: 2px;margin-left: 10px;" (click)="import()">从图库导入</button>
                                        <button mat-raised-button color="primary" style="width: 120px;letter-spacing: 2px;margin-left: 10px;" (click)="allDelete()">批量删除</button>
                                    </div>
                                    <nz-divider></nz-divider>
                                    <div style="padding:10px 80px">
                                        <div class="mat-elevation-z8">
                                            <p style="color: red;letter-spacing: 1px;">图片宽高比为375:210！如要修改图片顺序，请拖拽表格列进行排序后点击更新按钮保存</p>
                                            <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true">
                                                <thead>
                                                    <tr>
                                                        <th [nzChecked]="checked" (nzCheckedChange)="onAllChecked($event)"></th>
                                                        <th style="text-align: center;">图片</th>
                                                        <th style="text-align: center;">图片id</th>
                                                        <th style="text-align: center;">图片名称</th>
                                                        <th style="text-align: center;">描述</th>
                                                        <th style="text-align: center;">排序</th>
                                                        <th style="text-align: center;">操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                                                    <tr *ngFor="let data of rowSelectionTable.data" cdkDrag>
                                                        <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>

                                                        <td>
                                                            <div>
                                                                <img src={{data.url_sm}} style="width: 40px;height: 40px;" />
                                                                <div *ngIf="data.sort===0" style="width: 40px;background-color: red;color: white; position: absolute;left: 108px;top: 34px;">封面</div>
                                                            </div>
                                                        </td>
                                                        <td>{{data.id}}</td>
                                                        <td>{{data.image_name}}{{data.name}}</td>
                                                        <td>{{data.desc}}</td>
                                                        <td>{{data.sort}}</td>
                                                        <td>
                                                            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                                                                <a (click)="deleteIt(data.id)">删除</a>
                                                                <a (click)="top(data)" *ngIf="this.dataSourceVideo.length === 0&&data.sort!=0">设为封面</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </nz-table>

                                        </div>

                                    </div>

                                    <div style="margin-top: 20px;margin-right: 20px;">
                                        <div fxLayout="column" fxLayoutAlign="end end">
                                            <button nz-button nzType="primary" (click)="nextTab()">更新图片</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="视频">
                        <div class="content">
                            <div class="example-container" style="margin-bottom: 50px;">
                                <div fxLayout="column" fxLayoutAlign="start stretch">
                                    <div style="padding-left: 10px;padding-top: 10px;">
                                        <button mat-raised-button color="primary" style="width: 100px;letter-spacing: 2px;" (click)="uploadVideo()">上传视频</button>
                                        <button mat-raised-button color="primary" style="width: 120px;letter-spacing: 2px;margin-left: 10px;" (click)="importVideo()">从视频库导入</button>
                                    </div>
                                    <nz-divider></nz-divider>
                                    <div style="padding:10px 80px">
                                        <div class="mat-elevation-z8">
                                            <p style="color: red;letter-spacing: 1px;">！视频默认为封面，只能上传一个，点击更新按钮保存</p>
                                            <nz-table #rowSelectionTables nzBordered [nzData]="dataSourceVideo">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center;">视频</th>
                                                        <th style="text-align: center;">视频id</th>
                                                        <th style="text-align: center;">视频名称</th>
                                                        <th style="text-align: center;">视频地址</th>
                                                        <th style="text-align: center;">描述</th>
                                                        <th style="text-align: center;">排序</th>
                                                        <th style="text-align: center;">操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of rowSelectionTables.data">
                                                        <td>
                                                            <div>
                                                                <img src={{data.url}} style="width: 40px;height: 40px;" />
                                                            </div>
                                                        </td>
                                                        <td>{{data.id}}</td>
                                                        <td>{{data.image_name}}{{data.name}}</td>
                                                        <td>{{data.url}}</td>
                                                        <td>{{data.desc}}</td>
                                                        <td>{{data.sort}}</td>
                                                        <td>
                                                            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                                                                <a (click)="deleteItVideo(data.id)">删除</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </nz-table>

                                        </div>

                                    </div>
                                    <div style="margin-top: 20px;margin-right: 20px;">
                                        <div fxLayout="column" fxLayoutAlign="end end">
                                            <button nz-button nzType="primary" (click)="nextTabVideo()">更新视频</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>




                </mat-tab-group>





            </mat-card>

        </div>


    </div>
</div>