<nz-layout style="width: 100%;height: 100%;">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div *ngIf="this.pathName==='admin'">
            <div class="user-profile" style="background: url(http://cdn.bigline.com.cn/static/images/user-info.jpg) no-repeat;">
                <div class="profile-img">
                    <img src="http://cdn.bigline.com.cn/static/images/profile.png" alt="user">
                </div>
                <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> {{userName}} <i class="ti-angle-down font-12 m-l-5"></i></a></div>
                <mat-menu #sdprofile="matMenu" class="mymegamenu">
                    <button mat-menu-item (click)="accountDetail()">
            <mat-icon>account_box</mat-icon> Profile </button>
                    <button mat-menu-item (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>
                </mat-menu>
            </div>
            <ul nz-menu nzTheme="dark" nzMode="inline">
                <li nz-submenu [nzOpen]="rla2.isActive" #rla2="routerLinkActive" [routerLinkActive]="['active1']" *ngFor="let menuitemList of menuItems.getMenuitem()" nzTitle={{menuitemList.title}} nzIcon={{menuitemList.icon}}>
                    <ul>
                        <li nz-menu-item *ngFor="let childList of menuitemList.children" routerLinkActive="ant-menu-item-selected" [routerLink]="['/admin/main', childList.state]">{{childList.name}}</li>
                    </ul>
                </li>
            </ul>
        </div>


        <div *ngIf="this.pathName==='store'">
            <div class="user-profile" style="background: url(http://cdn.bigline.com.cn/static/images/user-info.jpg) no-repeat;">
                <div class="profile-img">
                    <img src="http://cdn.bigline.com.cn/static/images/profile.png" alt="user">
                </div>
                <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> {{mobile}} <i class="ti-angle-down font-12 m-l-5"></i></a></div>
                <mat-menu #sdprofile="matMenu" class="mymegamenu">
                    <button mat-menu-item (click)="storeAccountDetail()">
            <mat-icon>account_box</mat-icon> Profile </button>
                    <button mat-menu-item (click)="storeLogOut()">
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>
                </mat-menu>
            </div>
            <ul nz-menu nzTheme="dark" nzMode="inline">
                <li nz-submenu [nzOpen]="rla2.isActive" #rla2="routerLinkActive" [routerLinkActive]="['active1']" *ngFor="let menuitemList of menuItems.getStoreMenuitem()" nzTitle={{menuitemList.title}} nzIcon={{menuitemList.icon}}>
                    <ul>
                        <li nz-menu-item routerLinkActive="ant-menu-item-selected" *ngFor="let childList of menuitemList.children" [routerLink]="['/store/main', childList.state]">{{childList.name}}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </nz-sider>



    <nz-layout>
        <nz-header>
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
        </nz-header>
        <div style="margin: 10px 15px;">
            <nz-breadcrumb>
                <nz-breadcrumb-item *ngIf="this.pathName==='admin'"><a routerLink="/admin/main/adminAccount">管理平台</a></nz-breadcrumb-item>
                <nz-breadcrumb-item *ngIf="this.pathName==='store'"><a routerLink="/store/main/storeProduct">店铺平台</a></nz-breadcrumb-item>
                <nz-breadcrumb-item *ngFor="let breadcrumb of breadcrumbs">
                    <a>{{ breadcrumb.label }}</a>
                </nz-breadcrumb-item>
            </nz-breadcrumb>
            <div>
                <router-outlet>
                    <app-spinner></app-spinner>
                </router-outlet>
            </div>
        </div>
    </nz-layout>
</nz-layout>