<div fxLayoutWrap="wrap">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">

        <div style="padding: 5px;">
            <form nz-form [formGroup]="validateForm">
                <nz-form-item>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="display_name" nzRequired>权限名称</nz-form-label>
                    <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="请输入权限名称">
                        <input nz-input formControlName="display_name" [ngModel]="permissionDetailtModel?.display_name"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="pid">父级id</nz-form-label>
                    <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="请选择父级">
                        <nz-select nzPlaceHolder="请选择父级" formControlName="pid" [ngModel]="permissionDetailtModel?.pid">
                            <nz-option *ngFor="let data of parentData; index as i;" [nzLabel]="data.display_name" [nzValue]="data.id"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="controller" nzRequired>控制器名称</nz-form-label>
                    <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="请输入控制器名称">
                        <input nz-input formControlName="controller" [ngModel]="permissionDetailtModel?.controller"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="action" nzRequired>操作方法</nz-form-label>
                    <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="请输入操作方法">
                        <input nz-input formControlName="action" [ngModel]="permissionDetailtModel?.action"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="description">详细描述</nz-form-label>
                    <nz-form-control [nzSm]="15" [nzXs]="24">
                        <textarea nz-input formControlName="description" [nzAutosize]="{ minRows: 3, maxRows: 5 }" [ngModel]="permissionDetailtModel?.description"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </form>

        </div>
    </div>

</div>