<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <form [formGroup]="searchForm">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                            <div fxFlex=10>
                                <mat-form-field>
                                    <mat-label>状态</mat-label>
                                    <mat-select placeholder="选择状态" formControlName="status">
                                        <mat-option value=''>全部</mat-option>
                                        <mat-option value=1> 处理中</mat-option>
                                        <mat-option value=2>等待结算</mat-option>
                                        <mat-option value=3>已完成</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex=20>
                                <mat-form-field>
                                    <mat-label>订单id</mat-label>
                                    <input matInput value="" formControlName="order_id" placeholder="请输入关键字">
                                </mat-form-field>
                            </div>

                            <div fxFlex=20>
                                <mat-form-field>
                                    <mat-label>产品名称</mat-label>
                                    <input matInput value="" formControlName="product_name" placeholder="请输入关键字">
                                </mat-form-field>
                            </div>

                            <div fxFlex=20>
                                <mat-form-field>
                                    <mat-label>产品编码</mat-label>
                                    <input matInput value="" formControlName="product_code" placeholder="请输入关键字">
                                </mat-form-field>
                            </div>


                            <div fxFlex=5>
                                <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="search()">搜索</button>
                            </div>
                            <div fxFlex=5>
                                <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="reset()">重置</button>
                            </div>

                        </div>
                    </form>

                    <!-- <div>
                        <button nz-button nzType="primary" (click)="checkClick()">审核</button>
                        <button nz-button nzType="primary" style="margin-left: 10px;" nzDanger (click)="checkAllClick()">批量审核</button>
                    </div> -->
                    <div class="mat-elevation-z8 ListBox">
                        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
                            (nzPageSizeChange)="changePageSize($event)" [nzLoading]="loading">
                            <thead>
                                <tr>
                                    <!-- <th [nzChecked]="checked" (nzCheckedChange)="onAllChecked($event)"></th> -->
                                    <th>订单id</th>
                                    <th style="width: 300px;">产品名称</th>
                                    <th>产品编码</th>
                                    <th>产品总佣金</th>
                                    <th>订单总金额</th>
                                    <th style="width: 100px;">订单出行人总人数</th>
                                    <th>产品类型</th>
                                    <th>状态</th>
                                    <th>收益人(一级)</th>
                                    <th>佣金金额(一级)</th>
                                    <th>收益人(二级)</th>
                                    <th>佣金金额(二级)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <!-- <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data, $event)"></td> -->
                                    <td>{{data.order_id}}</td>
                                    <td>{{data.product_name}}</td>
                                    <td>{{data.product_code}}</td>
                                    <td>{{data.product_reward}}元</td>
                                    <td>{{data.price_total}}元</td>
                                    <td>{{data.num_total}}</td>
                                    <td>
                                        <div *ngIf="data.product_type===0">
                                            跟团游
                                        </div>
                                        <div *ngIf="data.product_type===1">
                                            自由行
                                        </div>
                                    </td>
                                    <td>
                                        <span *ngIf="data.status===0">
                                            <nz-badge nzColor="yellow"></nz-badge>取消
                                        </span>
                                        <span *ngIf="data.status===1">
                                            <nz-badge nzColor="red"></nz-badge>处理中
                                        </span>
                                        <span *ngIf="data.status===2">
                                            <nz-badge nzColor="pink"></nz-badge>等待结算
                                        </span>
                                        <span *ngIf="data.status===3">
                                            <nz-badge nzColor="green"></nz-badge>已完成
                                        </span>
                                    </td>
                                    <td>
                                        <div *ngIf="!data.first_user">-</div>
                                        <div *ngIf="data.first_user">{{data.first_user}}</div>
                                    </td>
                                    <td>
                                        <div *ngIf="!data.first_user_reward">-</div>
                                        <div *ngIf="data.first_user_reward">{{data.first_user_reward}}元</div>
                                    </td>
                                    <td>
                                        <div *ngIf="!data.second_user">-</div>
                                        <div *ngIf="data.second_user">{{data.second_user}}</div>
                                    </td>
                                    <td>
                                        <div *ngIf="!data.second_user_reward">-</div>
                                        <div *ngIf="data.second_user_reward">{{data.second_user_reward}}元</div>
                                        <!-- {{data.second_user_reward}}元 -->
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>