<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                    <form [formGroup]="searchForm">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                            <div fxFlex=20>
                                <mat-form-field>
                                    <mat-label>类型</mat-label>
                                    <mat-select placeholder="选择类型" formControlName="type">
                                        <mat-option value=''>全部</mat-option>
                                        <mat-option value=1> 平台返佣</mat-option>
                                        <mat-option value=2>提现</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                            <div fxFlex=20>
                                <mat-form-field>
                                    <mat-label>用户id</mat-label>
                                    <input matInput value="" formControlName="user_id" placeholder="请输入关键字">
                                </mat-form-field>

                            </div>
                            <div fxFlex=20>
                                <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="search()">搜索</button>
                            </div>

                        </div>
                    </form>

                    <div class="mat-elevation-z8 ListBox">
                        <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
                            (nzPageSizeChange)="changePageSize($event)">
                            <thead>
                                <tr>
                                    <th>用户id</th>
                                    <th>提现金额</th>
                                    <th>变动金额</th>
                                    <th>类型</th>
                                    <th>变动时间</th>
                                    <th>昵称</th>
                                    <th>头像</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of rowSelectionTable.data">
                                    <td>{{data?.user?.user_id}}</td>
                                    <td>{{data?.money}}元</td>
                                    <td>{{data?.change_money}}元</td>
                                    <td>
                                        <div *ngIf="data?.type===1">
                                            平台返佣
                                        </div>
                                        <div *ngIf="data?.type===2">
                                            提现
                                        </div>
                                    </td>
                                    <td>{{data?.created_at|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td>{{data?.user?.name}}</td>
                                    <td>
                                        <img [src]="data?.user?.avatar_url" alt="" style="width: 50px;">
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>