.content {
    padding: 7px;
    border-radius: 8px;
}

.example-container {
    padding-bottom: 70px;
    padding: 2px;
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td {
    text-align: center !important;
}

.ant-divider-horizontal {
    margin: 5px 0 !important;
}

.footer {
    height: 50px;
    margin-top: -50px;
}
.btn {
    width: 59px;
    height: 20px;
    line-height: 10px;
    background: pink;
    border: none;
    border-radius: 5px;
    color: red;
}