.ant-divider-horizontal {
    margin: 5px 0 !important;
}

.footer {
    height: 50px;
    margin-top: -50px;
}

.nzChoice {
    max-width: 120px !important;
    width: 120px !important;
}

.wangeditor-feature {
    border: 1px solid #c9d8dc;
    overflow: hidden !important;
    resize: both !important;
    /* height: 300px; */
    min-height: 300px;
}