<div>
    <nz-table #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
        (nzPageSizeChange)="changePageSize($event)">
        <thead>
            <tr>
                <th>姓名</th>
                <th>类型</th>
                <th>证件类型</th>
                <th>证件号</th>
                <th>生日</th>
                <th>联系方式</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </nz-table>
</div>