<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
            <mat-card>
                <div class="example-container">
                    <div fxLayout="column" fxLayoutAlign="start stretch">
                        <h4 style="padding-left: 10px;padding-top: 10px;">基本信息</h4>
                        <nz-divider></nz-divider>
                        <div style="padding:10px 80px">
                            <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
                                <form nz-form [formGroup]="addForm" nz-row>
                                    <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                                        <div nz-row>
                                            <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="title" nzRequired>产品标题</nz-form-label>
                                            <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="formErrors.title">
                                                <input nz-input formControlName="title" />
                                            </nz-form-control>
                                        </div>
                                    </nz-form-item>
                                    <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                        <div nz-row>
                                            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="few_days" nzRequired>行程天数</nz-form-label>
                                            <nz-form-control [nzSm]="4" [nzXs]="24" [nzErrorTip]="formErrors.few_days">
                                                <nz-input-number style="width: 94px;" formControlName="few_days" [nzMin]="addForm.value.few_nights" [nzMax]="255" [nzStep]="1"></nz-input-number>
                                                <span style="line-height: 32px;padding: 0 9px;">天</span>
                                            </nz-form-control>
                                            <nz-form-control [nzSm]="6" [nzXs]="24" [nzErrorTip]=" formErrors.few_nights">
                                                <nz-input-number style="width: 94px;" formControlName="few_nights" [nzMin]="0" [nzMax]="addForm.value.few_days" [nzStep]="1"></nz-input-number>
                                                <span style="line-height: 32px;padding: 0 9px;">晚</span>
                                            </nz-form-control>
                                        </div>
                                    </nz-form-item>

                                    <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                        <div nz-row>
                                            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tag_id">产品标签</nz-form-label>
                                            <nz-form-control [nzSm]="8" [nzXs]="24" [nzErrorTip]="formErrors.tag_id">
                                                <nz-select nzMode="multiple" nzPlaceHolder="请选择产品标签" (ngModelChange)="changeTag($event)" [(ngModel)]="selectedTag" formControlName="tag_id">
                                                    <nz-option *ngFor="let option of tagList" [nzLabel]="option.label" [nzValue]="option.value">
                                                    </nz-option>
                                                </nz-select>
                                            </nz-form-control>
                                        </div>
                                    </nz-form-item>

                                    <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                        <div nz-row>
                                            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="departure_city" nzRequired>出发城市</nz-form-label>
                                            <nz-form-control [nzSm]="8" [nzXs]="24" [nzErrorTip]="formErrors.departure_city">
                                                <nz-cascader nzChangeOnSelect [nzOptions]="nzOptions" [(ngModel)]="departure_city" formControlName="departure_city"></nz-cascader>
                                            </nz-form-control>
                                        </div>
                                    </nz-form-item>

                                    <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                        <div nz-row>
                                            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="destination_city" nzRequired>目的城市</nz-form-label>
                                            <nz-form-control [nzSm]="8" [nzXs]="24" [nzErrorTip]="formErrors.destination_city">
                                                <nz-cascader nzChangeOnSelect [nzOptions]="nzOptions" [(ngModel)]="valuesDestination_city" formControlName="destination_city"></nz-cascader>
                                            </nz-form-control>
                                        </div>
                                    </nz-form-item>


                                    <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                        <div nz-row>
                                            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="service_phone">400服务电话</nz-form-label>
                                            <nz-form-control [nzSm]="8" [nzXs]="24">
                                                <input nz-input formControlName="service_phone" />
                                            </nz-form-control>
                                        </div>
                                    </nz-form-item>

                                    <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                        <div nz-row>
                                            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title" nzRequired>是否需要客服确认</nz-form-label>
                                            <nz-form-control [nzSm]="10" [nzXs]="24">
                                                <nz-radio-group ngModel={{(dataModel?.confirm)||0}} formControlName="confirm">
                                                    <label nz-radio nzValue='1'>是</label>
                                                    <label nz-radio nzValue='0'>否 </label>
                                                </nz-radio-group>
                                            </nz-form-control>
                                        </div>
                                    </nz-form-item>

                                </form>
                            </nz-spin>
                        </div>

                    </div>

                </div>
            </mat-card>

            <mat-card>
                <div class="example-container">
                    <div fxLayout="column" fxLayoutAlign="start stretch">
                        <h4 style="padding-left: 10px;padding-top: 10px;">预定限制</h4>
                        <nz-divider></nz-divider>
                        <div style="padding:10px 80px">
                            <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
                                <form nz-form [formGroup]="addForm" nz-row>

                                    <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                        <div nz-row>
                                            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="reserve_ahead" nzRequired>是否可提前预定</nz-form-label>
                                            <nz-form-control [nzSm]="8" [nzXs]="24">
                                                <nz-radio-group [(ngModel)]="isReserveAhead" (ngModelChange)="isReserveAheadChange($event)" formControlName="reserve_ahead">
                                                    <label nz-radio nzValue='1'>可以</label>
                                                    <label nz-radio nzValue='0'>否 </label>
                                                </nz-radio-group>
                                            </nz-form-control>
                                        </div>
                                    </nz-form-item>


                                    <nz-form-item nz-col [nzSm]="12" [nzXs]="24" *ngIf="isReserveAhead==='1'">
                                        <div nz-row>
                                            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title" nzRequired>提前预定</nz-form-label>
                                            <nz-form-control [nzSm]="10" [nzXs]="24">
                                                <nz-input-number formControlName="earlier1" [nzMin]="1" [nzMax]="45" [nzStep]="1"></nz-input-number><span style="line-height: 32px;padding: 0 9px;">天</span>
                                                <nz-time-picker [(ngModel)]="earlierTime" style="width: 94px;" nzFormat="HH:mm" formControlName="earlier2"></nz-time-picker><span style="line-height: 32px;padding: 0 9px;">前可订</span>
                                                <p style="font-size: 12px;color: red;letter-spacing: 1px;">假设今天为5月1号，设置提前2天，18∶00前可订，则表示客人在今天18：00前可以预订到5月3号出发的产品，在今天18：00后能订到5月4号出发的产品。若客人预订时的时区和设置时区不同，系统会自动转换。</p>

                                            </nz-form-control>
                                        </div>
                                    </nz-form-item>

                                    <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                        <div nz-row>
                                            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="reserve_num" nzRequired>可预定人数</nz-form-label>
                                            <nz-form-control [nzSm]="8" [nzXs]="24" [nzErrorTip]="formErrors.reserve_num">
                                                <nz-input-number style="width: 100%;" formControlName="reserve_num" [nzMin]="1"></nz-input-number>
                                            </nz-form-control>
                                        </div>
                                    </nz-form-item>

                                    <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                        <div nz-row>
                                            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="reserve_children">儿童是否可预定</nz-form-label>
                                            <nz-form-control [nzSm]="10" [nzXs]="24">
                                                <nz-radio-group [(ngModel)]="isReserveChildren" (ngModelChange)="isReserveChildrenChange($event)" formControlName="reserve_children">
                                                    <label nz-radio nzValue='1'>可以</label>
                                                    <label nz-radio nzValue='0'>否 </label>
                                                </nz-radio-group>
                                            </nz-form-control>
                                        </div>
                                    </nz-form-item>


                                    <nz-form-item nz-col [nzSm]="12" [nzXs]="24" *ngIf="isReserveChildren==='1'">
                                        <div nz-row>
                                            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="children_age" nzRequired>儿童最大年龄</nz-form-label>
                                            <nz-form-control [nzSm]="8" [nzXs]="24" [nzErrorTip]="formErrors.children_age">
                                                <nz-input-number style="width: 100%;" formControlName="children_age" [nzMin]="0" [nzMax]="100" [nzStep]="1"></nz-input-number>
                                            </nz-form-control>
                                        </div>
                                    </nz-form-item>


                                    <nz-form-item nz-col [nzSm]="12" [nzXs]="24" *ngIf="isReserveChildren==='1'">
                                        <div nz-row>
                                            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="child_height_min" nzRequired>儿童身高范围</nz-form-label>
                                            <nz-form-control [nzSm]="8" [nzXs]="24" [nzErrorTip]="formErrors.child_height_min">
                                                <nz-input-number formControlName="child_height_min" style="width: 90px;margin-top: 1px;" [nzMin]="1"></nz-input-number>
                                                <input type="text" disabled nz-input placeholder="~" class="demo-input-split" style="width: 30px; border-left: 0px; border-right: 0px; pointer-events: none; background-color: rgb(255, 255, 255);" />
                                                <nz-input-number formControlName="child_height_max" style="width: 90px;margin-top: 1px;" [nzMin]="1"></nz-input-number>
                                                <span style="margin-left: 5px;">cm</span>
                                            </nz-form-control>
                                        </div>
                                    </nz-form-item>

                                    <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                                        <div nz-row>
                                            <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="fee" nzRequired>费用包含</nz-form-label>
                                            <nz-form-control [nzSm]="21" [nzXs]="24" nzErrorTip="请输入费用包含！">
                                                <a nz-button nzType="link" (click)="importImg()">从图库导入资源</a>
                                                <br>
                                                <div class="wangeditor-feature">
                                                    <div id="editorFee" style="background-color: ghostwhite;border-bottom: 1px solid #EEE;z-index: 10001"></div>
                                                    <div id="feeContent" class="w-e-text">
                                                        <div #feeBox></div>
                                                    </div>
                                                </div>
                                            </nz-form-control>
                                        </div>
                                    </nz-form-item>
                                </form>
                            </nz-spin>
                        </div>

                    </div>

                </div>
            </mat-card>

        </div>
        <div class="btn">
            <button nz-button nzType="primary" [nzLoading]="isLoadingBtn" (click)="nextTab()">下一步</button>
        </div>
    </div>
</div>