<div fxLayoutWrap="wrap">
    <div style="padding: 5px;">
        <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
            <form nz-form [formGroup]="addForm">
                <div>
                    <div nz-row style="margin-bottom:10px;margin-top: 10px;">
                        <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="select_food" nzRequired>选择请款商品</nz-form-label>
                                <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="选择">
                                    <nz-select nzPlaceHolder="请选择" formControlName="select_food" (ngModelChange)="changeFood($event)" nzMode="multiple" nzAllowClear nzShowSearch>
                                        <nz-option *ngFor="let food of foodList" [nzLabel]="food?.goods_name+'&nbsp;&nbsp;规格：'+food?.spec_name" [nzValue]="food">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </div>
                        </nz-form-item>


                        <div formArrayName="foodOrderList" *ngFor="let human of foodOrderArr.controls as FormArray;let i = index" style="margin-bottom:10px;margin-top: 10px;">
                            <div [formGroupName]="i" nz-row>
                                <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                    <div nz-row>
                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="goods_id" nzRequired>商品id</nz-form-label>
                                        <nz-form-control [nzSm]="16" [nzXs]="24">
                                            <input nz-input formControlName="goods_id" readonly nzBorderless/>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>

                                <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                    <div nz-row>
                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="goods_name" nzRequired>商品名称</nz-form-label>
                                        <nz-form-control [nzSm]="16" [nzXs]="24">
                                            <input nz-input formControlName="goods_name" readonly nzBorderless/>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>

                                <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                    <div nz-row>
                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="goods_spec" nzRequired>商品规格</nz-form-label>
                                        <nz-form-control [nzSm]="16" [nzXs]="24">
                                            <input nz-input formControlName="goods_spec" readonly nzBorderless/>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>

                                <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                    <div nz-row>
                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cash_price" nzRequired>请款单价</nz-form-label>
                                        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入请款单价">
                                            <nz-input-number style="width: 89%;" formControlName="cash_price" [nzPrecision]="precision" nzPrecisionMode="cut" [nzMin]="0.01">
                                            </nz-input-number>
                                            <span style="line-height: 32px;padding: 0 9px;">元</span>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>

                                <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                    <div nz-row>
                                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="num" nzRequired>数量</nz-form-label>
                                        <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="请输入数量">
                                            <nz-input-number style="width: 100%;" formControlName="num" [nzPrecision]="cutNums" nzPrecisionMode="cut" [nzMin]="1">
                                            </nz-input-number>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                        </div>

                        <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cost_type" nzRequired>成本类型</nz-form-label>
                                <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="选择">
                                    <nz-select nzPlaceHolder="请选择" formControlName="cost_type" nzAllowClear nzShowSearch>
                                        <nz-option *ngFor="let type of typeList" [nzLabel]="type?.title" [nzValue]="type?.id">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="supplier_name" nzRequired>供应商</nz-form-label>
                                <nz-form-control [nzSm]="16" [nzXs]="24">
                                    <nz-select nzPlaceHolder="请选择" formControlName="supplier_name" (ngModelChange)="changeSuppy($event)" nzAllowClear nzShowSearch>
                                        <nz-option *ngFor="let cash of cashList" [nzLabel]="cash?.supplier_name" [nzValue]="cash?.id">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <ng-container *ngIf="selected">
                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                <div nz-row>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="bank_account" nzRequired>供应商收款账户
                                    </nz-form-label>
                                    <nz-form-control [nzSm]="16 " [nzXs]="24" nzErrorTip="请输入">
                                        <input nz-input formControlName="bank_account" readonly ngModel={{selected?.bank_account}}/>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>

                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                <div nz-row>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="bank_name" nzRequired>银行名称</nz-form-label>
                                    <nz-form-control [nzSm]="16 " [nzXs]="24" nzErrorTip="请输入">
                                        <input nz-input formControlName="bank_name" readonly ngModel={{selected?.bank_name}}/>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>

                            <nz-form-item nz-col [nzSm]="12" [nzXs]="24">
                                <div nz-row>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="bank_open" nzRequired>开户行地址</nz-form-label>
                                    <nz-form-control [nzSm]="16 " [nzXs]="24" nzErrorTip="请输入">
                                        <input nz-input formControlName="bank_open" readonly ngModel={{selected?.bank_open}}/>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>

                        </ng-container>

                        <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="remarks">请款说明</nz-form-label>
                                <nz-form-control [nzSm]="20 " [nzXs]="24">
                                    <input nz-input formControlName="remarks" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>


                    </div>
                </div>

            </form>


        </div>
    </div>
</div>