<div class="loginContainer" style="background-image: url(http://cdn.bigline.com.cn/static/images/bg-logo.jpg);">
    <div class="login-register-box">
        <mat-card class="example-card" style="width: 500px;height: 400px;">
            <mat-card-content>
                <form>
                    <div class="text-center">
                        <h4>店铺后台</h4>
                    </div>

                    <div fxlayout="row wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
                        <form [formGroup]="loginForm" style="width: 100%;">
                            <div fxflex.gt-sm="100" fxflex.gt-xs="100" fxflex="100" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="手机号码" value="" formControlName="mobile">
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="密码" value="" formControlName="password" type="password" (keyup.enter)="onEnter()">
                                </mat-form-field>
                            </div>
                        </form>
                    </div>

                </form>
                <div class="text-center" style="margin-top: 30px;">
                    <button mat-raised-button color="primary" style="width: 250px;letter-spacing: 2px;" (click)="login()">登陆</button>
                </div>
                <p style="text-align: center;margin-top: 4px;font-size: 14px;">建议使用<a style="color: red;" href="https://www.google.com">谷歌浏览器</a></p>

                <div fxLayout="row" fxLayoutAlign="space-between end" class="login-bottom">
                    <a [routerLink]="[ '/store/forgetPassword']">忘记密码<i nz-icon nzType="question-circle" nzTheme="outline"></i></a>
                    <a [routerLink]="[ '/store/registered']" style="float: right;">免费注册<i nz-icon nzType="user-add" nzTheme="outline"></i></a>
                </div>
            </mat-card-content>
        </mat-card>

    </div>

</div>