<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">

                    <form [formGroup]="searchForm" nz-row nz-form>
                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="title">产品名称</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="title" placeholder="请输入产品名称" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="code">产品编码/id</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="code" placeholder="请输入产品编码/id" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="dateStart">出发日期</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-range-picker nzFormat="yyyy-MM-dd" style="width: 100%;" placeholder="请选择出发日期" (ngModelChange)="onChangeDateOrder($event)" formControlName="dateStart"></nz-range-picker>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="departure_city">出发城市</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-cascader nzChangeOnSelect style="width: 100%;" placeholder="请选择出发城市" [nzOptions]="nzOptions" (ngModelChange)="onChangesdepartureCity($event)" formControlName="departure_city"></nz-cascader>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="destination_city">目的城市</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <nz-cascader nzChangeOnSelect style="width: 100%;" placeholder="请选择目的城市" [nzOptions]="nzOptions" (ngModelChange)="onChangesdestinationCity($event)" formControlName="destination_city"></nz-cascader>
                                </nz-form-control>
                            </div>
                        </nz-form-item>

                        <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                            <div nz-row>
                                <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="few_days">行程天数</nz-form-label>
                                <nz-form-control [nzSm]="15" [nzXs]="24">
                                    <input nz-input formControlName="few_days" placeholder="请输入行程天数" />
                                </nz-form-control>
                            </div>
                        </nz-form-item>


                        <nz-form-item nz-col [nzSm]="2" [nzXs]="24">
                            <div nz-row>
                                <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="search()">搜索</button>
                            </div>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSm]="2" [nzXs]="24">
                            <div nz-row>
                                <button mat-raised-button color="primary" style="width: 50px;letter-spacing: 2px;" (click)="reset()">重置</button>
                            </div>
                        </nz-form-item>

                    </form>


                    <div>
                        <nz-table #expandTable #rowSelectionTable nzBordered [nzFrontPagination]="false" [nzData]="dataSource" [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="page" [(nzPageSize)]="per_page" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePageIndex($event)"
                            (nzPageSizeChange)="changePageSize($event)">
                            <thead>
                                <tr>
                                    <th style="width: 4%;">日期</th>
                                    <th style="text-align: center;">产品id</th>
                                    <th style="text-align: center;">产品编码</th>
                                    <th style="text-align: center;width: 15%;">产品名称</th>
                                    <th style="text-align: center;">行程天数</th>
                                    <th style="text-align: center;">
                                        <div fxLayout="row" fxLayoutAlign="center center">
                                            <div>最低价格</div>
                                            <div fxLayout="column" fxLayoutAlign="space-around center" style="margin-left: 10px;">
                                                <i nz-icon style="cursor: pointer;width: 8px;height: 8px;color: gray;cursor: pointer;" nzType="caret-up" nzTheme="outline" title="最低价格从高到低" (click)="sortDesc()"></i>
                                                <i nz-icon style="cursor: pointer;width: 8px;height: 8px;color: gray;cursor: pointer;" nzType="caret-down" nzTheme="outline" title="最低价格从低到高" (click)="sortAsc()"></i>
                                            </div>
                                        </div>
                                    </th>
                                    <th style="text-align: center;">当前团的数量</th>
                                    <th style="text-align: center;">团的总人数</th>
                                    <th style="text-align: center;">出发城市</th>
                                    <th style="text-align: center;">目的城市</th>
                                    <th style="text-align: center;">海报</th>
                                    <th style="text-align: center;">行程详情</th>
                                    <th style="text-align: center;">下单</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-template ngFor let-data [ngForOf]="rowSelectionTable.data">
                                    <tr>
                                        <td [(nzExpand)]="data.expand" (nzExpandChange)="onExpandChange(data.id, $event)" title="查看可下单日期"></td>
                                        <td>{{data.id}}</td>
                                        <td>{{data.code}}</td>
                                        <td>{{data.title}}</td>
                                        <td>{{data.few_days}}天{{data.few_nights}}晚</td>
                                        <td>{{data?.minimum_price}}元</td>
                                        <td>{{data?.group_count}}</td>
                                        <td>
                                            {{ data?.member_total}}
                                        </td>
                                        <td>{{data.departure_city_name}}</td>
                                        <td>{{data?.destination_city_name}}</td>
                                        <td>
                                            <div title="点击查看海报" *ngIf="data.poster_url!=''">
                                                <a href={{data.poster_url}} target="_blank">
                                                    <img [src]="data.poster_url+'?x-oss-process=image/resize,limit_0,m_fill,w_50,h_50'">
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div *ngIf="data.schedule_file_url!=''">
                                                <a href={{data.schedule_file_url}} target="_blank" title="点击查看行程详情">
                                                    <i nz-icon nzType="file-text" nzTheme="outline" style="font-size: 20px;"></i>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <a (click)="anOrder(data)">去下单</a>
                                        </td>

                                    </tr>

                                    <tr [nzExpand]="data.expand">
                                        <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
                                            <div>
                                                <div style="display: flex; align-items: center;">
                                                    年
                                                    <nz-select [(ngModel)]="selectedYear" nzPlaceHolder="Choose" (ngModelChange)="ngYearChange($event)" style="margin: 0 5px;width: 100px;">
                                                        <nz-option *ngFor="let option of yearList" [nzValue]="option" [nzLabel]="option"></nz-option>
                                                    </nz-select>
                                                    <span style="margin-right: 5px;">月</span>
                                                    <nz-pagination [nzPageIndex]="nzPageIndex" [nzPageSize]="1" [nzTotal]="12" (nzPageIndexChange)="nzPageIndexChange($event)"></nz-pagination>
                                                </div>
                                                <div class="mat-elevation-z8" style="margin-top: 10px;">
                                                    <nz-calendar [(ngModel)]="selectedDateValue" (nzSelectChange)="selectChange($event)">
                                                        <div *nzDateCell="let date" class="events">
                                                            <ng-container *ngFor="let item of data?.date_quote">
                                                                <ng-container *ngIf="(date | date:'yyyy-MM-dd')==item.date">
                                                                    <div class="item itemFree" [class]="item.check_status==2?'item-bg-success': item.check_status==3?'item-bg-error':''">
                                                                        <div>成人: <span style="color: red;">¥{{item.adult_price}}</span></div>
                                                                        <div>儿童:
                                                                            <span style="color: red;" *ngIf="detailModel?.child_status===1">¥{{item.child_price}}</span>
                                                                            <span style="color: red;" *ngIf="detailModel?.child_status===0">-</span>
                                                                        </div>
                                                                        <div>婴儿:
                                                                            <span style="color: red;" *ngIf="detailModel?.child_status===1">¥{{item.baby_price}}</span>
                                                                            <span style="color: red;" *ngIf="detailModel?.child_status===0">-</span>
                                                                        </div>
                                                                        <div>差价: <span style="color: red;">¥{{item.difference_price}}</span></div>
                                                                        <div>库存: <span style="color: red;">
                                                                        <span *ngIf="item.set_inventory==0">-</span>
                                                                            <span *ngIf="item.set_inventory==1">{{item.inventory_num}}</span>
                                                                            </span>
                                                                        </div>
                                                                        <div>剩余库存: <span style="color: red;">
                                                                            <span *ngIf="item.set_inventory==0">-</span>
                                                                            <span *ngIf="item.set_inventory==1">
                                                                                <span *ngIf="item.allow_over==0">{{item.inventory_num-item.sold_num<0?'0':item.inventory_num-item.sold_num}}</span>
                                                                            <span *ngIf="item.allow_over==1">{{item.inventory_num-item.sold_num}}</span>
                                                                            </span>
                                                                            </span>
                                                                        </div>
                                                                        <div *ngIf="item.set_inventory==1" style="color: red;">！{{item.allow_over==1?'可超卖':'不能超卖'}}</div>

                                                                    </div>
                                                                </ng-container>
                                                            </ng-container>
                                                        </div>
                                                    </nz-calendar>

                                                </div>
                                            </div>
                                        </div>
                                    </tr>


                                </ng-template>
                            </tbody>

                        </nz-table>
                    </div>

                </div>


            </div>
        </mat-card>
    </div>
</div>