<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">

        <div class="example-container">
            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                <div fxLayout="row" fxLayoutGap="20px">
                    <button mat-raised-button color="primary" style="letter-spacing: 2px;" routerLink="/admin/main/freeTravelOrder">返回自由行订单列表</button>
                </div>

                <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
                    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">

                        <mat-card>
                            <div>
                                <div fxLayout="column" fxLayoutAlign="start stretch">
                                    <div fxLayout="row" fxLayoutAlign="space-between center">
                                        <div>
                                            <h4 style="padding-left: 10px;padding-top: 10px;">订单基本信息</h4>
                                        </div>
                                    </div>
                                    <nz-divider></nz-divider>
                                    <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                        <div>
                                            <h5 style="font-weight: bold;">{{detailModel?.order?.data?.product_name}}</h5>
                                            <div>
                                                <button class="btn" *ngIf="detailModel?.order?.data?.order_status===0">订单已取消</button>
                                                <button class="btn" *ngIf="detailModel?.order?.data?.order_status===1">订单待支付</button>
                                                <button class="btn" *ngIf="detailModel?.order?.data?.order_status===2">订单待出行</button>
                                                <button class="btn" *ngIf="detailModel?.order?.data?.order_status===3">订单已完成</button>
                                            </div>
                                        </div>
                                    </div>
                                    <nz-divider></nz-divider>
                                    <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                        <form nz-form [formGroup]="addForm" nz-row>
                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="order_id">订单id</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="order_id" nzBorderless readonly [ngModel]="detailModel?.order_id" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>

                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="code">预约码</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="code" nzBorderless readonly [ngModel]="detailModel?.code.toString()" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>

                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="created_at">预约日期</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="created_at" nzBorderless readonly [ngModel]="detailModel?.created_at|date:'yyyy-MM-dd HH:mm:ss'" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>


                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="use_date">出发日期</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="use_date" nzBorderless readonly [ngModel]="detailModel?.use_date" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>

                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="store_name">店铺名称</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="store_name" nzBorderless readonly [ngModel]="detailModel?.order?.data?.store_name" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>

                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contact_name">联系人姓名</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="contact_name" nzBorderless readonly [ngModel]="detailModel?.order?.data?.contact_name" />

                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>

                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contact_phone">联系人电话</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="contact_phone" nzBorderless readonly [ngModel]="detailModel?.order?.data?.contact_phone" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>

                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contact_wechat">联系人微信</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="contact_wechat" nzBorderless readonly [ngModel]="detailModel?.order?.data?.contact_wechat" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>

                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contact_qq">联系人qq</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="contact_qq" nzBorderless readonly [ngModel]="detailModel?.order?.data?.contact_qq" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>

                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contact_email">联系人邮箱</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="contact_email" nzBorderless readonly [ngModel]="detailModel?.order?.data?.contact_email" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>

                                            <nz-form-item nz-col [nzSm]="6" [nzXs]="24">
                                                <div nz-row>
                                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="customer_remarks">客人备注</nz-form-label>
                                                    <nz-form-control [nzSm]="12" [nzXs]="24">
                                                        <input nz-input formControlName="customer_remarks" nzBorderless readonly [ngModel]="detailModel?.order?.data?.customer_remarks" />
                                                    </nz-form-control>
                                                </div>
                                            </nz-form-item>







                                        </form>

                                    </div>

                                </div>

                            </div>
                        </mat-card>


                        <mat-card *ngIf="detailModel?.quote_type!=1">
                            <div>
                                <div fxLayout="column" fxLayoutAlign="start stretch">
                                    <div fxLayout="row" fxLayoutAlign="space-between center">
                                        <div>
                                            <h4 style="padding-left: 10px;padding-top: 10px;">订单费用情况</h4>
                                        </div>
                                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                                            <button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="changePrice()" [disabled]="!(detailModel?.order_status===1||detailModel?.order_status===2)">订单改价</button>
                                        </div>
                                    </div>
                                    <nz-divider></nz-divider>
                                    <div style="padding:10px 10px" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
                                        <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
                                            <div>
                                                <div>
                                                    <button class="btn" *ngIf="detailModel?.payment_status===0">待支付</button>
                                                    <button class="btn" *ngIf="detailModel?.payment_status===1">已支付</button>
                                                    <button class="btn" *ngIf="detailModel?.payment_status===2">待支付</button>
                                                </div>
                                            </div>
                                            <div style="margin-top:13px">
                                                <div style="font-weight: 200;font-size: 14px;letter-spacing: 1px;">
                                                    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                        <div style="width: 50%;">成人x{{detailModel?.num_adult}}</div>
                                                        <div style="width: 50%;">￥{{detailModel?.price_adult}}*{{detailModel?.num_adult}}</div>
                                                    </div>

                                                    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;" *ngIf="detailModel?.price_kid!=0&&detailModel?.num_kid!=0">
                                                        <div style="width: 50%;">儿童x{{detailModel?.num_kid}}</div>
                                                        <div style="width: 50%;">￥{{detailModel?.price_kid}}*{{detailModel?.num_kid}}</div>
                                                    </div>

                                                    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;" *ngIf="detailModel?.price_baby!=0&&detailModel?.baby_num!=0">
                                                        <div style="width: 50%;">婴儿x{{detailModel?.baby_num}}</div>
                                                        <div style="width: 50%;">￥{{detailModel?.price_baby}}*{{detailModel?.baby_num}}</div>
                                                    </div>

                                                    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;" *ngIf="detailModel?.price_diff!=0&&detailModel?.num_diff!=0">
                                                        <div style="width: 50%;">补房差</div>
                                                        <div style="width: 50%;">￥{{detailModel?.price_diff}}*{{detailModel?.num_diff}}</div>
                                                    </div>
                                                    <ng-container *ngIf="detailModel?.price_other!=0">
                                                        <ng-container *ngFor="let fee of detailModel?.price_detail?.data">
                                                            <ng-container *ngIf="fee?.type==0">
                                                                <div fxLayout="column" fxLayoutAlign="start stretch">
                                                                    <!-- 附加收费 -->
                                                                    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                                        <div style="width: 50%;">{{fee?.title}}</div>
                                                                        <div style="width: 50%;">￥{{fee?.price}}</div>
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                        </ng-container>
                                                    </ng-container>

                                                    <ng-container *ngIf="detailModel?.discount_other!=0">
                                                        <ng-container *ngFor="let fee of detailModel?.price_detail?.data">
                                                            <ng-container *ngIf="fee?.type==1">
                                                                <div fxLayout="column" fxLayoutAlign="start stretch">
                                                                    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                                        <!-- 优惠 -->
                                                                        <div style="width: 50%;">{{fee?.title}}</div>
                                                                        <div style="width: 50%;">-￥{{fee?.price}}</div>
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                        </ng-container>
                                                    </ng-container>
                                                </div>

                                                <div style="font-weight: 500;font-size: 16px;color: red;" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">

                                                    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                        <div style="width: 50%;">合计</div>
                                                        <div style="width: 50%;">￥{{detailModel?.price_total}}</div>
                                                    </div>
                                                    <div style="width: 32%;border-top: 1px solid rgba(0,0,0,.06);"></div>
                                                    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                        <div style="width: 50%;">已收金额</div>
                                                        <div style="width: 50%;">￥{{detailModel?.price_receive}}</div>
                                                    </div>
                                                    <div style="width: 32%;border-top: 1px solid rgba(0,0,0,.06);"></div>
                                                    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;" *ngIf="detailModel?.refund_status!=0">
                                                        <div style="width: 50%;">退款金额</div>
                                                        <div style="width: 50%;">
                                                            <span>￥{{detailModel?.refund_amount}}</span>
                                                            <span style="color: black;" *ngIf="detailModel?.refund_status==2">(退款中金额￥{{detailModel?.refunding_amount}})</span>
                                                        </div>
                                                    </div>
                                                    <div style="width: 32%;border-top: 1px solid rgba(0,0,0,.06);" *ngIf="detailModel?.refund_status!=0"></div>
                                                    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                        <div style="width: 50%;">实收金额</div>
                                                        <div style="width: 50%;">￥{{detailModel?.amount_received}}</div>
                                                    </div>
                                                    <div style="width: 32%;border-top: 1px solid rgba(0,0,0,.06);"></div>
                                                    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="150px" style="width: 700px;">
                                                        <div style="width: 50%;">还需收款金额</div>
                                                        <div style="width: 50%;">￥{{priceTotal}}</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </nz-spin>
                                    </div>
                                </div>

                            </div>
                        </mat-card>




                    </div>
                </nz-spin>
            </div>

        </div>

    </div>
</div>