<div fxLayoutWrap="wrap">
    <div fxLayoutAlign="end start">
        <div style="font-size: 18px;cursor: pointer;" (click)="close()">X</div>
    </div>
    <div style="padding: 5px;">
        <form nz-form [formGroup]="addForm" nz-row>
            <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="title">标题</nz-form-label>
                    <nz-form-control [nzSm]="18" [nzXs]="24">
                        <input nz-input formControlName="title" />
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="content">内容</nz-form-label>
                    <nz-form-control [nzSm]="18" [nzXs]="24">
                        <div class="wangeditor-feature">
                            <div id="editorFeature" style="background-color: ghostwhite;border-bottom: 1px solid #EEE;z-index: 1;"></div>
                            <div id="editor" class="w-e-text">
                                <div #featureBox></div>
                            </div>
                        </div>
                        <!-- <textarea nz-input formControlName="content" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea> -->
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="24" [nzXs]="24">
                <div nz-row>
                    <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="status" nzRequired>状态</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-radio-group ngModel="{{data.check_status}}" formControlName="check_status" (ngModelChange)="isCheck($event)">
                            <label nz-radio nzValue=2>已通过 </label>
                            <label nz-radio nzValue=3>未通过 </label>
                        </nz-radio-group>
                    </nz-form-control>
                </div>
            </nz-form-item>

            <nz-form-item nz-col [nzSm]="24" [nzXs]="24" *ngIf="isReason">
                <div nz-row>
                    <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="reason">审核失败原因</nz-form-label>
                    <nz-form-control [nzSm]="19" [nzXs]="24">
                        <textarea nz-input formControlName="reason" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>

                    </nz-form-control>
                </div>
            </nz-form-item>


            <nz-form-item nz-col class="register-area" [nzSm]="24" [nzXs]="24">
                <nz-form-control [nzSpan]="14" [nzOffset]="12">
                    <button nz-button nzType="primary" (click)="review()">审核</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>