[nz-form] {
    max-width: 1000px;
}

.phone-select {
    width: 70px;
}

.register-are {
    margin-bottom: 8px;
}

.wangeditor-feature {
    border: 1px solid #c9d8dc;
    overflow: hidden !important;
    resize: both !important;
    /* height: 300px; */
    min-height: 200px;
}