<div fxLayoutWrap="wrap">

    <div style="padding: 5px;">
        <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
            <form nz-form [formGroup]="addForm">
                <nz-form-item>
                    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="regionCode">区域</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-cascader nzChangeOnSelect [nzOptions]="nzOptions" [(ngModel)]="values" (ngModelChange)="onChanges($event)" formControlName="regionCode"></nz-cascader>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="address" nzRequired>页面名称</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请选择">
                        <nz-select nzPlaceHolder="请选择页面名称" (ngModelChange)="changeList($event)" formControlName="name" [(ngModel)]="selectedPage" [compareWith]="compare">
                            <nz-option *ngFor="let data of dataList" [nzValue]="data" [nzLabel]="data.page_name">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>


                <nz-form-item>
                    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="address">页面key</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input formControlName="key" [(ngModel)]="isValue" />
                    </nz-form-control>
                </nz-form-item>


                <nz-form-item>
                    <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="status" nzRequired>状态</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-radio-group formControlName="status" [(ngModel)]="status">
                            <label nz-radio nzValue='0'>禁用</label>
                            <label nz-radio nzValue='1'>启用</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>



            </form>
        </nz-spin>
    </div>
</div>