<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <div class="banner">
            <div class="container">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
                        <div>
                            <img style="width: 80px;height: 74px;" src="http://cdn.bigline.com.cn/static/images/login_logo.jpg">
                        </div>
                        <div style="width: 2px;height: 42px;border: 2px solid #666666;"></div>
                        <div style="font-size: 24px;font-family: Noto Sans S Chinese;font-weight: 400;color: #000000;">启航旅游商家后台</div>
                    </div>
                    <div></div>

                </div>
            </div>
        </div>
    </div>
</div>