<div fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <div class="example-container" style="padding: 15px;">
                <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="20px">
                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start stretch">
                        <div><button mat-raised-button color="primary" style="letter-spacing: 2px;" routerLink="/admin/main/adminStoreManage">返回门店管理</button></div>
                        <div><button mat-raised-button color="primary" style="letter-spacing: 2px;" (click)="setSchedule()">设置排班</button></div>
                    </div>
                    <div>
                        <div fxLayout="row" fxLayoutGap="100px" fxLayoutAlign="start stretch" style="background: antiquewhite;height: 41px;padding: 9px;">
                            <div style="display: flex;">店铺名称:<h4 style="margin-left: 5px;">{{shopName}}</h4></div> 
                            <div style="font-size: 15px;font-weight: bold;">当前时间: {{ seletYearMonth}}</div>
                        </div>
                    </div>
                    <div style="display: flex; align-items: center;">
                        年
                        <nz-select [(ngModel)]="selectedYear" nzPlaceHolder="Choose" (ngModelChange)="ngYearChange($event)" style="margin: 0 5px;width: 100px;">
                            <nz-option *ngFor="let option of yearList" [nzValue]="option" [nzLabel]="option"></nz-option>
                        </nz-select>
                        <span style="margin-right: 5px;">月</span>
                        <nz-pagination [nzPageIndex]="nzPageIndex" [nzPageSize]="1" [nzTotal]="12" (nzPageIndexChange)="nzPageIndexChange($event)"></nz-pagination>
                    </div>
                    <div class="mat-elevation-z8">
                        <nz-spin [nzSpinning]="isSpinning" nzTip="Loading...">
                            <nz-calendar [(ngModel)]="selectedDateValue" (nzSelectChange)="selectChange($event)">

                                <div *nzDateCell="let date" class="events">
                                    <ng-container *ngFor="let item of listDataMap">
                                        <ng-container *ngIf="(date | date:'yyyy-MM-dd')==item.date">
                                            <div class="item itemFree item-bg-success">
                                                <div><span style="color: red;">{{item.admin_name}}</span></div>
                                            </div>
                                        </ng-container>

                                    </ng-container>
                                </div>
                            </nz-calendar>
                        </nz-spin>
                    </div>
                </div>

            </div>
        </mat-card>
    </div>
</div>